$carousel-class: "-carousel" !global
$carousel-item-class: "-item" !global
$carousel-arrow-class: "-arrow" !global
$carousel-arrow-size: 100px !global
$carousel-arrow-margin: 30px
$carousel-z-index: 1004 !global
$carousel-background-opacity: .9 !global
$carousel-padding-vertical: 30px !global
$carousel-padding-horizontal: 30px !global

$carousel-item-animate-left: "_left_" !global
$carousel-item-animate-right: "_right_" !global
$carousel-item-animate-start: "-start"


$carousel-close-size: 38px