$nav-list-group-class: "#{$pref-widget}list-group#{$post-widget}" !global
$nav-list-group-items-padding-vertical: $base-padding-vertical / 2 !global
$nav-list-group-items-padding-horizontal: $base-padding-horizontal !global
$nav-list-group-items-border-width: 1px !global
$nav-list-group-items-active-border-width: 2px !global
$nav-list-group-items-margin: 1px !global
