@import "../../grid"

@import "themes"
@import "sizes"

@include exports("forms/fieldsets")

	fieldset
		@extend .#{$row-class}
		border: $form-fieldset-border
		padding: $form-fieldset-padding-vertical / 3 $form-fieldset-padding-horizontal $form-fieldset-padding-vertical

		legend
			padding: 6px
			margin-left: -$form-legend-padding
