@import "variables"

@mixin nav-item-setter( $size )
	$name: map-get( $size, name)
	$multiplier: map-get( $size, multiplier)

	font-size: $multiplier * $base-font-size

@mixin nav-setter
	margin: 0
	padding: 0
	list-style: none
	@include clearfix

	&.#{$mod-justify}
		width: 100%

		#{$nav-item}
			display: table-cell
			width: 1%
			float: none

	&.#{$mod-responsive}
		@include media(new-breakpoint(max-width 992px 6))
			width: 100%

		@include media(new-breakpoint(max-width 992px 6))
			#{$nav-item}
				display: table-cell
				width: 1%
				float: none

	&.#{$mod-vertical}
		#{$nav-item}
			width: 100%

	#{$nav-item}
		display: block
		position: relative

		a
			display: block
			position: relative

			.#{$addon-class}
				margin-left: $nav-addon-margin
				opacity: .3
				line-height: $base-line-height

	// 	.#{$dropdown-class}
	// 		display: none
	//
	//
	// 	&.#{$mod-active}
	// 		.#{$dropdown-class}
	// 			display: block
	//
	// 	&.#{$mod-disabled}, &[disabled]
	// 		a
	// 			cursor: not-allowed
	//
	// &.#{$mod-hovered}
	// 	#{$nav-item}
	// 		&.#{$mod-hovered}, &:hover
	// 			& > .#{$dropdown-class}
	// 				display: block

	@each $sizeName in $sizes
		$sz: map-get( $base-sizes, $sizeName )
		@if $sizeName == normal
			#{$nav-item}
				a
					@include nav-item-setter($sz)

		&._#{$sizeName}
			#{$nav-item}
				a
					@include nav-item-setter($sz)
