@import "../../js/bower/highlightjs-scss/styles/github"


.example-block
	margin: 15px 0
	border: 1px solid #ccc
	border-radius: 5px


.example-block
	.example, .view
		padding: 15px!important

	.example
		border: none
		border-radius: 0
		border-top: 1px solid #ccc
		background-color: rgba(0,0,0,.03)
		margin-bottom: 0

		pre
			padding: 0
			border: none
			margin: 0

		&:first-child
			border-top: none


.row-color
	background-color: #d5e7f1
	margin-bottom: 1px
	padding: 10px

	.column-color
		background-color: #baddf1
		padding: 10px