$nav-pills-class: "#{$pref-widget}pills#{$post-widget}" !global
$nav-pills-border-width: 1px !global
$nav-pills-items-padding-vertical: $base-padding-vertical !global
$nav-pills-items-padding-horizontal: $base-padding-horizontal !global
$nav-pills-items-border-radius: 3px !global
$nav-pills-items-margin: 1px !global
