@import "../dropdowns/common"

@mixin nav-theme-list-group-setter($i)
	#{$nav-item}

		&:hover, &.#{$mod-hovered}
			& > a
				border-color: nth($themes-border-colors, $i)
		
		&.#{$mod-active}
			& > a				
				border-color: nth($themes-border-colors, $i)
				color: nth($themes-colors, $i)


		&.#{$mod-disabled}, &[disabled]
			a, :active &, .#{$mod-active} &, :hover &, .#{$mod-hovered} &
				background: transparent
				color: rgba(nth($themes-colors, index($themes, "-default-")),.3)
				pointer-events: none
				border-color: transparent


@mixin nav-theme-list-group-item-setter($i)
	#{$nav-item}.#{nth($themes, $i)}

		&:hover, &.#{$mod-hovered}
			& > a
				border-color: nth($themes-border-colors, $i)
				color: nth($themes-colors, $i)
		
		&.#{$mod-active}
			& > a				
				border-color: nth($themes-border-colors, $i)
				color: nth($themes-colors, $i)


		&.#{$mod-disabled}, &[disabled]
			a, :active &, .#{$mod-active} &, :hover &, .#{$mod-hovered} &
				background: transparent
				color: rgba(nth($themes-colors, index($themes, "-default-")),.3)
				pointer-events: none
				border-color: transparent


@include exports("nav/list-group")
	
	.#{$nav-list-group-class}
		display: block

		#{$nav-item}
			margin-right: 0
			margin-bottom: $nav-tabs-items-margin
			float: none
			display: block

			a
				padding: $nav-list-group-items-padding-vertical $nav-list-group-items-padding-horizontal
				border-left-width: $nav-list-group-items-border-width
				border-style: solid
				border-color: transparent
				outline: none
				font-size: $base-font-size
				line-height: $base-line-height
				@include user-select(none)
				cursor: pointer
				color: nth($themes-colors, index($themes, "-default-"))
				text-decoration: none

				.#{$addon-class}
					position: absolute
					right: $nav-list-group-items-padding-horizontal




			&.#{$mod-active}
				
				& > a
					cursor: inherit
					font-weight: bold
					padding: $nav-list-group-items-padding-vertical $nav-list-group-items-padding-horizontal $nav-list-group-items-padding-vertical $nav-list-group-items-padding-horizontal - $nav-list-group-items-active-border-width						
					border-left-width: $nav-list-group-items-active-border-width

			#{$nav-item}
				a
					padding: $nav-list-group-items-padding-vertical / 2 $nav-list-group-items-padding-horizontal $nav-list-group-items-padding-vertical / 2 $nav-list-group-items-padding-horizontal * 2
					font-size: 80%

				&.#{$mod-active}
					a
						padding: $nav-list-group-items-padding-vertical / 2 $nav-list-group-items-padding-horizontal $nav-list-group-items-padding-vertical / 2 $nav-list-group-items-padding-horizontal * 2 - $nav-list-group-items-active-border-width

		&.#{$mod-right}
			#{$nav-item}
				a
					border-left-width: 0
					border-right-width: $nav-list-group-items-border-width
				
				&.#{$mod-active}
					& > a
						border-left-width: 0
						border-right-width: $nav-list-group-items-active-border-width

		@include nav-setter


		@each $theme in $themes
			$i: index($themes, $theme)
			
			@if $theme == "-default-"
				@include nav-theme-list-group-setter($i)
				&.#{$theme}
					@include nav-theme-list-group-setter($i)
			@else
				@include nav-theme-list-group-item-setter($i)
				&.#{$theme}
					@include nav-theme-list-group-setter($i)