$nav-item: li !global

$nav-tabs-class: "-tabs" !global
$nav-tabs-border-width: 1px !global
$nav-tabs-items-padding-vertical: $base-padding-vertical !global
$nav-tabs-items-padding-horizontal: $base-padding-horizontal !global
$nav-tabs-items-border-radius: 3px !global
$nav-tabs-items-margin: 1px !global

$nav-pills-class: "-pills" !global
$nav-pills-border-width: 1px !global
$nav-pills-items-padding-vertical: $base-padding-vertical !global
$nav-pills-items-padding-horizontal: $base-padding-horizontal !global
$nav-pills-items-border-radius: 3px !global
$nav-pills-items-margin: 1px !global

$nav-menu-class: "-menu" !global
$nav-menu-items-padding-vertical: $base-padding-vertical !global
$nav-menu-items-padding-horizontal: $base-padding-horizontal !global
$nav-menu-items-border-width: 1px !global
$nav-menu-items-border-radius: 0px !global
$nav-menu-items-margin: 1px !global

$nav-bar-class: "-navbar" !global
$nav-bar-height: 50px !global
$nav-bar-padding-horizontal: $base-padding-horizontal !global
$nav-bar-border-width: 1px !global
$nav-bar-style: solid !global
$nav-bar-border-radius: 3px !global
$nav-bar-z-index: $dropdown-z-index + 1 // It's only fo _top_ or _bottom_ navbars. Need to be over dropdowns.
$nav-bar-toggle-class: #{$nav-bar-class}-toggle

$nav-addon-margin: 4px !global
$nav-addon-size: 15px !global


$nav-list-group-class: "-list-group" !global
$nav-list-group-items-padding-vertical: $base-padding-vertical / 2 !global
$nav-list-group-items-padding-horizontal: $base-padding-horizontal !global
$nav-list-group-items-border-width: 1px !global
$nav-list-group-items-active-border-width: 2px !global
$nav-list-group-items-margin: 1px !global