@import 'variables'

h1
	font-size: $headings-h1-font-size
h2
	font-size: $headings-h2-font-size
h3
	font-size: $headings-h3-font-size
h4
	font-size: $headings-h4-font-size
h5
	font-size: $headings-h5-font-size
h6
	font-size: $headings-h6-font-size

h1, h2, h3, h4, h5, h6
	line-height: $headings-line-height
	font-weight: $headings-font-weight
	font-family: $headings-font-family
	color: $headings-color

	small
		color: $headings-injection-color

	@each $size in $base-sizes-names
		$i: index($base-sizes-names, $size)
		.#{$size}
			font-size: nth($base-sizes-values, $i) * 100%


h1, h2, h3
	margin-top: $base-line-height-comp
	margin-bottom: $base-line-height-comp / 2

h4, h5, h6
	margin-top: $base-line-height-comp / 2
	margin-bottom: $base-line-height-comp / 2
	font-weight: $headings-font-weight-small

@for $i from 1 through 6
	.#{$headings-class}#{$i}
		@extend h#{$i}