$headings-class: "-h"

$headings-h1-font-size: floor($base-font-size * 2.6) !default
$headings-h2-font-size: floor($base-font-size * 2.15) !default
$headings-h3-font-size: floor($base-font-size * 1.7) !default
$headings-h4-font-size: floor($base-font-size * 1.25) !default
$headings-h5-font-size: $base-font-size !default
$headings-h6-font-size: floor($base-font-size * 0.85) !default

$headings-line-height: 1.1 !default

$headings-font-weight: 500 !default
$headings-font-weight-small: 500 !default
$headings-font-family: inherit !default