// HEADINGS
$headings-class: "-h"

$headings-h1-font-size: floor($base-font-size * 2.6) !global
$headings-h2-font-size: floor($base-font-size * 2.15) !global
$headings-h3-font-size: floor($base-font-size * 1.7) !global
$headings-h4-font-size: floor($base-font-size * 1.25) !global
$headings-h5-font-size: $base-font-size !global
$headings-h6-font-size: floor($base-font-size * 0.85) !global

$headings-line-height: 1 !global

$headings-font-weight: 500 !global
$headings-font-weight-small: 500 !global
$headings-font-family: inherit !global
$headings-color: inherit !global
$headings-injection-color: #999 !global




// BODY
$body-b-font-weight: 700 !global
$body-i-font-style: italic !global
$body-small-font-size: 85% !global


$abbr-initialism-class: "-initialism" !global

$blockquote-small-font-size: 80% !global



// LISTS
$list-item-inline-padding: 5px



// CODE
$code-border: 0px solid rgba(0,0,0,.05)
$code-color: #c7254e
$code-background: #f9f2f4
$code-font-size: 90%
$code-padding: 1px 4px
$code-border-radius: 2px

$pre-bg: #f5f5f5
$pre-color: #777
$pre-border-color: #ccc
$pre-border-radius: 3px



// HR
$hr-margin-vertical: 35px
$hr-margin-horizontal: 30%
$hr-width: 40%