@import "variables"
@import "sizes"
@import "themes"

@mixin typography-theme-link-hang-setter($theme)
	$name: map-get( $theme, name)
	$color: map-get( $theme, color)
	$white-color: map-get( $theme, white-color)
	$border-color: map-get( $theme, border-color)
	$background-color: map-get( $theme, background-color)

	background: -webkit-linear-gradient($color, $color) center 1.09em no-repeat
	background: linear-gradient($color, $color) no-repeat scroll center 1.09em transparent
	background: -moz-linear-gradient($color, $color) no-repeat scroll center 0.9em transparent



@mixin typography-size-link-hang-setter($size)
	$name: map-get( $size, name)
	$multiplier: map-get( $size, multiplier)

	background-size: 85% $multiplier * $typo-link-hang-underline-height!important

	&:hover
		background-size: 95% $multiplier * $typo-link-hang-underline-height!important




@include exports("typography/links/hang")

	.#{$typo-link-hang-class}

		// You should change this text-shadow for different backgrounds
		text-shadow: .1em 0 0 #fff, -.1em 0 0 #fff
		text-decoration: none
		@include transition( background-size .2s ease )

		@each $themeName in $themes
			$thm: map-get( $base-themes, $themeName )

			@if $themeName == default
				@include typography-theme-link-hang-setter($thm)
			&.#{$pref-theme}#{$themeName}#{$post-theme}
				@include typography-theme-link-hang-setter($thm)


		@each $sizeName in $sizes
			$sz: map-get( $base-sizes, $sizeName )
			@if $sizeName == normal
				@include typography-size-link-hang-setter($sz)
			&.#{$pref-size}#{$sizeName}#{$post-size}
				@include typography-size-link-hang-setter($sz)


	// Change size and theme inside inline elements
	b, i, small, p, span

		@each $themeName in $themes
			$thm: map-get( $base-themes, $themeName )
			@if $themeName == default
				.#{$typo-link-hang-class}
					@extend .#{$typo-link-hang-class}.#{$pref-theme}#{$themeName}#{$post-theme}
			&.#{$pref-theme}#{$themeName}#{$post-theme}
				.#{$typo-link-hang-class}
					@extend .#{$typo-link-hang-class}.#{$pref-theme}#{$themeName}#{$post-theme}

		@each $sizeName in $sizes
			$sz: map-get( $base-sizes, $sizeName )
			@if $sizeName == normal
				.#{$typo-link-hang-class}
					@extend .#{$typo-link-hang-class}.#{$pref-size}#{$sizeName}#{$post-size}
			&.#{$pref-size}#{$sizeName}#{$post-size}
				.#{$typo-link-hang-class}
					@extend .#{$typo-link-hang-class}.#{$pref-size}#{$sizeName}#{$post-size}
