// .-font-lobster
// 	font-family: "jaf-bernino-sans", cursive
// 	font-weight: bold

// .-font-raleway
// 	font-family: 'Raleway'
// 	font-style: normal
// 	font-weight: 800

.tk-jaf-bernina-sans
	font-weight: 800

.tk-raleway, .subtitle
	font-weight: 100

body
	height: 100%
	font-family: "freight-text-pro"

.-wall
	font-family: Helvetica

nav.-navbar-float
	font-family: "jaf-bernina-sans"
	border-width: 0
	position: fixed


.logo
	display: inline-block
	padding: 15px 12px

.-developer-post
	font-size: 140%
	
	blockquote
		font-size: 120%
		line-height: 1.3em
		margin: 40px 0

	h1, h2, h3, h4, h5, h6
		font-size: 140%
		& + p
			margin-top: 10px

	p
		margin: 40px 0
		// line-height: 1.6em

		& + p, & + figure
			margin-top: 0

	figure
		margin: 40px 0
		
		figcaption
			p
				margin: 0

// .-play
// 	width: 20px
// 	height: 20px