// .-font-lobster
// 	font-family: "jaf-bernino-sans", cursive
// 	font-weight: bold

// .-font-raleway
// 	font-family: 'Raleway'
// 	font-style: normal
// 	font-weight: 800

.tk-jaf-bernina-sans
	font-weight: 800

.tk-raleway, .subtitle
	font-weight: 100

body
	height: 100%
	font-family: "freight-text-pro"

.-wall
	font-family: Helvetica

// .-play
// 	width: 20px
// 	height: 20px