.-font-lobster
	font-family: 'Lobster Two', cursive

.-font-raleway
	font-family: 'Raleway'
	font-weight: 50

body
	font-family: 'Proxima Nova'
	height: 100%

// .-play
// 	width: 20px
// 	height: 20px