$modal-class: "-modal" !global
$modal-z-index: 1004 !global
$modal-background-opacity: .8 !global
$modal-padding-vertical: 30px !global
$modal-dialog-class: "-dialog" !global
$modal-dialog-border-radius: 7px !global
// $modal-dialog-background: #fff !global
$modal-dialog-padding-horizontal: 20px !global
$modal-dialog-padding-vertical: 20px !global
$modal-dialog-border-width: 1px !global
$modal-dialog-border-style: solid !global
$modal-dialog-shadow: 0 0 40px rgba(#000, .3) !global
$modal-dialog-close-size: 38px !global
// $modal-border-radius: 3px
// $modal-arrow-size: 18px
// $modal-content-padding-vertical: 15px
// $modal-content-padding-horizontal: 15px
// $modal-shadow: 0 3px 10px rgba(#000, .1)