@import "variables"

@include exports("comments/common")

	.#{$comments-class}
		list-style: none
		margin: 0
		
		.#{$item-class}
			@include row( table, LTR )
			width: auto
			margin-bottom: $comments-item-margin-bottom

			.#{$content-class}
				display: table-cell
				vertical-align: top

				.#{$avatar-class}
					margin-bottom: 0.1em

				&.#{$mod-hidden}, .#{$mod-hidden}
					opacity: 0
					@include transition( opacity .3s ease-out )

			&:hover
				.#{$content-class}
					&.#{$mod-hidden}, .#{$mod-hidden}
						opacity: 1

			&:empty
				display: none

	

	// Hide thumbnail, show only text
	@include media(new-breakpoint(max-width 768px 6))
		.#{$comments-class}
			.#{$item-class}
				.#{$content-class}
					&.#{$mod-hidden}, .#{$mod-hidden}
						opacity: 1