@mixin shader-theme-setter($i)
	// @if nth($themes, $i) == "-default-"
	// 	background-color: nth($themes-background-light-colors, $i)
	// @else
	// 	background-color: lighten(nth($themes-background-light-colors, $i), 25%)

	// color: nth($themes-white-colors, $i)


@include exports("shader/common")
	.#{$shader-class}
		&:before
			content: ' '
			display: block
			position: absolute
			top: 0
			bottom: 0
			left: 0
			right: 0
			background: url("#{$path-img}/shaders/pattern1.png") //rgba(#000, .5)
			z-index: 1