$animations-archiveme-class: "-archiveme--" !global

$animations-archiveme-duration: 0.7s !global
$animations-archiveme-timing-function: cubic-bezier(0.7, 0, 0.3, 1) !global
$animations-archiveme-delay: 0s !global




@include exports("animations/archiveMe")

	@include keyframes( scaleHalfDown )
		to
			@include transform( scale(0.6) )
			opacity: 0

	@include keyframes( slideOutToBottom )
		to
			@include transform( translateY(100%) )

	@include keyframes( slideInFromBottom )
		from
			@include transform( translateY(100%) )
		to
			@include transform( translateY(0) )

		
	@include keyframes( scaleHalfUp )
		from
			opacity: 0
			@include transform( scale(0.6) )
		to
			@include transform( scale(1) )





	.#{$animations-archiveme-class}
		
		&.#{$animation-start-class}
			&.#{$mod-right}
				opacity: 1
				@include animation( slideInFromBottom $animations-archiveme-duration forwards $animations-archiveme-timing-function )
			&.#{$mod-left}
				@include animation( scaleHalfUp $animations-archiveme-duration forwards $animations-archiveme-timing-function )

		&.#{$animation-stop-class}
			&.#{$mod-right}
				@include animation( scaleHalfDown $animations-archiveme-duration forwards $animations-archiveme-timing-function )
			&.#{$mod-left}
				@include animation( slideOutToBottom $animations-archiveme-duration forwards $animations-archiveme-timing-function )
