$animations-letmein-class: "-letmein--" !global

$animations-letmein-duration: 0.5s !global
$animations-letmein-timing-function: ease !global
$animations-letmein-delay: 0s !global


@import "snapIn"


@include exports("animations/letMeIn")

	@include keyframes( rotateOutRight )
		to
			@include transform( rotateY(10deg) )
			opacity: 0

	@include keyframes( rotateOutLeft )
		to
			@include transform( rotateY(-10deg) )
			opacity: 0


	.#{$animations-letmein-class}
		
		&.#{$animation-start-class}
			&.#{$mod-right}
				// z-index: 1
				opacity: 1
				@include animation( slideFromRightFast $animations-letmein-duration forwards $animations-letmein-timing-function )
			&.#{$mod-left}
				// z-index: 1
				opacity: 1
				@include animation( slideFromLeftFast $animations-letmein-duration forwards $animations-letmein-timing-function )

		&.#{$animation-stop-class}
			&.#{$mod-right}
				@include transform-origin(0% 50%)
				@include animation( rotateOutRight $animations-letmein-duration forwards $animations-letmein-timing-function )
			&.#{$mod-left}
				@include transform-origin(100% 0%)
				@include animation( rotateOutLeft $animations-letmein-duration forwards $animations-letmein-timing-function )
