$animations-pressaway-class: "-pressaway--" !global

$animations-pressaway-duration: 1.2s !global
$animations-pressaway-timing-function: cubic-bezier(0.7, 0, 0.3, 1) !global
$animations-pressaway-delay: 0s !global



@include exports("animations/pressAway")

	@include keyframes( slideOutScaleRight )
		to
			@include transform( translateX(100%) scale(0.9) )
			opacity: 0


	@include keyframes( slideInFromLeft )
		from
			opacity: 0
			@include transform( translateX(-100%) )
		to
			opacity: 1
			@include transform( translateX(0) )


	@include keyframes( slideOutScaleLeft )
		to
			@include transform( translateX(-100%) scale(0.9) )
			opacity: 0


	@include keyframes( slideInFromRight )
		from
			opacity: 0
			@include transform( translateX(100%) )
		to
			opacity: 1
			@include transform( translateX(0) )



	.#{$animations-pressaway-class}
		
		&.#{$animation-start-class}
			&.#{$mod-right}
				@include animation( slideInFromRight $animations-pressaway-duration forwards $animations-pressaway-timing-function )
			&.#{$mod-left}
				@include animation( slideInFromLeft $animations-pressaway-duration forwards $animations-pressaway-timing-function )

		&.#{$animation-stop-class}
			&.#{$mod-right}
				@include animation( slideOutScaleLeft $animations-pressaway-duration forwards $animations-pressaway-timing-function )
			&.#{$mod-left}
				@include animation( slideOutScaleRight $animations-pressaway-duration forwards $animations-pressaway-timing-function )
