$animations-rotatemesoftly-class: "-rotatemesoftly--" !global

$animations-rotatemesoftly-duration: 1s !global
$animations-rotatemesoftly-timing-function: cubic-bezier(0.7, 0, 0.3, 1) !global
$animations-rotatemesoftly-delay: 0s !global


@include exports("animations/rotateMeSoftly")

	@include keyframes( rotate3DOutRight )
		to
			@include transform( translate(50%) rotateY(-70deg) rotateX(20deg) translateZ(-300px) )
			opacity: 0


	@include keyframes( slideInFromLeft )
		from
			@include transform( translateX(-200%) )
		to
			@include transform( translateX(0) )
			opacity: 1


	@include keyframes( rotate3DOutLeft )
		to
			@include transform( translate(-50%) rotateY(70deg) rotateX(20deg) translateZ(-300px) )
			opacity: 0


	@include keyframes( slideInFromRight )
		from
			@include transform( translateX(200%) )
		to
			@include transform( translateX(0) )
			opacity: 1


	.#{$animations-rotatemesoftly-class}
		
		&.#{$animation-start-class}
			&.#{$mod-right}
				@include animation( slideInFromLeft $animations-rotatemesoftly-duration forwards $animations-rotatemesoftly-timing-function )
			&.#{$mod-left}
				@include animation( slideInFromRight $animations-rotatemesoftly-duration forwards $animations-rotatemesoftly-timing-function )

		&.#{$animation-stop-class}
			&.#{$mod-right}
				@include animation( rotate3DOutRight $animations-rotatemesoftly-duration forwards $animations-rotatemesoftly-timing-function )
			&.#{$mod-left}
				@include animation( rotate3DOutLeft $animations-rotatemesoftly-duration forwards $animations-rotatemesoftly-timing-function )
