$animations-slidebehind-class: "-slidebehind--" !global

$animations-slidebehind-duration: 0.8s !global
$animations-slidebehind-timing-function: ease-out !global
$animations-slidebehind-delay: 0s !global




@include exports("animations/slideBehind")
	
	@include keyframes( hideLeft )
		0%
			@include transform( translateZ( 0px ) )
		40%
			@include transform( translate( 0, -40% ) scale( 0.8 ) rotateX( -20deg) )
			z-index: 1
		100%
			opacity: 1
			@include transform( translateZ( -400px ) )


	@include keyframes( showRight )
		0%
			@include transform( translateZ( -400px ) )
			opacity: 1
		40%
			@include transform( translate( 0, 40% ) scale( 0.8 ) rotateX( 20deg ) )
			opacity: 1
		41%
			@include transform( translate( 0, 40% ) scale( 0.8 ) rotateX( 20deg ) )
			opacity: 1
			z-index: 1
		100%
			@include transform( translateZ( 0px ) )
			opacity: 1
			z-index: 1


	@include keyframes( hideRight )
		0%
			@include transform( translateZ( 0px ) )
		40%
			@include transform( translate( 0, 40% ) scale( 0.8 ) rotateX( 20deg ) )
			z-index: 1
		100%
			opacity: 1
			@include transform( translateZ( -400px ) )



	@include keyframes( showLeft )
		0%
			@include transform( translateZ( -400px ) )
			opacity: 1
		40%
			@include transform( translate( 0, -40% ) scale( 0.8 ) rotateX( -20deg ) )
			opacity: 1
		41%
			@include transform( translate( 0, -40% ) scale( 0.8 ) rotateX( -20deg ) )
			opacity: 1
			z-index: 1
		100%
			@include transform( translateZ( 0px ) )
			opacity: 1
			z-index: 1






	.#{$animations-slidebehind-class}
		
		&.#{$animation-start-class}
			&.#{$mod-right}
				@include animation( showRight $animations-slidebehind-duration forwards $animations-slidebehind-timing-function )
			&.#{$mod-left}
				@include animation( showLeft $animations-slidebehind-duration forwards $animations-slidebehind-timing-function )

		&.#{$animation-stop-class}
			&.#{$mod-right}
				@include animation( hideLeft $animations-slidebehind-duration forwards $animations-slidebehind-timing-function )
			&.#{$mod-left}
				@include animation( hideRight $animations-slidebehind-duration forwards $animations-slidebehind-timing-function )
