$animations-softscale-class: "-softscale--" !global

$animations-softscale-duration: 1.5s !global
$animations-softscale-timing-function: cubic-bezier(0.7, 0, 0.3, 1) !global
$animations-softscale-delay: 0s !global


@include exports("animations/softScale")

	@include keyframes( scaleUp )
		to
			opacity: 0
			@include transform( scale(1.2) )

	
	@include keyframes( scaleDownUp )
		from
			opacity: 0
			@include transform( scale(0.9) )
		to
			opacity: 1
			@include transform( scale(1) )


	@include keyframes( scaleDown )
		to
			opacity: 0
			@include transform( scale(0.9) )


	@include keyframes( scaleUpDown )
		from
			opacity: 0
			@include transform( scale(1.2) )
		to
			opacity: 1
			@include transform( scale(1) )


	.#{$animations-softscale-class}
		
		&.#{$animation-start-class}
			&.#{$mod-left}
				@include animation( scaleUpDown $animations-softscale-duration forwards $animations-softscale-timing-function )
			&.#{$mod-right}
				@include animation( scaleDownUp $animations-softscale-duration forwards $animations-softscale-timing-function )

		&.#{$animation-stop-class}
			&.#{$mod-left}
				@include animation( scaleDown $animations-softscale-duration forwards $animations-softscale-timing-function )
			&.#{$mod-right}
				@include animation( scaleUp $animations-softscale-duration forwards $animations-softscale-timing-function )
