$animations-swipe-class: "-swipe--" !global

$animations-swipe-duration: 0.8s !global
$animations-swipe-timing-function: ease-in-out !global
$animations-swipe-delay: 0s !global


@import "pressAway"

@include exports("animations/swipe")

	@include keyframes( decreaseHeight )
		to
			height: 0

	@include keyframes( show )
		0% 
			opacity: 0
		1%
			opacity: 1
		100%
			opacity: 1

	@include keyframes( hide )
		0% 
			opacity: 1
		99%
			opacity: 1
		100%
			opacity: 0

	@include keyframes( increaseHeight )
		from
			height: 0
		to
			height: 100%


	.#{$animations-swipe-class}
		
		&.#{$animation-start-class}
			&.#{$mod-right}
				@include animation( show $animations-swipe-duration forwards $animations-swipe-timing-function )
			&.#{$mod-left}
				@include animation( increaseHeight $animations-swipe-duration forwards $animations-swipe-timing-function )

		&.#{$animation-stop-class}
			&.#{$mod-right}
				@include animation( decreaseHeight $animations-swipe-duration forwards $animations-swipe-timing-function )
			&.#{$mod-left}
				@include animation( hide $animations-swipe-duration forwards $animations-swipe-timing-function )