@import "variables"
@import "sizes"
@import "themes"

@mixin typography-heading-size-setter( $size )
	$name: map-get( $size, name)
	$multiplier: map-get( $size, multiplier)

	font-size: $multiplier * 100%


@include exports("typography/headings")

	h1
		font-size: $headings-h1-font-size
	h2
		font-size: $headings-h2-font-size
	h3
		font-size: $headings-h3-font-size
	h4
		font-size: $headings-h4-font-size
	h5
		font-size: $headings-h5-font-size
	h6
		font-size: $headings-h6-font-size

	h1, h2, h3, h4, h5, h6
		line-height: $headings-line-height
		font-weight: $headings-font-weight
		font-family: $headings-font-family
		color: $headings-color

		small
			opacity: $headings-injection-opacity

		&.#{$mod-center}
			text-align: center

		@each $sizeName in $sizes
			$sz: map-get( $base-sizes, $sizeName )
			&.#{$pref-size}#{$sizeName}#{$post-size}
				@include typography-heading-size-setter($sz)

	h1, h2, h3
		margin-top: $base-line-height-comp
		margin-bottom: $base-line-height-comp / 2

	h4, h5, h6
		margin-top: $base-line-height-comp / 2
		margin-bottom: $base-line-height-comp / 2
		font-weight: $headings-font-weight-small

	h1, h2, h3, h4, h5, h6
		& + h1, & + h2, & + h3, & + h4, & + h5, & + h6
			margin-top: 0

	@for $i from 1 through 6
		.#{$headings-class}#{$i}
			@extend h#{$i}
