$headings-class: "-h"

$headings-h1-font-size: floor($base-font-size * 2.6) !global
$headings-h2-font-size: floor($base-font-size * 2.15) !global
$headings-h3-font-size: floor($base-font-size * 1.7) !global
$headings-h4-font-size: floor($base-font-size * 1.25) !global
$headings-h5-font-size: $base-font-size !global
$headings-h6-font-size: floor($base-font-size * 0.85) !global

$headings-line-height: 1 !global

$headings-font-weight: 500 !global
$headings-font-weight-small: 500 !global
$headings-font-family: inherit !global
$headings-color: inherit !global
$headings-injection-opacity: 0.5 !global