// COMMON
$form-input-font-family: inherit !global
$form-input-border-radius: 0 !global
$form-label-cursor: pointer !global
$form-label-font-weight: 200 !global

$form-column-margin-bottom: 4px !global

// FIELDSET
$form-fieldset-border: 1px solid rgba(0,0,0,.2) !global
$form-fieldset-padding-vertical: $base-line-height-comp !global
$form-fieldset-padding-horizontal: $base-line-height-comp !global

$form-legend-padding: 7px !global


// FIELDS
$form-field-class: "-field"
$form-field-border-width: 3px
$form-field-border-radius: 3px