@import "../common/common"

@import "variables"

@import "sizes"
@import "themes"

@mixin buttons-theme-button-ghost-setter($theme)
	$name: map-get( $theme, name)
	$color: map-get( $theme, color)
	$white-color: map-get( $theme, white-color)
	$border-color: map-get( $theme, border-color)
	$background-color: map-get( $theme, background-color)

	background-color: transparent
	border-color: $background-color


	@if $name == default
		color: $white-color
	@else
		color: $color


	&:hover, &.#{$mod-hovered}
		background-color: $background-color

		@if $name == default
			color: $color
		@else
			color: $white-color

	&:active, &.#{$mod-active}
		background-color: darken($background-color, 7%)
		border-color: darken($background-color, 7%)

		@if $name == default
			color: $color
		@else
			color: $white-color

	&.#{$mod-disabled}, &[disabled], fieldset[disabled] &
		color: rgba($white-color, .65)

	&.#{$mod-unstyled}
		color: $color



@mixin button-ghost-size-setter($size)
	$name: map-get( $size, name)
	$multiplier: map-get( $size, multiplier)

	$brdr: $multiplier * $button-ghost-border-width
	border-width: $brdr
	
	$sizer: $multiplier * $base-font-size
	font-size: $sizer
	$line-height: $sizer * $base-line-height + $base-padding-vertical * 2
	line-height: $sizer * $base-line-height - $brdr * 2
	height: $line-height




@include exports("buttons/ghost/common")

	.#{$button-ghost-class}, .-btn-bordered, a.#{$button-ghost-class}, a.-btn-bordered, a[href].#{$button-ghost-class}, a[href].-btn-bordered
		@extend .#{$button-class}

		border-radius: $button-ghost-border-radius

		font-weight: $button-ghost-font-weight

		@each $themeName in $themes
			$thm: map-get( $base-themes, $themeName )

			@if $themeName == default
				@include buttons-theme-button-ghost-setter($thm)
			&.-#{$themeName}-
				@include buttons-theme-button-ghost-setter($thm)


		@each $sizeName in $sizes
			$sz: map-get( $base-sizes, $sizeName )
			@if $sizeName == normal
				@include button-ghost-size-setter($sz)
				// font-size: $multilpyer * $base-font-size / 2
			&._#{$sizeName}
				@include button-ghost-size-setter($sz)
				// font-size: $multilpyer * $base-font-size
	//
	// a.#{$button-class}
	// 	font-weight: normal
