$button-ghost-class: "#{$pref-widget}btn-ghost#{$post-widget}" !global
$button-ghost-font-weight: 200 !global
$button-ghost-min-font-size: 9px !global
$button-ghost-border-radius: 3px !global
$button-ghost-border-width: 3px !global
