$animations-pushLeft-class: "-push-left--" !global

$animations-pushLeft-duration: 0.4s !global
$animations-pushLeft-timing-function: ease-in-out !global
$animations-pushLeft-delay: 0s !global


@include exports("animations/pushes/left")


	@include keyframes( pushLeftIn )
		from
			@include transform( translateX(0) )
		to
			@include transform( translateX(100%) )


	@include keyframes( pushLeftOut )
		from
			@include transform( translateX(100%) )
		to
			@include transform( translateX(0) )


	.#{$animations-pushLeft-class}

		// opacity: 0
		// visibility: hidden
		// @include transition( opacity $animations-pushLeft-duration forwards $animations-pushLeft-timing-function, visibility $animations-pushLeft-duration forwards $animations-pushLeft-timing-function )
		
		&.#{$animation-start-class}
			// opacity: 1
			// visibility: visible

			// & > div
			@include animation( pushLeftIn $animations-pushLeft-duration forwards $animations-pushLeft-timing-function )


		&.#{$animation-stop-class}
			// opacity: 0
			// visibility: hidden

			// & > div
			@include animation( pushLeftOut $animations-pushLeft-duration forwards $animations-pushLeft-timing-function )