$avatar-class: "#{$pref-widget}avatar#{$post-widget}" !global
$avatar-border-radius: 3px !global
$avatar-border-width: 4px !global
$avatar-border-style: solid !global
$avatar-margin: 0.6em !global
$avatar-size: 64px !global
