$nav-menu-class: "#{$pref-widget}menu#{$post-widget}" !global
$nav-menu-items-padding-vertical: $base-padding-vertical !global
$nav-menu-items-padding-horizontal: $base-padding-horizontal !global
$nav-menu-items-border-width: 1px !global
$nav-menu-items-border-radius: 0px !global
$nav-menu-items-margin: 1px !global
