$nav-bar-class: "-navbar" !global
$nav-bar-height: 50px !global
$nav-bar-padding-horizontal: $base-padding-horizontal !global
$nav-bar-border-width: 1px !global
$nav-bar-style: solid !global
$nav-bar-border-radius: 3px !global

// It's only fo _top_ or _bottom_ navbars. Need to be over dropdowns.
$nav-bar-z-index: $dropdown-z-index + 1

$nav-bar-toggle-class: #{$nav-bar-class}-toggle