@import 'common'

$shadow-curve-double-class: "#{$shadow-class}-curve-double-" !global

@include exports("themes/shadows/curve-double")
	
	.#{$shadow-curve-double-class}

		@include shadow-double

		&:before, &:after
			
			left: 2.5%
			width: 95%
			height: 20%
			border-radius: 100px / 10px

		&:before
			top: 10px
			box-shadow: 0 -9px 10px rgba(0, 0, 0, 0.5), 0 -15px 15px rgba(0, 0, 0, 0.2)

		&:after
			bottom: 10px
			box-shadow: 0 9px 10px rgba(0, 0, 0, 0.5), 0 15px 15px rgba(0, 0, 0, 0.2)
