@mixin nav-theme-bar-setter($i)
	@if nth($themes, $i) != "-default-"
		background-color: lighten(nth($themes-background-light-colors, $i), 5%)
		border-color: nth($themes-background-light-colors, $i)
	@else
		background-color: lighten(nth($themes-background-light-colors, $i), 1%)
		border-color: darken(nth($themes-background-light-colors, $i), 4%)
	// #{$nav-item}

	// 	&:hover, &.#{$mod-hovered}
	// 		& > a
	// 			@if nth($themes, $i) != "-default-"
	// 				color: nth($themes-white-colors, $i)
	// 			@else
	// 				color: nth($themes-colors, $i)
		
	// 	&.#{$mod-active}
	// 		& > a				
	// 			@if nth($themes, $i) != "-default-"
	// 				color: nth($themes-white-colors, $i)
	// 				background-color: nth($themes-background-colors, $i)
	// 			@else
	// 				color: nth($themes-colors, $i)
	// 				background-color: darken(nth($themes-background-light-colors, $i), 5%)


	// 	&.#{$mod-disabled}, &[disabled]
	// 		a, :active &, .#{$mod-active} &, :hover &, .#{$mod-hovered} &
	// 			background: transparent
	// 			color: rgba(nth($themes-colors, index($themes, "-default-")),.3)


@include exports("nav/bar")
	.#{$nav-bar-class}
		display: block

		border-width: $nav-bar-border-width
		border-style: $nav-bar-style
		border-color: transparent
		border-radius: $nav-bar-border-radius
		padding: 0 $nav-bar-padding-horizontal
		position: relative

		&:first-child
			border-radius: $nav-bar-border-radius $nav-bar-border-radius 0 0

		&:last-child
			border-radius: 0 0 $nav-bar-border-radius $nav-bar-border-radius

		&:not(:first-child):not(:last-child)
			border-radius: 0

		&:not(:first-child)
			margin-top: -$nav-bar-border-width

		&:only-child
			border-radius: $nav-bar-border-radius

		.#{$nav-menu-class}, .#{$nav-pills-class}
			vertical-align: middle
			display: inline-block

		
		.#{$header-class-name}
			$delta: $nav-bar-height - $nav-menu-items-padding-vertical * 2 - $base-line-height-comp
			padding: $nav-menu-items-padding-vertical + $delta / 2 $nav-menu-items-padding-horizontal
			line-height: $base-line-height-comp
			font-weight: bold

		.#{$nav-menu-class}
			#{$nav-item}
				a
					$delta: $nav-bar-height - $nav-menu-items-padding-vertical * 2 - $base-line-height-comp
					padding: $nav-menu-items-padding-vertical + $delta / 2 $nav-menu-items-padding-horizontal
		.#{$nav-pills-class}
			#{$nav-item}
				a
					$delta: $nav-bar-height - $nav-pills-items-padding-vertical * 2 - $base-line-height-comp
					margin-top: $delta / 2
					margin-bottom: $delta / 2


		.#{$button-class}
			$delta: $nav-bar-height - $base-padding-vertical * 2 - $base-line-height-comp
			margin-top: $delta / 2
			margin-bottom: $delta / 2

		.#{$group-class}
			$delta: $nav-bar-height - $base-padding-vertical * 2 - $base-line-height-comp
			margin-top: $delta / 2
			margin-bottom: $delta / 2
			.#{$button-class}
				margin-top: 0
				margin-bottom: 0

		.#{$nav-bar-toggle-class}
			position: absolute
			right: $nav-bar-padding-horizontal
			top: 1px

		
		&.#{$mod-top}, &.#{$mod-bottom}
			position: absolute
			z-index: $nav-bar-z-index
			left: 0
			right: 0

		&.#{$mod-top}
			top: 0
			@include transition (top 1.5s ease-out 0s)
			&.#{$mod-hidden}
				top: -100%


		&.#{$mod-bottom}
			bottom: 0
			@include transition (bottom 1.5s ease-out 0s)
			&.#{$mod-hidden}
				bottom: -100%


		@each $theme in $themes
			$i: index($themes, $theme)
			
			@if $theme == "-default-"
				@include nav-theme-bar-setter($i)
				&.#{$theme}
					@include nav-theme-bar-setter($i)
			@else
				&.#{$theme}
					@include nav-theme-bar-setter($i)

			&.#{$theme}
				.#{$nav-menu-class}
					@extend .#{$nav-menu-class}.#{$theme}
				.#{$nav-pills-class}
					@extend .#{$nav-pills-class}.#{$theme}
				.#{$button-class}
					@extend .#{$button-class}.#{$theme}
				.#{$group-class}
					@extend .#{$group-class}.#{$theme}

		@each $size in $base-sizes-names
			$i: index($base-sizes-names, $size)
			
			&.#{$size}
				.#{$nav-menu-class}
					@extend .#{$nav-menu-class}.#{$size}
				.#{$nav-pills-class}
					@extend .#{$nav-pills-class}.#{$size}
				.#{$button-class}
					@extend .#{$button-class}.#{$size}
				.#{$group-class}
					@extend .#{$group-class}.#{$size}