$nav-item: li !global

$nav-tabs-class: "-tabs" !global
$nav-tabs-border-width: 1px !global
$nav-tabs-items-padding-vertical: $base-padding-vertical
$nav-tabs-items-padding-horizontal: $base-padding-horizontal
$nav-tabs-items-border-radius: 3px
$nav-tabs-items-margin: 1px

$nav-pills-class: "-pills" !global
$nav-pills-border-width: 1px !global
$nav-pills-items-padding-vertical: $base-padding-vertical
$nav-pills-items-padding-horizontal: $base-padding-horizontal
$nav-pills-items-border-radius: 3px
$nav-pills-items-margin: 1px