$button-bordered-class: "#{$button-class}-bordered" !global
$button-bordered-font-weight: 200 !global
$button-bordered-min-font-size: 9px !global
$button-bordered-border-radius: 3px !global
$button-bordered-border-width: 3px !global
