$container-class: "#{$pref-widget}container#{$post-widget}" !global

$row-class: "#{$pref-widget}row#{$post-widget}" !global

$offset-class: "#{$pref-widget}offset#{$post-widget}" !global

$column-class: "#{$pref-widget}col#{$post-widget}" !global
$column-quantity: 12 !global
