$animations-door-class: "-door--" !global

$animations-door-duration: 0.4s !global
$animations-door-timing-function: ease-in-out !global
$animations-door-delay: 0s !global


@include exports("animations/door")


	@include keyframes( doorIn )
		from
			@include transform( rotateY(90deg) )
			opacity: 0
		to
			@include transform( rotateY(0deg) )
			opacity: 1


	@include keyframes( doorOut )
		from
			@include transform( rotateY(0deg) )
			opacity: 1
		to
			@include transform( rotateY(90deg) )
			opacity: 0


	.#{$animations-door-class}
		@include transform-origin( 0% 50% )

		// opacity: 0
		// visibility: hidden
		// @include transition( opacity $animations-door-duration forwards $animations-door-timing-function, visibility $animations-door-duration forwards $animations-door-timing-function )
		
		&.#{$animation-start-class}
			// opacity: 1
			// visibility: visible

			// & > div
			@include animation( doorIn $animations-door-duration forwards $animations-door-timing-function )


		&.#{$animation-stop-class}
			// opacity: 0
			// visibility: hidden

			// & > div
			@include animation( doorOut $animations-door-duration forwards $animations-door-timing-function )