<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">

		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		
		<link href='http://fonts.googleapis.com/css?family=Raleway|Lobster+Two' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="//use.typekit.net/wws1opp.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/commercial.css">
		<link rel="stylesheet" type="text/css" href="/css/developer.css">

	</head>
	<body class="dev" data-kind="sparks" data-size= "15" data-quantity="200" data-texture="/img/textures/airdust.png">


		<!-- <a class="-btn dev-btn"><i class="fa fa-gears"></i></a> -->





		<nav class="-navbar-float -dark- _top_" data-kind="navbar">
			<div class="-container">
				<div class="-col1 -offset2">
					<a class="logo" href="/">
						<img src="/img/logo.png">
					</a>
				</div>
				<div class="-col5">
					<div class="_visible-desktops_ _visible-large-desktops_">
						<ul class="-menu -dark- _invert_">
							<li>
								<a>free kit</a>
							</li>
							<li class="_active_">
								<a>warp1</a>
							</li>
						</ul>
						&nbsp;
						<a class="-btn -error-">buy</a>
					</div>

					<a class="-navbar-toggle _hidden-desktops_ _hidden-large-desktops_ -btn"><i class="fa fa-th-list"></i></a>
				</div>
			</div>
		</nav>




		<!-- <div class="dev-view" data-spy='scroll'>
			
			<div class="dev-view-block-container">
				<div target="#marching-band" class="dev-view-block -container">
					<h1>Hero</h1>
					<h3>Marching band</h3>
					<div class="-row">
						<div class="-col6">
							<div class="dev-container">
								<span class="dev-name"><b>data-kind</b>="<i>wall</i>" <b>data-group</b>="<i>wall1</i>" <b>data-name</b>="<i>Marching band</i>" <b>class</b>="<i>-hero _invert_</i>"</span>
								<div class="-row">
									<div class="-col12">
										<div class="dev-container">
											<i class="dev-name">figure</i>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="-col6"></div>
					</div>
				</div>
			</div>

			<div class="dev-view-block-container">
				<div target="#article" class="dev-view-block -container">
					<h2>Article</h2>
					<div class="-row">
						<div class="-col6"></div>
						<div class="-col6"></div>
					</div>
				</div>
			</div>

			<div class="dev-view-block-container">
				<div target="#related-gallery" class="dev-view-block -container">
					<h2>Related gallery</h2>
					<div class="-row">
						<div class="-col6"></div>
						<div class="-col6"></div>
					</div>
				</div>
			</div>

			<div class="dev-view-block-container">
				<div target="#comments" class="dev-view-block -container">
					<h2>Comments</h2>
					<div class="-row">
						<div class="-col6"></div>
						<div class="-col6"></div>
					</div>
				</div>
			</div>

		</div>
 -->






 			<section id="marching-band" data-kind="wall" data-group="wall1" data-name="Marching band" class="-hero _invert_">

				<header class="-header">
					
					<div class="-container">
						
						<div class="-col6 -offset3">
							
							<h1>
								<span class="tk-jaf-bernina-sans">Marching band</span>
							</h1>
							<h4 class="tk-jaf-bernina-sans subtitle">Learn more about it in the light demo version.</h4>

							<small>
								<a href="" class="-avatar _round_">
									<div class="-thumbnail">
										<img src="http://s1.wp.com/wp-content/themes/vip/timelife/images/life_logo.png" alt="Life">
									</div>Time & Life Pictures
								</a>, Alfred Eisenstaedt
							</small>
						
						</div>

					</div>

				</header>

				<div class="-hero-image" data-kind="tilt">
					
					<div class="-thumbnail">
						
						<figure>
							<img src="/img/examples/blog/drum-major.jpg">
							<figcaption>
								<h4><small>The drum major for the University of Michigan marching band high-steps as a line children follow suit, 1950.</small></h4>
							</figcaption>
						</figure>

					</div>
					
					<div class="-tilt">
						<span class="-tilt-handle"></span>
					</div>

				</div>

				<svg class="-scroller _major" viewBox="-14 -24 55 60">
					<circle cx="14" cy="6" r="27"></circle>
					<path d="M0,0l14,14L29,0"/>
				</svg>

			</section>





		

		
			<div class="-nav-bullets _right_" data-kind="wall-nav" data-group="wall1"></div>




			<article>


				<section id="article" data-kind="wall" data-group="wall1" data-name="Article" class="-hero -block-post">
					<div class="-container">
						<div class="-col6 -offset3">
							<p>
								The sad destiny of countless great photographs is that, as the decades pass, the pictures are increasingly in danger of losing their ability to stun, shock, inspire, delight. In short, to move us. We’ve seen them reproduced so many times — in books, on postcards, in gallery and museum shows — that the images can sometimes assume that most staid and harmless of traits: they become familiar.
							</p>
							<p>
								And when has the familiar stunned, shocked, inspired or delighted anyone?
							</p>
							<div data-kind="product" data-model="/media/3d/female02/female02.obj" data-position="0,-90,-250" data-camera="0,0,0"></div>
							<p>
								It’s worthwhile, then, to occasionally make the effort to step back and try to experience famous photographs as if encountering them for the first time. The question then becomes: Are we capable of seeing — really seeing, with wholly fresh eyes — the most celebrated, readily identifiable pictures ever made?
							</p>
							<hr>
							<p>
								Take the photograph featured here. Most of us have come upon it many, many times throughout our lives. But when was the last time any of us really saw it? Like so many of Alfred Eisenstaedt’s most storied photographs, this one flirts with sentimentality — but avoids that ignoble fate by virtue of its energy, and its immediacy. This is not a depiction of manufactured emotion, but a masterfully framed instant of authentic, explosive spirit.
							</p>
						</div>
						<div class="-col8 -offset2">
							<figure data-kind="skyline" class="-thumbnail -skyline _left_">
								<a href="" class="-shadow-lifted-" data-toggle="modal" data-backdrop="true" data-push=".-push" data-target="#dads-modal">
									<img src="/img/examples/blog/Richard-Burton-and-daughter-Kate.jpg">
								</a>
								<figcaption class="-thumbnail-caption _left_">
									<small>
										Richard Burton and daughter Kate, 1957.
										<a href="" class="-avatar _small _round_" style="margin-top: 7px">
											<div class="-thumbnail">
												<img src="http://s1.wp.com/wp-content/themes/vip/timelife/images/life_logo.png" alt="Life">
											</div>Time & Life Pictures
										</a>
									</small>
								</figcaption>
							</figure>
						</div>
						<div class="-col6 -offset3">
							<p>
								It is also, all these years later, one of the great photographer’s most beloved pictures. (When Bill Clinton was offered any Eisenstaedt print as thanks for a sitting he and his wife and daughter granted the then-94-year-old photographer on Martha’s Vineyard  in 1993, the president reportedly chose this one.)
							</p>

							<p>
								So. Is this the happiest photograph ever made? That’s hardly a fair question, of course — and, admittedly, more than a little bit vague. After all, by “happiest,” do we mean the one picture that most perfectly depicts happiness? Do we mean the one picture that elicits or evokes happiness in the viewer? And what do we really mean by “happiness,” anyway?
							</p>
							<p>
								All perfectly reasonable questions. And all largely unanswerable. The point here is that Eisenstaedt’s image of the high-stepping, high-spirited drum major — a fellow named Dick Smith — and his ebullient devotees could, conceivably, be a consensus pick among photography experts as the happiest photo ever made. It’s unlikely, but it is conceivable.
							</p>
							<p>
								Which brings us back to where we started; namely, trying to see an iconic picture afresh, as if encountering it for the very first time. One need not be a photography expert to sense, in Eisenstaedt’s picture, the very essence of what most people would recognize as happiness.
							</p>
							<p>
								One need only be able to see, and to feel. The photo will do the rest.
							</p>
						</div>
					</div>
				</section>

				




				<section id="related-gallery" data-kind="wall" data-group="wall1" data-name="Related galleries" class="-hero -block-post">
					<div data-kind="skyline" class="-container">
						<h2>Related galleries</h2>
						<div class="-col3">
							<figure data-kind="skyline" class="-thumbnail -skyline _left_">
								<a href="" class="-shadow-lifted-" data-toggle="modal" data-backdrop="true" data-target="#dads-modal">
									<img src="/img/examples/blog/Richard-Burton-and-daughter-Kate.jpg">
								</a>
								<figcaption class="-thumbnail-caption _bottom_">
									<small>
										Richard Burton and daughter Kate, 1957.
										<a href="" class="-avatar _small _round_" style="margin-top: 7px">
											<div class="-thumbnail">
												<img src="http://s1.wp.com/wp-content/themes/vip/timelife/images/life_logo.png" alt="Life">
											</div>Time & Life Pictures
										</a>
									</small>
								</figcaption>
							</figure>
						</div>

						<div class="-col3">
							<figure data-kind="skyline" class="-thumbnail -skyline _left_">
								<a href="" class="-shadow-lifted-" data-toggle="modal" data-backdrop="true" data-target="#dads-modal">
									<img src="/img/examples/blog/Burt-Lancaster-with-daughter-Sighle-pronounced-Sheila-1961.jpg">
								</a>
								<figcaption class="-thumbnail-caption _bottom_">
									<small>
										Burt Lancaster with daughter Sighle (pronounced Sheila), 1961.
										<a href="" class="-avatar _small _round_" style="margin-top: 7px">
											<div class="-thumbnail">
												<img src="http://s1.wp.com/wp-content/themes/vip/timelife/images/life_logo.png" alt="Life">
											</div>Time & Life Pictures
										</a>
									</small>
								</figcaption>
							</figure>
						</div>

						<div class="-col3">
							<figure data-kind="skyline" class="-thumbnail -skyline _left_">
								<a href="" class="-shadow-curve-" data-toggle="modal" data-backdrop="true" data-target="#dads-modal">
									<img src="/img/examples/blog/Dean-Martin-with-daughter-Gina-Caroline-1958.jpg">
								</a>
								<figcaption class="-thumbnail-caption _bottom_">
									<small>
										Burt Lancaster with daughter Sighle (pronounced Sheila), 1961.
										<a href="" class="-avatar _small _round_" style="margin-top: 7px">
											<div class="-thumbnail">
												<img src="http://s1.wp.com/wp-content/themes/vip/timelife/images/life_logo.png" alt="Life">
											</div>Time & Life Pictures
										</a>
									</small>
								</figcaption>
							</figure>
						</div>

						<div class="-col3">
							<figure data-kind="skyline" class="-thumbnail -skyline _left_">
								<a href="" class="-shadow-lifted-" data-toggle="modal" data-backdrop="true" data-target="#dads-modal">
									<img src="/img/examples/blog/Astronaut-Scott-Carpenter-with-daughter-Candy-1962.jpg">
								</a>
								<figcaption class="-thumbnail-caption _bottom_">
									<small>
										Astronaut Scott Carpenter with daughter Candy, 1962.
										<a href="" class="-avatar _small _round_" style="margin-top: 7px">
											<div class="-thumbnail">
												<img src="http://s1.wp.com/wp-content/themes/vip/timelife/images/life_logo.png" alt="Life">
											</div>Time & Life Pictures
										</a>
									</small>
								</figcaption>
							</figure>
						</div>
					</div>
				</section>

				<section id="comments" data-kind="wall" data-group="wall1" data-name="Comments" class="-hero">
					<div data-kind="skyline" class="-container -skyline _left_">
						
						<div class="-row">
							<div class="-col8 -offset2 -block-post">
								<h3>Comments</h3>

								<form class="-comments" style="margin-bottom: 40px">
									<div class="-comment">
										<a href="" class="-avatar -comment-block _huge">
											<div class="-thumbnail">
												<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc3/t1/c0.28.150.150/35079_103585023028528_4592910_a.jpg?lvh=1" alt="maxmert">
											</div>
										</a>
										
										<div class="-comment-block" style="width: 100%">
											<div class="-field -primary-" style="margin-bottom: 3px">
												<textarea id="textarea1" style="min-height: 52px"></textarea>
											</div>
											<a class="-btn -primary- _small">post</a>
										</div>
									</div>
								</form>



							</div>
							
							<ul class="-col8 -offset2 -comments">
								<li class="-comment">
									<a href="" class="-avatar -comment-block _huge">
										<div class="-thumbnail">
											<img src="https://s3.amazonaws.com/uifaces/faces/twitter/soffes/128.jpg" alt="soffes">
										</div>
									</a>
									<div class="-comment-block">
										<div><a href class="-avatar">Soffes</a> <span class="-badge -error- _hidden_">12</span> </div>
										You know what else is "arcane", 140 characters.
										<div class="_hidden_">
											<div class="-group _small">
												<a class="-btn"><i class="fa fa-chevron-up"></i></a><a class="-btn"><i class="fa fa-chevron-down"></i></a>
											</div>

											<a class="-btn _small -primary-"><i class="fa fa-reply"></i> Reply</a>

											<div class="-group _small">
												<a class="-btn"><i class="fa fa-twitter"></i></a><a class="-btn"><i class="fa fa-facebook"></i></a><a class="-btn"><i class="fa fa-google-plus"></i></a>
											</div>
										</div>
									</div>
								</li>

								<li class="-comment -offset1">
									<a href="" class="-avatar -comment-block _huge">
										<div class="-thumbnail">
											<img src="https://s3.amazonaws.com/uifaces/faces/twitter/markgamzy/128.jpg" alt="markgamzy">
										</div>
									</a>
									<div class="-comment-block">
										<div><a href class="-avatar">Markgamzy</a> <span class="-badge -primary- _hidden_">165</span></div>
										Maybe it is just their way to force users to use the original twitter client. In every other client the "feature" looks confusing and so we have to use the original client
										<div class="_hidden_">
											<div class="-group _small">
												<a class="-btn"><i class="fa fa-chevron-up"></i></a><a class="-btn"><i class="fa fa-chevron-down"></i></a>
											</div>

											<a class="-btn _small -primary-"><i class="fa fa-reply"></i> Reply</a>

											<div class="-group _small">
												<a class="-btn"><i class="fa fa-twitter"></i></a><a class="-btn"><i class="fa fa-facebook"></i></a><a class="-btn"><i class="fa fa-google-plus"></i></a>
											</div>
										</div>
									</div>
								</li>

								<li class="-comment -offset1">
									<a href="" class="-avatar -comment-block _huge">
										<div class="-thumbnail">
											<img src="https://s3.amazonaws.com/uifaces/faces/twitter/teclaro/128.jpg" alt="Teclaro">
										</div>
									</a>
									<div class="-comment-block">
										<div><a href class="-avatar">Teclaro</a> <span class="-badge -dark- _hidden_">67</span></div>
										In my opinion (and as a UI and UX designer), this is a step in the right direction. Even when viewing those examples above, the context isn't hindered when @ isn't present and makes the conversation more legible.
										<div class="_hidden_">
											<div class="-group _small">
												<a class="-btn"><i class="fa fa-chevron-up"></i></a><a class="-btn"><i class="fa fa-chevron-down"></i></a>
											</div>

											<a class="-btn _small -primary-"><i class="fa fa-reply"></i> Reply</a>

											<div class="-group _small">
												<a class="-btn"><i class="fa fa-twitter"></i></a><a class="-btn"><i class="fa fa-facebook"></i></a><a class="-btn"><i class="fa fa-google-plus"></i></a>
											</div>
										</div>
									</div>
								</li>

								<li class="-comment -offset2">
									<a href="" class="-avatar -comment-block _huge">
										<div class="-thumbnail">
											<img src="https://s3.amazonaws.com/uifaces/faces/twitter/edwellbrook/128.jpg" alt="Edwellbrook">
										</div>
									</a>
									<div class="-comment-block">
										<div><a href class="-avatar">Edwellbrook</a> <span class="-badge -dark- _hidden_">67</span></div>
										Sure they are thinking about removing @replies but the concept of replying will still exist. It's just the details of who you are replying to will be contained in metadata and not in the body of the tweet. This is good as it will free up more characters for the tweet. However I'm sure it will also lead to people being unsure of whether a tweet will be directed at one person or their whole timeline in the same way as people often mistakenly post a DM to their timeline.
										<div class="_hidden_">
											<div class="-group _small">
												<a class="-btn"><i class="fa fa-chevron-up"></i></a><a class="-btn"><i class="fa fa-chevron-down"></i></a>
											</div>

											<a class="-btn _small -primary-"><i class="fa fa-reply"></i> Reply</a>

											<div class="-group _small">
												<a class="-btn"><i class="fa fa-twitter"></i></a><a class="-btn"><i class="fa fa-facebook"></i></a><a class="-btn"><i class="fa fa-google-plus"></i></a>
											</div>
										</div>
									</div>
								</li>

								<li class="-comment">
									<a href="" class="-avatar -comment-block _huge">
										<div class="-thumbnail">
											<img src="https://s3.amazonaws.com/uifaces/faces/twitter/krystalfister/128.jpg" alt="Krystalfister">
										</div>
									</a>
									<div class="-comment-block">
										<div><a href class="-avatar">Krystalfister</a> <span class="-badge -primary- _hidden_">176</span></div>
										Sure they are thinking about removing @replies but the concept of replying will still exist. It's just the details of who you are replying to will be contained in metadata and not in the body of the tweet. This is good as it will free up more characters for the tweet. However I'm sure it will also lead to people being unsure of whether a tweet will be directed at one person or their whole timeline in the same way as people often mistakenly post a DM to their timeline.
										<div class="_hidden_">
											<div class="-group _small">
												<a class="-btn"><i class="fa fa-chevron-up"></i></a><a class="-btn"><i class="fa fa-chevron-down"></i></a>
											</div>

											<a class="-btn _small -primary-"><i class="fa fa-reply"></i> Reply</a>

											<div class="-group _small">
												<a class="-btn"><i class="fa fa-twitter"></i></a><a class="-btn"><i class="fa fa-facebook"></i></a><a class="-btn"><i class="fa fa-google-plus"></i></a>
											</div>
										</div>
									</div>
								</li>

								<li class="-comment">
									<a href="" class="-avatar -comment-block _huge">
										<div class="-thumbnail">
											<img src="https://s3.amazonaws.com/uifaces/faces/twitter/soffes/128.jpg" alt="soffes">
										</div>
									</a>
									<div class="-comment-block">
										<div><a href class="-avatar">Soffes</a> <span class="-badge -error- _hidden_">12</span> </div>
										You know what else is "arcane", 140 characters.
										<div class="_hidden_">
											<div class="-group _small">
												<a class="-btn"><i class="fa fa-chevron-up"></i></a><a class="-btn"><i class="fa fa-chevron-down"></i></a>
											</div>

											<a class="-btn _small -primary-"><i class="fa fa-reply"></i> Reply</a>

											<div class="-group _small">
												<a class="-btn"><i class="fa fa-twitter"></i></a><a class="-btn"><i class="fa fa-facebook"></i></a><a class="-btn"><i class="fa fa-google-plus"></i></a>
											</div>
										</div>
									</div>
								</li>

								<li class="-comment -offset1">
									<a href="" class="-avatar -comment-block _huge">
										<div class="-thumbnail">
											<img src="https://s3.amazonaws.com/uifaces/faces/twitter/markgamzy/128.jpg" alt="markgamzy">
										</div>
									</a>
									<div class="-comment-block">
										<div><a href class="-avatar">Markgamzy</a> <span class="-badge -primary- _hidden_">165</span></div>
										Maybe it is just their way to force users to use the original twitter client. In every other client the "feature" looks confusing and so we have to use the original client
										<div class="_hidden_">
											<div class="-group _small">
												<a class="-btn"><i class="fa fa-chevron-up"></i></a><a class="-btn"><i class="fa fa-chevron-down"></i></a>
											</div>

											<a class="-btn _small -primary-"><i class="fa fa-reply"></i> Reply</a>

											<div class="-group _small">
												<a class="-btn"><i class="fa fa-twitter"></i></a><a class="-btn"><i class="fa fa-facebook"></i></a><a class="-btn"><i class="fa fa-google-plus"></i></a>
											</div>
										</div>
									</div>
								</li>

								<li class="-comment -offset1">
									<a href="" class="-avatar -comment-block _huge">
										<div class="-thumbnail">
											<img src="https://s3.amazonaws.com/uifaces/faces/twitter/teclaro/128.jpg" alt="Teclaro">
										</div>
									</a>
									<div class="-comment-block">
										<div><a href class="-avatar">Teclaro</a> <span class="-badge -dark- _hidden_">67</span></div>
										In my opinion (and as a UI and UX designer), this is a step in the right direction. Even when viewing those examples above, the context isn't hindered when @ isn't present and makes the conversation more legible.
										<div class="_hidden_">
											<div class="-group _small">
												<a class="-btn"><i class="fa fa-chevron-up"></i></a><a class="-btn"><i class="fa fa-chevron-down"></i></a>
											</div>

											<a class="-btn _small -primary-"><i class="fa fa-reply"></i> Reply</a>

											<div class="-group _small">
												<a class="-btn"><i class="fa fa-twitter"></i></a><a class="-btn"><i class="fa fa-facebook"></i></a><a class="-btn"><i class="fa fa-google-plus"></i></a>
											</div>
										</div>
									</div>
								</li>

								<li class="-comment -offset2">
									<a href="" class="-avatar -comment-block _huge">
										<div class="-thumbnail">
											<img src="https://s3.amazonaws.com/uifaces/faces/twitter/edwellbrook/128.jpg" alt="Edwellbrook">
										</div>
									</a>
									<div class="-comment-block">
										<div><a href class="-avatar">Edwellbrook</a> <span class="-badge -dark- _hidden_">67</span></div>
										Sure they are thinking about removing @replies but the concept of replying will still exist. It's just the details of who you are replying to will be contained in metadata and not in the body of the tweet. This is good as it will free up more characters for the tweet. However I'm sure it will also lead to people being unsure of whether a tweet will be directed at one person or their whole timeline in the same way as people often mistakenly post a DM to their timeline.
										<div class="_hidden_">
											<div class="-group _small">
												<a class="-btn"><i class="fa fa-chevron-up"></i></a><a class="-btn"><i class="fa fa-chevron-down"></i></a>
											</div>

											<a class="-btn _small -primary-"><i class="fa fa-reply"></i> Reply</a>

											<div class="-group _small">
												<a class="-btn"><i class="fa fa-twitter"></i></a><a class="-btn"><i class="fa fa-facebook"></i></a><a class="-btn"><i class="fa fa-google-plus"></i></a>
											</div>
										</div>
									</div>
								</li>

								<li class="-comment">
									<a href="" class="-avatar -comment-block _huge">
										<div class="-thumbnail">
											<img src="https://s3.amazonaws.com/uifaces/faces/twitter/krystalfister/128.jpg" alt="Krystalfister">
										</div>
									</a>
									<div class="-comment-block">
										<div><a href class="-avatar">Krystalfister</a> <span class="-badge -primary- _hidden_">176</span></div>
										Sure they are thinking about removing @replies but the concept of replying will still exist. It's just the details of who you are replying to will be contained in metadata and not in the body of the tweet. This is good as it will free up more characters for the tweet. However I'm sure it will also lead to people being unsure of whether a tweet will be directed at one person or their whole timeline in the same way as people often mistakenly post a DM to their timeline.
										<div class="_hidden_">
											<div class="-group _small">
												<a class="-btn"><i class="fa fa-chevron-up"></i></a><a class="-btn"><i class="fa fa-chevron-down"></i></a>
											</div>

											<a class="-btn _small -primary-"><i class="fa fa-reply"></i> Reply</a>

											<div class="-group _small">
												<a class="-btn"><i class="fa fa-twitter"></i></a><a class="-btn"><i class="fa fa-facebook"></i></a><a class="-btn"><i class="fa fa-google-plus"></i></a>
											</div>
										</div>
									</div>
								</li>

							</ul>
						</div>
						
					</div>
				</section>

			</article>



		<div id="dads-modal" class="-modal -slidedown--">
			<svg class="-close _big" data-dismiss="modal" x="0px" y="0px" viewBox="0 0 600 600">
				<circle cx="300" cy="300" r="260"></circle>
				<polygon points="434.444,211.454 389.809,166.819 300.496,256.131 211.434,167.069 166.882,211.621 255.944,300.684 166.638,389.99 211.273,434.626 300.58,345.319 389.642,434.382 434.194,389.83 345.132,300.767 "></polygon>
			</svg>


				<div id="carousel1" data-kind="carousel" data-group="carousel1" class="-carousel">

						<div class="-arrow _left_">
							<svg viewBox="-10 0 70 100"><path d="M50,100L0,50L50,0"></path></svg>
						</div>
						<div class="-arrow _right_">
							<svg viewBox="-10 0 70 100"><path d="M0,0l50,50L0,100"></path></svg>
						</div>
						

					<div class="-holder">
						<div class="-item">
							<div class="-container">
								<h3 class="tk-jaf-bernina-sans">
									Al Hirschfeld with his daughter Nina, 1961. 
								</h3>
								<img src="/img/examples/blog/Al-Hirschfeld-with-his-daughter-Nina-1961.jpg">
								<br><span class="-avatar">
									<div class="-thumbnail">
										<img src="http://s1.wp.com/wp-content/themes/vip/timelife/images/life_logo.png" alt="Life">
									</div>Time & Life Pictures
								</span>
							</div>
						</div>
						
						<div class="-item">

							<div class="-container">
								<h3 class="tk-jaf-bernina-sans">
									Ann Margret with her father Gustav Olsson, 1961.
								</h3>
								<img src="/img/examples/blog/Ann-Margret-with-her-father-Gustav-Olsson-1961.jpg">
								<br><span class="-avatar">
									<div class="-thumbnail">
										<img src="http://s1.wp.com/wp-content/themes/vip/timelife/images/life_logo.png" alt="Life">
									</div>Time & Life Pictures
								</span>
							</div>

						</div>
						
						<div class="-item">

							<div class="-container">
								<h3 class="tk-jaf-bernina-sans">
									Astronaut Scott Carpenter with daughter Candy, 1962.
								</h3>
								<img src="/img/examples/blog/Astronaut-Scott-Carpenter-with-daughter-Candy-1962.jpg">
								<br><span class="-avatar">
									<div class="-thumbnail">
										<img src="http://s1.wp.com/wp-content/themes/vip/timelife/images/life_logo.png" alt="Life">
									</div>Time & Life Pictures
								</span>
							</div>
						</div>

						<div class="-item">

							<div class="-container">
								<h3 class="tk-jaf-bernina-sans">
									Burt Lancaster with daughter Sighle (pronounced Sheila), 1961.
								</h3>
								<img src="/img/examples/blog/Burt-Lancaster-with-daughter-Sighle-pronounced-Sheila-1961.jpg">
								<br><span class="-avatar">
									<div class="-thumbnail">
										<img src="http://s1.wp.com/wp-content/themes/vip/timelife/images/life_logo.png" alt="Life">
									</div>Time & Life Pictures
								</span>
							</div>

						</div>
						
						<div class="-item">

							<div class="-container">
								<h3 class="tk-jaf-bernina-sans">
									Dean Martin with daughter Gina Caroline, 1958.
								</h3>
								<img src="/img/examples/blog/Dean-Martin-with-daughter-Gina-Caroline-1958.jpg">
								<br><span class="-avatar">
									<div class="-thumbnail">
										<img src="http://s1.wp.com/wp-content/themes/vip/timelife/images/life_logo.png" alt="Life">
									</div>Time & Life Pictures
								</span>
							</div>

						</div>

						<div class="-item">

							<div class="-container">
								<h3 class="tk-jaf-bernina-sans">
									Henry Fonda with daughter Jane, 1960.
								</h3>
								<img src="/img/examples/blog/Henry-Fonda-with-daughter-Jane-1960.jpg">
								<br><span class="-avatar">
									<div class="-thumbnail">
										<img src="http://s1.wp.com/wp-content/themes/vip/timelife/images/life_logo.png" alt="Life">
									</div>Time & Life Pictures
								</span>
							</div>
								
						</div>
						
						<div class="-item">

							<div class="-container">
								<h3 class="tk-jaf-bernina-sans">
									John Glenn with daughter Lyn, 1959.
								</h3>
								<img src="/img/examples/blog/John-Glenn-with-daughter-Lyn-1959.jpg">
								<br><span class="-avatar">
									<div class="-thumbnail">
										<img src="http://s1.wp.com/wp-content/themes/vip/timelife/images/life_logo.png" alt="Life">
									</div>Time & Life Pictures
								</span>
							</div>

						
						</div>
						
						<div class="-item">

							<div class="-container">
								<h3 class="tk-jaf-bernina-sans">
									John Mills with daughter Hayley, 1962.
								</h3>
								<img src="/img/examples/blog/John-Mills-with-daughter-Hayley-1962.jpg">
								<br><span class="-avatar">
									<div class="-thumbnail">
										<img src="http://s1.wp.com/wp-content/themes/vip/timelife/images/life_logo.png" alt="Life">
									</div>Time & Life Pictures
								</span>
							</div>

						</div>
						
						<div class="-item">
							<div class="-container">
								<h3 class="tk-jaf-bernina-sans">
									Richard Burton and daughter Kate, 1962.
								</h3>
								<img src="/img/examples/blog/Richard-Burton-and-daughter-Kate.jpg">
								<br><span class="-avatar">
									<div class="-thumbnail">
										<img src="http://s1.wp.com/wp-content/themes/vip/timelife/images/life_logo.png" alt="Life">
									</div>Time & Life Pictures
								</span>
							</div>
						</div>
						
						<div class="-item">
							<div class="-container">
								<h3 class="tk-jaf-bernina-sans">
									Robert F. Kennedy with daughter Mary, 1963.
								</h3>
								<img src="/img/examples/blog/Robert-F-Kennedy-with-daughter-Mary-1963.jpg">
								<br><span class="-avatar">
									<div class="-thumbnail">
										<img src="http://s1.wp.com/wp-content/themes/vip/timelife/images/life_logo.png" alt="Life">
									</div>Time & Life Pictures
								</span>
							</div>

						</div>

					</div>
					
				</div>

		</div>
		<!-- #dads-modal -->



		<script src="/js/vendor.js"></script>
		<script src="/js/maxmertkitCommertial.js"></script>
		<script type="text/javascript">
		// 	(function($){
		// 		$(document).ready(function(){
		// 			$('.dev-btn').on( 'click.dev', function(){
		// 				$('body').toggleClass('dev-toggle-source-active');
		// 				$(this).toggleClass('_active_');
		// 				// contentHeight = $('.dev-source').height();
		// 				// $('.dev-view').css( 'min-height', contentHeight );
						
		// 				$("[data-spy='scroll']").scrollspy({
		// 					elements: '.dev-view-block',
		// 					elementsAttr: 'target'
		// 				});
		// 			});
		// 		})
		// 	})(jQuery)
		</script>
	</body>
</html>