@include exports("block/post")
	.#{$block-post-class}
		font-size: 140%
	
		blockquote
			font-size: 120%
			line-height: 1.3em
			margin: 40px 0

		h1, h2, h3, h4, h5, h6
			& + p
				margin-top: 10px

		h1
			font-size: $headings-h1-font-size * 1.4
		h2
			font-size: $headings-h2-font-size * 1.4
		h3
			font-size: $headings-h3-font-size * 1.4
		h4
			font-size: $headings-h4-font-size * 1.4
		h5
			font-size: $headings-h5-font-size * 1.4
		h6
			font-size: $headings-h6-font-size * 1.4

		p
			margin: 40px 0
			// line-height: 1.6em

			& + p, & + figure
				margin-top: 0

		figure
			margin: 40px 0
			
			figcaption
				p
					margin: 0