@mixin filter($type)
	@include prefixer(filter, $type, webkit moz spec)

@mixin comments-theme-setter($i)
	&.#{$mod-invert}
		color: lighten(nth($themes-white-colors, $i), 15%)
		// background-color: nth($themes-colors, $i)

		hr
			background-color: lighten(nth($themes-white-colors, $i), 15%)
			
		a
			color: nth($themes-white-colors, $i)
		
			&:hover
				color: lighten(nth($themes-white-colors, $i), 15%)

		.#{$wall-image-class}
			figure figcaption
				color: lighten(nth($themes-white-colors, $i), 15%)



@include exports("comments/common")
	.#{$comments-class}
		list-style: none

		.#{$comments-item-class}
			@include row( table, LTR )
			width: auto
			margin-bottom: $comments-item-margin-bottom

			.#{$comments-item-block-class}
				display: table-cell
				vertical-align: top

				.#{$avatar-class}
					margin-bottom: 0.1em

				&.#{$mod-hidden}, .#{$mod-hidden}
					opacity: 0
					@include transition( opacity .3s ease-out )

			&:hover
				.#{$comments-item-block-class}
					&.#{$mod-hidden}, .#{$mod-hidden}
						opacity: 1
