@include exports("badges/common")

	.#{$badge-class}
		@extend .#{$label-class}

		font-weight: $badge-font-weight
		border-width: $badge-border-width
		border-style: $badge-border-style
		border-radius: $badge-border-radius
		padding: $badge-padding-vertical $badge-padding-horizontal $badge-padding-vertical $badge-padding-horizontal - 1