@mixin nav-theme-bar-float-setter($i)
	@if nth($themes, $i) != "-default-"
		background-color: rgba(lighten(nth($themes-background-light-colors, $i), 5%), $nav-bar-float-background-opacity)
		border-color: nth($themes-background-light-colors, $i)
	@else
		background-color: rgba(lighten(nth($themes-background-light-colors, $i), 1%), $nav-bar-float-background-opacity)
		border-color: darken(nth($themes-background-light-colors, $i), 4%)

	@include media(new-breakpoint(max-width 992px 6))
		@if nth($themes, $i) != "-default-"
			background-color: lighten(nth($themes-background-light-colors, $i), 5%)
		@else
			background-color: lighten(nth($themes-background-light-colors, $i), 1%)
	// #{$nav-item}

	// 	&:hover, &.#{$mod-hovered}
	// 		& > a
	// 			@if nth($themes, $i) != "-default-"
	// 				color: nth($themes-white-colors, $i)
	// 			@else
	// 				color: nth($themes-colors, $i)
		
	// 	&.#{$mod-active}
	// 		& > a				
	// 			@if nth($themes, $i) != "-default-"
	// 				color: nth($themes-white-colors, $i)
	// 				background-color: nth($themes-background-colors, $i)
	// 			@else
	// 				color: nth($themes-colors, $i)
	// 				background-color: darken(nth($themes-background-light-colors, $i), 5%)


	// 	&.#{$mod-disabled}, &[disabled]
	// 		a, :active &, .#{$mod-active} &, :hover &, .#{$mod-hovered} &
	// 			background: transparent
	// 			color: rgba(nth($themes-colors, index($themes, "-default-")),.3)


@include exports("nav/bar-float")
	.#{$nav-bar-float-class}
		@extend .#{$nav-bar-class}
		position: fixed
		width: 100%
		border-width: $nav-bar-float-border-width
		border-radius: $nav-bar-float-border-radius

		@each $theme in $themes
			$i: index($themes, $theme)
			
			@if $theme == "-default-"
				@include nav-theme-bar-float-setter($i)
				&.#{$theme}
					@include nav-theme-bar-float-setter($i)
			@else
				&.#{$theme}
					@include nav-theme-bar-float-setter($i)


	@include media(new-breakpoint(max-width 992px 6))
		.#{$nav-bar-float-class}
			position: relative !important
			top: 0 !important