@import "../docs/js/bower/highlightjs-scss/styles/github"
@import "../docs/js/bower/bourbon/dist/bourbon"
@import "../docs/js/bower/neat/app/assets/stylesheets/neat"



.example-block
	margin: 15px 0 35px
	border: 1px solid #ccc
	border-radius: 5px


.example-block
	.example, .view
		padding: 15px!important
		position: relative

	.view
		& > .-btn, & > .-group
			margin-top: 5px
			margin-bottom: 5px

		& > .-group
			.-btn
				margin-top: 0
				margin-bottom: 0

		& > .-drop
			display: inline-block

		._dev-clear_
			@include clearfix
			position: relative
			top: inherit
			left: inherit
			right: inherit

	.example
		border: none
		border-radius: 0
		border-top: 1px solid #ccc
		background-color: rgba(0,0,0,.03)
		margin-bottom: 0

		pre
			padding: 0
			border: none
			margin: 0

		&:first-child
			border-top: none

._dev-invisibility_, ._dev-visibility_
	padding: 10px 15px
	border-radius: 5px

._dev-invisibility_
	background-color: #eeeeee
	position: relative

._dev-visibility_
	position: absolute
	background-color: #ffc43e
	top: 0
	left: 0
	width: 100%

@include media(new-breakpoint(max-width 768px 6))
	.example-block
		.example
			display: none


.row-color
	background-color: #d5e7f1
	margin-bottom: 1px
	padding: 10px

	.column-color
		background-color: #baddf1
		padding: 10px

#popup
	.popups-block
		@include perspective(1300px)
		@include perspective-origin(50% 50%)