* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.dev_center_ {
  text-align: center; }

a[href] {
  color: #3498de; }

.example-block {
  margin: 15px 0 35px;
  border: 1px solid #cccccc;
  border-radius: 5px; }

pre.prettyprint {
  padding: 15px;
  background-color: #f7f7f7;
  border: 1px solid #cccccc; }

.dev-logo {
  max-height: 30px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -9px; }
  .dev-logo img {
    height: 30px;
    width: 30px;
    margin-top: 5px; }

.dev-sidebar-menu {
  margin-top: 50px; }

.dev-navbar {
  position: relative;
  border-width: 0 !important;
  border-bottom-width: 1px !important;
  border-radius: 0 !important;
  border-style: none !important; }

.dev-menu-small a {
  opacity: 0.5;
  font-size: 0.9em !important; }

.dev-main-content {
  margin: 0px auto 30px; }
  .dev-main-content section + section {
    margin-top: 35px; }
  .dev-main-content h1 {
    margin-top: 50px; }

.dev-meta {
  opacity: 0.2; }
  .dev-meta.-error- {
    opacity: 1; }

.dev-filetree {
  list-style: none;
  font-weight: 100;
  font-size: 90%; }
  .dev-filetree ul {
    list-style: none;
    margin-bottom: 10px; }
  .dev-filetree li:before {
    content: "\02EB\0009";
    color: #cccccc; }
  .dev-filetree li:last-child:before {
    content: "\02EA\0009";
    color: #cccccc; }
  .dev-filetree li .dev-meta {
    margin-left: 15px; }
  .dev-filetree li b.dev-meta {
    margin-left: 0; }

.dev-mobile-menu li {
  margin-right: 2px !important; }

.dev-instructions, .dev-instructions-utilities, .dev-instructions-widgets, .dev-instructions-basic, .dev-instructions-components, .dev-instructions-start, .dev-instructions-index {
  min-height: 400px;
  height: 400px;
  width: 100%;
  position: relative;
  display: table; }
  .dev-instructions .dev-version, .dev-instructions-utilities .dev-version, .dev-instructions-widgets .dev-version, .dev-instructions-basic .dev-version, .dev-instructions-components .dev-version, .dev-instructions-start .dev-version, .dev-instructions-index .dev-version {
    text-align: center;
    opacity: 0.4;
    font-weight: 100;
    font-size: 0.7em; }
  .dev-instructions .dev-additional, .dev-instructions-utilities .dev-additional, .dev-instructions-widgets .dev-additional, .dev-instructions-basic .dev-additional, .dev-instructions-components .dev-additional, .dev-instructions-start .dev-additional, .dev-instructions-index .dev-additional {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 0.75em;
    font-weight: 100; }
  .dev-instructions > .dev-instructions-holder, .dev-instructions-utilities > .dev-instructions-holder, .dev-instructions-widgets > .dev-instructions-holder, .dev-instructions-basic > .dev-instructions-holder, .dev-instructions-components > .dev-instructions-holder, .dev-instructions-start > .dev-instructions-holder, .dev-instructions-index > .dev-instructions-holder {
    display: table-cell;
    width: 100%;
    vertical-align: middle; }
  .dev-instructions:before, .dev-instructions-utilities:before, .dev-instructions-widgets:before, .dev-instructions-basic:before, .dev-instructions-components:before, .dev-instructions-start:before, .dev-instructions-index:before {
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/img/mainmenu.png");
    position: absolute;
    z-index: 0; }

.dev-font-lobster {
  font-family: "Lobster", cursive; }

.dev-font-raleway {
  font-family: "Raleway", sans-serif; }

.dev-instructions-widgets {
  color: white;
  background-image: -webkit-linear-gradient( top , #187da9 0%, #2da7ab 100%);
  background-image: linear-gradient(to bottom, #187da9 0%, #2da7ab 100%); }
  .dev-instructions-widgets .-btn-bordered {
    color: white; }
    .dev-instructions-widgets .-btn-bordered:hover, .dev-instructions-widgets .-btn-bordered:active {
      color: black; }

.dev-instructions-utilities {
  color: white;
  background-image: -webkit-linear-gradient( top , #8f0e0a 0%, #d26117 100%);
  background-image: linear-gradient(to bottom, #8f0e0a 0%, #d26117 100%); }
  .dev-instructions-utilities .-btn-bordered {
    color: white; }
    .dev-instructions-utilities .-btn-bordered:hover, .dev-instructions-utilities .-btn-bordered:active {
      color: black; }

.dev-instructions-basic {
  color: white;
  background-image: -webkit-linear-gradient( top , #4b358c 0%, #b30c83 100%);
  background-image: linear-gradient(to bottom, #4b358c 0%, #b30c83 100%); }
  .dev-instructions-basic .-btn-bordered {
    color: white; }
    .dev-instructions-basic .-btn-bordered:hover, .dev-instructions-basic .-btn-bordered:active {
      color: black; }

.dev-instructions-components {
  color: white;
  background-image: -webkit-linear-gradient( top , #29b600 0%, #9fbc00 100%);
  background-image: linear-gradient(to bottom, #29b600 0%, #9fbc00 100%); }
  .dev-instructions-components .-btn-bordered {
    color: white; }
    .dev-instructions-components .-btn-bordered:hover, .dev-instructions-components .-btn-bordered:active {
      color: black; }

.dev-instructions-start {
  color: white;
  background-image: -webkit-linear-gradient( top , #252525 0%, #585858 100%);
  background-image: linear-gradient(to bottom, #252525 0%, #585858 100%); }
  .dev-instructions-start .-btn-bordered {
    color: white; }
    .dev-instructions-start .-btn-bordered:hover, .dev-instructions-start .-btn-bordered:active {
      color: black; }

.dev-instructions-index {
  min-height: 600px;
  height: 600px; }
  .dev-instructions-index:before {
    display: none; }
  .dev-instructions-index .dev-instructions-holder {
    position: relative;
    overflow: hidden; }
  .dev-instructions-index .dev-version {
    opacity: 1; }
  .dev-instructions-index .dev-logobig {
    margin: 0; }
  .dev-instructions-index .dev-video-block {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 50%;
    height: 600px;
    margin-left: -550px; }
    .dev-instructions-index .dev-video-block video {
      background-color: white !important; }
  .dev-instructions-index .-btn-bordered {
    color: black; }
    .dev-instructions-index .-btn-bordered:hover, .dev-instructions-index .-btn-bordered:active {
      color: black; }

.dev-instructions-description {
  font-weight: 100;
  opacity: 0.6; }

.dev-description {
  margin-top: 50px;
  font-weight: 100; }
  .dev-description h1, .dev-description h2, .dev-description h3, .dev-description h4, .dev-description h5, .dev-description h6 {
    font-weight: 100; }

.dev-series {
  padding: 50px 0 300px;
  position: relative; }
  .dev-series h2 {
    text-align: center;
    margin-bottom: 30px; }
  .dev-series .dev-series-body {
    text-align: center;
    position: absolute;
    left: 0;
    width: 100%;
    top: 250px; }
    .dev-series .dev-series-body > * {
      position: relative;
      display: inline-block; }
  .dev-series .dev-plus {
    font-size: 48px;
    color: #eeeeee;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px; }
  .dev-series .dev-card-holder {
    -webkit-perspective: 500px;
    -moz-perspective: 500px;
    perspective: 500px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%; }
    .dev-series .dev-card-holder h4 {
      color: #cccccc; }
  .dev-series .dev-card {
    text-align: center;
    position: relative;
    border-radius: 3px;
    border: 2px solid #f0f0f0;
    padding: 30px 0;
    font-size: 20px;
    cursor: pointer; }
    .dev-series .dev-card:hover {
      border-color: #3598db; }

.dev-changelog section + section {
  padding-top: 10px; }

.example-block .example, .example-block .view {
  padding: 15px !important;
  position: relative; }
.example-block .view > .-btn, .example-block .view > .-group {
  margin-top: 5px;
  margin-bottom: 5px; }
.example-block .view > .-group .-btn {
  margin-top: 0;
  margin-bottom: 0; }
.example-block .view > .-drop {
  display: inline-block; }
.example-block .view ._dev-clear_ {
  position: relative;
  top: inherit;
  left: inherit;
  right: inherit; }
  .example-block .view ._dev-clear_:after {
    content: "";
    display: table;
    clear: both; }
.example-block .example {
  border: none;
  border-radius: 0;
  border-top: 1px solid #cccccc;
  background-color: rgba(0, 0, 0, 0.03);
  margin-bottom: 0; }
  .example-block .example pre {
    padding: 0;
    border: none;
    margin: 0; }
  .example-block .example:first-child {
    border-top: none; }

._dev-invisibility_, ._dev-visibility_ {
  padding: 10px 15px;
  border-radius: 5px; }

._dev-invisibility_ {
  background-color: #eeeeee;
  position: relative; }

._dev-visibility_ {
  position: absolute;
  background-color: #ffc43e;
  top: 0;
  left: 0;
  width: 100%; }

@media screen and (max-width: 768px) {
  .example-block .example {
    display: none !important; }

  .dev-instructions-index {
    min-height: inherit;
    height: auto; }
    .dev-instructions-index .dev-video-block {
      display: none; }
    .dev-instructions-index .dev-logobig {
      display: none; }
    .dev-instructions-index .dev-additional {
      position: relative;
      margin-top: 40px; }

  .dev-series {
    padding: 0; }
    .dev-series .dev-series-body {
      position: relative;
      top: 0; }
    .dev-series .dev-card {
      font-size: 14px; } }
.row-color {
  background-color: #d5e7f1;
  margin-bottom: 1px;
  padding: 10px; }
  .row-color .column-color {
    background-color: #baddf1;
    padding: 10px; }

#popup .popups-block {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%; }

footer {
  border-top: 1px solid #eeeeee;
  color: #777777;
  font-size: 90%;
  padding: 50px 0; }
  footer .-btn-bordered {
    margin-bottom: 4px; }
  footer .dev-links {
    list-style: none;
    display: inline-block;
    margin: 0; }
    footer .dev-links li {
      display: inline-block; }
      footer .dev-links li:before {
        content: "\0020\2022\0020";
        margin: 0 7px; }
      footer .dev-links li:first-child:before {
        display: none; }

/*# sourceMappingURL=developer.sass.map */
