* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.example-block {
  margin: 15px 0 35px;
  border: 1px solid #cccccc;
  border-radius: 5px; }

pre.prettyprint {
  padding: 15px;
  background-color: #f7f7f7;
  border: 1px solid #cccccc; }

.dev-logo {
  max-height: 18px;
  display: inline-block;
  vertical-align: top; }

.dev-sidebar-menu {
  margin-top: 20px; }

.dev-navbar {
  position: relative;
  border-width: 0 !important;
  border-bottom-width: 1px !important;
  border-radius: 0 !important;
  border-style: none !important; }

.dev-menu-small a {
  opacity: 0.5;
  font-size: 0.9em !important; }

.dev-main-content {
  margin: 30px auto; }

.dev-mobile-menu li {
  margin-right: 2px !important; }

.dev-instructions, .dev-instructions-utilities, .dev-instructions-widgets, .dev-instructions-basic {
  min-height: 400px;
  position: relative;
  display: table;
  color: white; }
  .dev-instructions .dev-version, .dev-instructions-utilities .dev-version, .dev-instructions-widgets .dev-version, .dev-instructions-basic .dev-version {
    text-align: center;
    opacity: 0.4;
    font-weight: 100;
    font-size: 0.7em; }
  .dev-instructions .dev-additional, .dev-instructions-utilities .dev-additional, .dev-instructions-widgets .dev-additional, .dev-instructions-basic .dev-additional {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 0.75em;
    font-weight: 100; }
  .dev-instructions > .dev-instructions-holder, .dev-instructions-utilities > .dev-instructions-holder, .dev-instructions-widgets > .dev-instructions-holder, .dev-instructions-basic > .dev-instructions-holder {
    display: table-cell;
    width: 100%;
    vertical-align: middle; }
  .dev-instructions:before, .dev-instructions-utilities:before, .dev-instructions-widgets:before, .dev-instructions-basic:before {
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/img/mainmenu.png");
    position: absolute;
    z-index: 0; }
  .dev-instructions .dev-font-lobster, .dev-instructions-utilities .dev-font-lobster, .dev-instructions-widgets .dev-font-lobster, .dev-instructions-basic .dev-font-lobster {
    font-family: "Lobster", cursive; }
  .dev-instructions .dev-font-raleway, .dev-instructions-utilities .dev-font-raleway, .dev-instructions-widgets .dev-font-raleway, .dev-instructions-basic .dev-font-raleway {
    font-family: "Raleway", sans-serif; }

.dev-instructions-widgets {
  background-image: -webkit-linear-gradient(#187da9 0, #2da7ab 100%);
  background-image: linear-gradient(to   , #2da7ab 100%); }

.dev-instructions-utilities {
  background-image: -webkit-linear-gradient(#8f0e0a 0, #d26117 100%);
  background-image: linear-gradient(to   , #d26117 100%); }

.dev-instructions-basic {
  background-image: -webkit-linear-gradient(#4b358c 0, #b30c83 100%);
  background-image: linear-gradient(to   , #b30c83 100%); }

.example-block .example, .example-block .view {
  padding: 15px !important;
  position: relative; }
.example-block .view > .-btn, .example-block .view > .-group {
  margin-top: 5px;
  margin-bottom: 5px; }
.example-block .view > .-group .-btn {
  margin-top: 0;
  margin-bottom: 0; }
.example-block .view > .-drop {
  display: inline-block; }
.example-block .view ._dev-clear_ {
  position: relative;
  top: inherit;
  left: inherit;
  right: inherit; }
  .example-block .view ._dev-clear_:after {
    content: "";
    display: table;
    clear: both; }
.example-block .example {
  border: none;
  border-radius: 0;
  border-top: 1px solid #cccccc;
  background-color: rgba(0, 0, 0, 0.03);
  margin-bottom: 0; }
  .example-block .example pre {
    padding: 0;
    border: none;
    margin: 0; }
  .example-block .example:first-child {
    border-top: none; }

._dev-invisibility_, ._dev-visibility_ {
  padding: 10px 15px;
  border-radius: 5px; }

._dev-invisibility_ {
  background-color: #eeeeee;
  position: relative; }

._dev-visibility_ {
  position: absolute;
  background-color: #ffc43e;
  top: 0;
  left: 0;
  width: 100%; }

@media screen and (max-width: 768px) {
  .example-block .example {
    display: none !important; } }
.row-color {
  background-color: #d5e7f1;
  margin-bottom: 1px;
  padding: 10px; }
  .row-color .column-color {
    background-color: #baddf1;
    padding: 10px; }

#popup .popups-block {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%; }

/*# sourceMappingURL=developer.sass.map */