* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b,
strong, u, i, em, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

._no-scroll_ {
  overflow: hidden !important; }
  ._no-scroll_ .-push {
    overflow: hidden !important; }

._perspective_ {
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px; }

._float-right_ {
  float: right; }

._float-left_ {
  float: left; }

@-ms-viewport {
  width: device-width; }
._visible-phones_, tr ._visible-phones_, th ._visible-phones_, td ._visible-phones_ {
  display: none !important; }
@media screen and (max-width: 768px) {
  ._visible-phones_ {
    display: inline-block !important; }
    table ._visible-phones_ {
      display: table; }
    tr ._visible-phones_ {
      display: table-row !important; }
    th ._visible-phones_, td ._visible-phones_ {
      display: table-cell !important; } }

._visible-tablets_, tr ._visible-tablets_, th ._visible-tablets_, td ._visible-tablets_ {
  display: none !important; }
@media screen and (min-width: 768px) and (max-width: 992px) {
  ._visible-tablets_ {
    display: inline-block !important; }
    table ._visible-tablets_ {
      display: table; }
    tr ._visible-tablets_ {
      display: table-row !important; }
    th ._visible-tablets_, td ._visible-tablets_ {
      display: table-cell !important; } }

._visible-desktops_, tr ._visible-desktops_, th ._visible-desktops_, td ._visible-desktops_ {
  display: none !important; }
@media screen and (min-width: 992px) and (max-width: 1200px) {
  ._visible-desktops_ {
    display: inline-block !important; }
    table ._visible-desktops_ {
      display: table; }
    tr ._visible-desktops_ {
      display: table-row !important; }
    th ._visible-desktops_, td ._visible-desktops_ {
      display: table-cell !important; } }

._visible-large-desktops_, tr ._visible-large-desktops_, th ._visible-large-desktops_, td ._visible-large-desktops_ {
  display: none !important; }
@media screen and (min-width: 1200px) {
  ._visible-large-desktops_ {
    display: inline-block !important; }
    table ._visible-large-desktops_ {
      display: table; }
    tr ._visible-large-desktops_ {
      display: table-row !important; }
    th ._visible-large-desktops_, td ._visible-large-desktops_ {
      display: table-cell !important; } }

@media screen and (max-width: 768px) {
  ._hidden-phones_, tr ._hidden-phones_, th ._hidden-phones_, td ._hidden-phones_ {
    display: none !important; } }

@media screen and (min-width: 768px) and (max-width: 992px) {
  ._hidden-tablets_, tr ._hidden-tablets_, th ._hidden-tablets_, td ._hidden-tablets_ {
    display: none !important; } }

@media screen and (min-width: 992px) and (max-width: 1200px) {
  ._hidden-desktops_, tr ._hidden-desktops_, th ._hidden-desktops_, td ._hidden-desktops_ {
    display: none !important; } }

@media screen and (min-width: 1200px) {
  ._hidden-large-desktops_, tr ._hidden-large-desktops_, th ._hidden-large-desktops_, td ._hidden-large-desktops_ {
    display: none !important; } }

html, body {
  font-size: 100%;
  font-family: "Helvetica";
  height: 100%; }

.-no-pointer-events {
  pointer-events: none; }
  .-no-pointer-events .-nav-bullets {
    pointer-events: auto; }

[class*="-shadow"] {
  position: relative; }

.-shadow-lifted-:before, .-shadow-lifted-:after {
  content: " ";
  position: absolute;
  z-index: -2; }
.-shadow-lifted-:before, .-shadow-lifted-:after {
  bottom: 20px;
  left: 10px;
  width: 46%;
  height: 20%;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.5), 0 15px 10px rgba(0, 0, 0, 0.2);
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg); }
.-shadow-lifted-:after {
  right: 10px;
  left: auto;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg); }

[class*="-shadow"] {
  position: relative; }

.-shadow-curve-:before {
  content: " ";
  position: absolute;
  z-index: -2; }
.-shadow-curve-:before {
  bottom: 20px;
  left: 2.5%;
  width: 95%;
  height: 20%;
  border-radius: 100px/10px;
  box-shadow: 0 9px 10px rgba(0, 0, 0, 0.5), 0 15px 15px rgba(0, 0, 0, 0.2); }

[class*="-shadow"] {
  position: relative; }

.-shadow-curve-double-:before, .-shadow-curve-double-:after {
  content: " ";
  position: absolute;
  z-index: -2; }
.-shadow-curve-double-:before, .-shadow-curve-double-:after {
  left: 2.5%;
  width: 95%;
  height: 20%;
  border-radius: 100px/10px; }
.-shadow-curve-double-:before {
  top: 10px;
  box-shadow: 0 -9px 10px rgba(0, 0, 0, 0.5), 0 -15px 15px rgba(0, 0, 0, 0.2); }
.-shadow-curve-double-:after {
  bottom: 10px;
  box-shadow: 0 9px 10px rgba(0, 0, 0, 0.5), 0 15px 15px rgba(0, 0, 0, 0.2); }

.-container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .-container:after {
    content: "";
    display: table;
    clear: both; }

@media screen and (min-width: 1200) {
  .-container {
    max-width: 75em;
    margin-left: auto;
    margin-right: auto; }
    .-container:after {
      content: "";
      display: table;
      clear: both; } }
@media screen and (max-width: 1200) {
  .-container {
    max-width: 48em;
    margin-left: auto;
    margin-right: auto; }
    .-container:after {
      content: "";
      display: table;
      clear: both; } }
@media screen and (max-width: 768) {
  .-container {
    max-width: 31.25em;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px; }
    .-container:after {
      content: "";
      display: table;
      clear: both; } }
.-row {
  display: block; }
  .-row:after {
    content: "";
    display: table;
    clear: both; }

.-col1 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.17215%; }
  .-col1:last-child {
    margin-right: 0; }

.-offset1 {
  margin-left: 8.5298%; }

.-col2 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%; }
  .-col2:last-child {
    margin-right: 0; }

.-offset2 {
  margin-left: 17.05961%; }

.-col3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .-col3:last-child {
    margin-right: 0; }

.-offset3 {
  margin-left: 25.58941%; }

.-col4 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .-col4:last-child {
    margin-right: 0; }

.-offset4 {
  margin-left: 34.11922%; }

.-col5 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%; }
  .-col5:last-child {
    margin-right: 0; }

.-offset5 {
  margin-left: 42.64902%; }

.-col6 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .-col6:last-child {
    margin-right: 0; }

.-offset6 {
  margin-left: 51.17883%; }

.-col7 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%; }
  .-col7:last-child {
    margin-right: 0; }

.-offset7 {
  margin-left: 59.70863%; }

.-col8 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  .-col8:last-child {
    margin-right: 0; }

.-offset8 {
  margin-left: 68.23843%; }

.-col9 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }
  .-col9:last-child {
    margin-right: 0; }

.-offset9 {
  margin-left: 76.76824%; }

.-col10 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%; }
  .-col10:last-child {
    margin-right: 0; }

.-offset10 {
  margin-left: 85.29804%; }

.-col11 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 91.4702%; }
  .-col11:last-child {
    margin-right: 0; }

.-offset11 {
  margin-left: 93.82785%; }

.-col12 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .-col12:last-child {
    margin-right: 0; }

.-offset12 {
  margin-left: 102.35765%; }

@media screen and (max-width: 992) {
  .-col1 {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 100%;
    margin-left: 0%; }
    .-col1:last-child {
      margin-right: 0; }

  .-col2 {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 100%;
    margin-left: 0%; }
    .-col2:last-child {
      margin-right: 0; }

  .-col3 {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 100%;
    margin-left: 0%; }
    .-col3:last-child {
      margin-right: 0; }

  .-col4 {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 100%;
    margin-left: 0%; }
    .-col4:last-child {
      margin-right: 0; }

  .-col5 {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 100%;
    margin-left: 0%; }
    .-col5:last-child {
      margin-right: 0; }

  .-col6 {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 100%;
    margin-left: 0%; }
    .-col6:last-child {
      margin-right: 0; }

  .-col7 {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 100%;
    margin-left: 0%; }
    .-col7:last-child {
      margin-right: 0; }

  .-col8 {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 100%;
    margin-left: 0%; }
    .-col8:last-child {
      margin-right: 0; }

  .-col9 {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 100%;
    margin-left: 0%; }
    .-col9:last-child {
      margin-right: 0; }

  .-col10 {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 100%;
    margin-left: 0%; }
    .-col10:last-child {
      margin-right: 0; }

  .-col11 {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 100%;
    margin-left: 0%; }
    .-col11:last-child {
      margin-right: 0; }

  .-col12 {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 100%;
    margin-left: 0%; }
    .-col12:last-child {
      margin-right: 0; } }
b, strong {
  font-weight: 700; }

i, em {
  font-style: italic; }

small {
  font-size: 85%; }

p {
  margin: 0 0 10.0px;
  line-height: 1.42857; }

b, strong, i, em, small, p, span {
  color: black; }
  b.-default-, strong.-default-, i.-default-, em.-default-, small.-default-, p.-default-, span.-default- {
    color: black; }
  b.-primary-, strong.-primary-, i.-primary-, em.-primary-, small.-primary-, p.-primary-, span.-primary- {
    color: #3598db; }
  b.-error-, strong.-error-, i.-error-, em.-error-, small.-error-, p.-error-, span.-error- {
    color: #cd2c24; }
  b.-info-, strong.-info-, i.-info-, em.-info-, small.-info-, p.-info-, span.-info- {
    color: #2fdcd5; }
  b.-warning-, strong.-warning-, i.-warning-, em.-warning-, small.-warning-, p.-warning-, span.-warning- {
    color: #ffc43e; }
  b.-dark-, strong.-dark-, i.-dark-, em.-dark-, small.-dark-, p.-dark-, span.-dark- {
    color: black; }
  b._left_, strong._left_, i._left_, em._left_, small._left_, p._left_, span._left_ {
    text-align: left; }
  b._center_, strong._center_, i._center_, em._center_, small._center_, p._center_, span._center_ {
    text-align: center; }
  b._right_, strong._right_, i._right_, em._right_, small._right_, p._right_, span._right_ {
    text-align: right; }
  b._justify_, strong._justify_, i._justify_, em._justify_, small._justify_, p._justify_, span._justify_ {
    text-align: justify; }

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted; }
  abbr[title].-initialism {
    text-transform: uppercase;
    font-size: 80%; }

address {
  margin-bottom: 20.0px;
  line-height: 1.42857; }

blockquote {
  padding: 10.0px 20.0px;
  margin: 0 0 20.0px;
  line-height: 20.0px;
  font-size: 17.5px;
  text-align: left;
  border-left: 5px solid; }
  blockquote small {
    font-size: 80%; }
    blockquote small:before {
      content: "\2014 \00A0"; }
  blockquote._right_ {
    text-align: right;
    border-left: none;
    border-right: 5px solid; }
    blockquote._right_ small:before {
      content: ""; }
    blockquote._right_ small:after {
      content: "\2014 \00A0"; }

hr {
  display: block;
  height: 1px;
  width: 40%;
  margin: 35px 30%;
  border: none; }

.-btn {
  display: inline-block;
  margin: 0;
  font-weight: 200;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  white-space: nowrap;
  outline: none;
  position: relative;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #e8e8e8;
  border-color: #d1d1d1;
  color: black;
  font-size: 14px; }
  .-btn._vertical_ {
    display: block;
    width: 100%; }
    .-btn._vertical_ + .-btn {
      margin-top: 5px; }
  .-btn:hover, .-btn._hovered_ {
    background-color: #f3f3f3; }
  .-btn:active, .-btn._active_ {
    background-color: #d6d6d6;
    border-color: #cccccc; }
  .-btn._disabled_, .-btn[disabled], fieldset[disabled] .-btn {
    color: rgba(204, 204, 204, 0.65); }
  .-btn._unstyled_ {
    color: black; }
  .-btn.-default- {
    background-color: #e8e8e8;
    border-color: #d1d1d1;
    color: black; }
    .-btn.-default-:hover, .-btn.-default-._hovered_ {
      background-color: #f3f3f3; }
    .-btn.-default-:active, .-btn.-default-._active_ {
      background-color: #d6d6d6;
      border-color: #cccccc; }
    .-btn.-default-._disabled_, .-btn.-default-[disabled], fieldset[disabled] .-btn.-default- {
      color: rgba(204, 204, 204, 0.65); }
    .-btn.-default-._unstyled_ {
      color: black; }
  .-btn.-primary- {
    background-color: #3598db;
    border-color: #2486c9;
    color: white; }
    .-btn.-primary-:hover, .-btn.-primary-._hovered_ {
      background-color: #4ba3df; }
    .-btn.-primary-:active, .-btn.-primary-._active_ {
      background-color: #258cd1;
      border-color: #258cd1; }
    .-btn.-primary-._disabled_, .-btn.-primary-[disabled], fieldset[disabled] .-btn.-primary- {
      color: rgba(255, 255, 255, 0.65); }
    .-btn.-primary-._unstyled_ {
      color: #3598db; }
  .-btn.-error- {
    background-color: #cd2c24;
    border-color: #af251f;
    color: white; }
    .-btn.-error-:hover, .-btn.-error-._hovered_ {
      background-color: #db3830; }
    .-btn.-error-:active, .-btn.-error-._active_ {
      background-color: #b72720;
      border-color: #b72720; }
    .-btn.-error-._disabled_, .-btn.-error-[disabled], fieldset[disabled] .-btn.-error- {
      color: rgba(255, 255, 255, 0.65); }
    .-btn.-error-._unstyled_ {
      color: #cd2c24; }
  .-btn.-info- {
    background-color: #2fdcd5;
    border-color: #21c6bf;
    color: white; }
    .-btn.-info-:hover, .-btn.-info-._hovered_ {
      background-color: #45e0d9; }
    .-btn.-info-:active, .-btn.-info-._active_ {
      background-color: #23cfc8;
      border-color: #23cfc8; }
    .-btn.-info-._disabled_, .-btn.-info-[disabled], fieldset[disabled] .-btn.-info- {
      color: rgba(255, 255, 255, 0.65); }
    .-btn.-info-._unstyled_ {
      color: #2fdcd5; }
  .-btn.-warning- {
    background-color: #ffc43e;
    border-color: #ffb91a;
    color: white; }
    .-btn.-warning-:hover, .-btn.-warning-._hovered_ {
      background-color: #ffcc58; }
    .-btn.-warning-:active, .-btn.-warning-._active_ {
      background-color: #ffbc24;
      border-color: #ffbc24; }
    .-btn.-warning-._disabled_, .-btn.-warning-[disabled], fieldset[disabled] .-btn.-warning- {
      color: rgba(255, 255, 255, 0.65); }
    .-btn.-warning-._unstyled_ {
      color: #ffc43e; }
  .-btn.-dark- {
    background-color: black;
    border-color: black;
    color: white; }
    .-btn.-dark-:hover, .-btn.-dark-._hovered_ {
      background-color: #0d0d0d; }
    .-btn.-dark-:active, .-btn.-dark-._active_ {
      background-color: black;
      border-color: black; }
    .-btn.-dark-._disabled_, .-btn.-dark-[disabled], fieldset[disabled] .-btn.-dark- {
      color: rgba(255, 255, 255, 0.65); }
    .-btn.-dark-._unstyled_ {
      color: black; }
  .-btn._disabled_, .-btn[disabled], fieldset[disabled] .-btn {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.55;
    box-shadow: none; }
  .-btn._unstyled_ {
    background-color: transparent !important;
    border: 1px solid transparent !important;
    box-shadow: none !important;
    text-decoration: underline; }
    .-btn._unstyled_:hover, .-btn._unstyled_._hovered_, .-btn._unstyled_:active, .-btn._unstyled_._active_, .-btn._unstyled_._disabled_, .-btn._unstyled_[disabled], fieldset[disabled] .-btn._unstyled_ {
      text-decoration: none; }
    .-btn._unstyled_ .fa {
      padding-right: 4px; }
  .-btn._small {
    font-size: 7px; }
  .-btn._minor {
    font-size: 10.5px; }
  .-btn._normal {
    font-size: 14px; }
  .-btn._major {
    font-size: 17.5px; }
  .-btn._big {
    font-size: 21px; }
  .-btn._huge {
    font-size: 24.5px; }
  .-btn._divine {
    font-size: 28px; }

a.-btn {
  font-weight: normal; }

/*# sourceMappingURL=main.sass.map */