@mixin buttons-theme-addon-setter($i)
	background-color: lighten(nth($themes-border-light-colors, $i), 8%)
	// @if nth($themes, $i) != "-default-"
	// 	background-color: nth($themes-border-light-colors, $i)
	// @else
	// 	color: nth($themes-white-colors, $i)
	// border: 1px solid nth($themes-border-colors, $i)
	// @else
	// 	background-color: nth($themes-background-colors, $i)
	// 	color: nth($themes-white-colors, $i)

	// &:hover, &.#{$mod-hovered}
	// 	box-shadow: 1px 1px 2px rgba(0,0,0,.2), -1px 1px 2px rgba(0,0,0,.2), 0 4px 4px rgba(0,0,0,.05), 0 6px 6px rgba(0,0,0,.1)

	// &:active, &.#{$mod-active}
	// 	box-shadow: 0 1px 2px rgba(0,0,0,.4), inset 0 -15px 15px rgba(0,0,0,.1)
	// 	@if nth($themes, $i) != "-default-"
	// 		background-color: nth($themes-background-dark-colors, $i)

	// &.#{$mod-disabled}, &[disabled], fieldset[disabled] &
	// 	color: rgba(nth($themes-white-colors, $i), .65)

	&.#{$mod-unstyled}
		color: nth($themes-colors, $i)


@include exports("groups/addons")

	.#{$group-addon-class}
		display: inline-block
		text-align: center
		vertical-align: middle
		border: 1px solid transparent
		white-space: nowrap
		outline: none
		@include text-overflow

		// Set default size
		padding: $base-padding-vertical $base-padding-horizontal
		font-size: $base-font-size
		line-height: $base-line-height
		border-radius: $button-border-radius

		&:not(:first-child):not(:last-child)
			border-radius: 0

		&:first-child:not(:last-child)
			@include border-right-radius(0)

		&:last-child:not(:first-child)
			@include border-left-radius(0)

		@each $size in $base-sizes-names
			$i: index($base-sizes-names, $size)
			@if #{$size} == "_normal"
				font-size: nth($base-sizes-values, $i) * $base-font-size / 2
			
			&.#{$size}
				font-size: nth($base-sizes-values, $i) * $base-font-size



		@each $theme in $themes
			$i: index($themes, $theme)
			
			@if $theme == "-default-"
				@include buttons-theme-addon-setter($i)
				&.#{$theme}
					@include buttons-theme-addon-setter($i)
			@else
				&.#{$theme}
					@include buttons-theme-addon-setter($i)

	

	.#{$group-class}

		&.#{$mod-justify}
			.#{$group-addon-class}
				display: table-cell
				width: 1%

		&.#{$mod-responsive}
			@include media(new-breakpoint(max-width 992px 6))
				.#{$group-addon-class}
					display: table-cell
					width: 1%

		@each $size in $base-sizes-names
			$i: index($base-sizes-names, $size)
			// @if #{$size} == "_normal"
			// 	.#{$button-class}
			// 		@extend .#{$button-class}.#{$size}
			&.#{$size}
				.#{$group-addon-class}
					@extend .#{$group-addon-class}.#{$size}
		
		@each $theme in $themes
			$i: index($themes, $theme)
			
			&.#{$theme}
				.#{$group-addon-class}
					@extend .#{$group-addon-class}.#{$theme}