@include exports("groups/basic")
	//ok

	.#{$group-class}
		display: inline-block
		// margin-bottom: $group-justified-margin-bottom
		vertical-align: middle

		&.#{$mod-justify}
			display: table
			width: 100%

	
	@include media(new-breakpoint(max-width 992px 6))
		.#{$group-class}
			display: table
			width: 100%