@include exports("groups/inputs")
	
	.#{$group-class}

		display: inline-block

		.#{$form-field-class}, select, input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea
			display: inline-block
			width: auto
			vertical-align: top