@include exports("groups/inputs")
	
	.#{$group-class}

		display: inline-block

		.#{$form-field-class}, select, input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea
			display: inline-block
			width: auto
			vertical-align: top
			border-collapse: separate

		.#{$form-field-class}
			select, input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea
				padding: $base-padding-vertical - $form-field-border-width $base-padding-horizontal

			&:not(:first-child):not(:last-child)
				border-radius: 0

			&:first-child:not(:last-child)
				@include border-right-radius(0)

			&:last-child:not(:first-child)
				@include border-left-radius(0)

		&.#{$mod-justify}
			.#{$form-field-class}, select, input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea
				display: table-cell
				width: 100%

		@include media(new-breakpoint(max-width 992px 6))
			.#{$form-field-class}, select, input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea
				display: table-cell
				width: 100%


		@each $theme in $themes
			$i: index($themes, $theme)
			
			&.#{$theme}
				select, input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea
					@extend input[type="text"].#{$theme}

				.#{$form-field-class}
					@extend .#{$form-field-class}.#{$theme}


		@each $size in $base-sizes-names
			$i: index($base-sizes-names, $size)
			&.#{$size}
				
				select, input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea
					@extend input[type="text"].#{$size}
				
				.#{$form-field-class}
					@extend .#{$form-field-class}.#{$size}