* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  font-size: 100%;
  font-family: "Helvetica";
  height: 100%; }

.-shader:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../img/shaders/pattern1.png");
  z-index: 3; }

@media screen and (max-width: 768px) {
  .-shader:before {
    display: none; } }
.-play {
  cursor: pointer;
  display: inline-block;
  width: 70px;
  height: 70px;
  margin-bottom: -23.33333px; }
  .-play circle {
    fill: transparent;
    stroke-width: 3;
    -webkit-transition: stroke-width 0.2s ease-out 0s, fill 0.2s ease-out 0s;
    -moz-transition: stroke-width 0.2s ease-out 0s, fill 0.2s ease-out 0s;
    transition: stroke-width 0.2s ease-out 0s, fill 0.2s ease-out 0s; }
  .-play path {
    -webkit-transition: fill 0.2s ease-out 0s;
    -moz-transition: fill 0.2s ease-out 0s;
    transition: fill 0.2s ease-out 0s; }
  .-play:hover circle {
    stroke-width: 10; }
  .-play._tiny {
    width: 17.5px;
    height: 17.5px;
    margin-bottom: -5.83333px; }
  .-play._small {
    width: 35px;
    height: 35px;
    margin-bottom: -11.66667px; }
  .-play._minor {
    width: 52.5px;
    height: 52.5px;
    margin-bottom: -17.5px; }
  .-play._normal {
    width: 70px;
    height: 70px;
    margin-bottom: -23.33333px; }
  .-play._major {
    width: 87.5px;
    height: 87.5px;
    margin-bottom: -29.16667px; }
  .-play._big {
    width: 105px;
    height: 105px;
    margin-bottom: -35px; }
  .-play._huge {
    width: 122.5px;
    height: 122.5px;
    margin-bottom: -40.83333px; }
  .-play._giant {
    width: 133px;
    height: 133px;
    margin-bottom: -44.33333px; }
  .-play._divine {
    width: 140px;
    height: 140px;
    margin-bottom: -46.66667px; }
  .-play circle {
    stroke: #d9d9d9; }
  .-play path {
    fill: #d9d9d9; }
  .-play:hover circle {
    fill: #d9d9d9; }
  .-play:hover path {
    fill: black; }
  .-play.-default- circle {
    stroke: #d9d9d9; }
  .-play.-default- path {
    fill: #d9d9d9; }
  .-play.-default-:hover circle {
    fill: #d9d9d9; }
  .-play.-default-:hover path {
    fill: black; }
  .-play.-primary- circle {
    stroke: #3598db; }
  .-play.-primary- path {
    fill: #3598db; }
  .-play.-primary-:hover circle {
    fill: #3598db; }
  .-play.-primary-:hover path {
    fill: white; }
  .-play.-error- circle {
    stroke: #cd2c24; }
  .-play.-error- path {
    fill: #cd2c24; }
  .-play.-error-:hover circle {
    fill: #cd2c24; }
  .-play.-error-:hover path {
    fill: white; }
  .-play.-warning- circle {
    stroke: #ffc43e; }
  .-play.-warning- path {
    fill: #ffc43e; }
  .-play.-warning-:hover circle {
    fill: #ffc43e; }
  .-play.-warning-:hover path {
    fill: white; }

.-scroller {
  cursor: pointer;
  display: inline-block;
  width: 28px;
  height: 28px; }
  .-scroller circle {
    fill: transparent;
    stroke-width: 0;
    -webkit-transition: stroke-width 0.2s ease-out 0s, fill 0.2s ease-out 0s;
    -moz-transition: stroke-width 0.2s ease-out 0s, fill 0.2s ease-out 0s;
    transition: stroke-width 0.2s ease-out 0s, fill 0.2s ease-out 0s; }
  .-scroller path {
    fill: transparent;
    stroke-width: 4px;
    -webkit-transition: stroke 0.2s ease-out 0s;
    -moz-transition: stroke 0.2s ease-out 0s;
    transition: stroke 0.2s ease-out 0s; }
  .-scroller._tiny {
    width: 7px;
    height: 7px; }
  .-scroller._small {
    width: 14px;
    height: 14px; }
  .-scroller._minor {
    width: 21px;
    height: 21px; }
  .-scroller._normal {
    width: 28px;
    height: 28px; }
  .-scroller._major {
    width: 35px;
    height: 35px; }
  .-scroller._big {
    width: 42px;
    height: 42px; }
  .-scroller._huge {
    width: 49px;
    height: 49px; }
  .-scroller._giant {
    width: 53.2px;
    height: 53.2px; }
  .-scroller._divine {
    width: 56px;
    height: 56px; }
  .-scroller path {
    stroke: #d9d9d9; }
  .-scroller:hover circle {
    fill: rgba(217, 217, 217, 0.4); }
  .-scroller:hover path {
    stroke: black; }
  .-scroller.-default- path {
    stroke: #d9d9d9; }
  .-scroller.-default-:hover circle {
    fill: rgba(217, 217, 217, 0.4); }
  .-scroller.-default-:hover path {
    stroke: black; }
  .-scroller.-primary- path {
    stroke: #3598db; }
  .-scroller.-primary-:hover circle {
    fill: rgba(53, 152, 219, 0.4); }
  .-scroller.-primary-:hover path {
    stroke: white; }
  .-scroller.-error- path {
    stroke: #cd2c24; }
  .-scroller.-error-:hover circle {
    fill: rgba(205, 44, 36, 0.4); }
  .-scroller.-error-:hover path {
    stroke: white; }
  .-scroller.-warning- path {
    stroke: #ffc43e; }
  .-scroller.-warning-:hover circle {
    fill: rgba(255, 196, 62, 0.4); }
  .-scroller.-warning-:hover path {
    stroke: white; }

.-nav-bullets, .-nav-bullets-round {
  position: fixed;
  top: 50%;
  left: 20px;
  z-index: 4;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 11px; }
  .-nav-bullets i, .-nav-bullets-round i {
    display: block;
    margin-bottom: 10px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    opacity: 0.5;
    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: relative; }
    .-nav-bullets i span, .-nav-bullets-round i span {
      -webkit-transition: all 0.2s ease-out 0s;
      -moz-transition: all 0.2s ease-out 0s;
      transition: all 0.2s ease-out 0s;
      position: absolute;
      pointer-events: none;
      opacity: 0;
      left: 100%;
      font-weight: 100;
      margin-left: 5px;
      margin-top: -1px;
      top: 0;
      white-space: nowrap;
      font-style: normal; }
    .-nav-bullets i:hover span, .-nav-bullets-round i:hover span {
      opacity: 1; }
    .-nav-bullets i._active_, .-nav-bullets-round i._active_ {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      opacity: 1; }
  .-nav-bullets._right_, ._right_.-nav-bullets-round {
    left: auto;
    right: 20px; }
    .-nav-bullets._right_ i, ._right_.-nav-bullets-round i {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
      .-nav-bullets._right_ i span, ._right_.-nav-bullets-round i span {
        right: 100%;
        left: auto;
        margin-left: auto;
        margin-right: 5px; }
      .-nav-bullets._right_ i._active_, ._right_.-nav-bullets-round i._active_ {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg); }
  .-nav-bullets._tiny, ._tiny.-nav-bullets-round {
    font-size: 0.5px; }
    .-nav-bullets._tiny i, ._tiny.-nav-bullets-round i {
      width: 2.5px;
      height: 2.5px;
      margin-bottom: 2.5px; }
  .-nav-bullets._small, ._small.-nav-bullets-round {
    font-size: 4px; }
    .-nav-bullets._small i, ._small.-nav-bullets-round i {
      width: 5px;
      height: 5px;
      margin-bottom: 5px; }
  .-nav-bullets._minor, ._minor.-nav-bullets-round {
    font-size: 7.5px; }
    .-nav-bullets._minor i, ._minor.-nav-bullets-round i {
      width: 7.5px;
      height: 7.5px;
      margin-bottom: 7.5px; }
  .-nav-bullets i, .-nav-bullets-round i {
    width: 10px;
    height: 10px;
    margin-bottom: 10px; }
  .-nav-bullets._normal, ._normal.-nav-bullets-round {
    font-size: 11px; }
    .-nav-bullets._normal i, ._normal.-nav-bullets-round i {
      width: 10px;
      height: 10px;
      margin-bottom: 10px; }
  .-nav-bullets._major, ._major.-nav-bullets-round {
    font-size: 14.5px; }
    .-nav-bullets._major i, ._major.-nav-bullets-round i {
      width: 12.5px;
      height: 12.5px;
      margin-bottom: 12.5px; }
  .-nav-bullets._big, ._big.-nav-bullets-round {
    font-size: 18px; }
    .-nav-bullets._big i, ._big.-nav-bullets-round i {
      width: 15px;
      height: 15px;
      margin-bottom: 15px; }
  .-nav-bullets._huge, ._huge.-nav-bullets-round {
    font-size: 21.5px; }
    .-nav-bullets._huge i, ._huge.-nav-bullets-round i {
      width: 17.5px;
      height: 17.5px;
      margin-bottom: 17.5px; }
  .-nav-bullets._giant, ._giant.-nav-bullets-round {
    font-size: 23.6px; }
    .-nav-bullets._giant i, ._giant.-nav-bullets-round i {
      width: 19px;
      height: 19px;
      margin-bottom: 19px; }
  .-nav-bullets._divine, ._divine.-nav-bullets-round {
    font-size: 25px; }
    .-nav-bullets._divine i, ._divine.-nav-bullets-round i {
      width: 20px;
      height: 20px;
      margin-bottom: 20px; }
  .-nav-bullets i, .-nav-bullets-round i {
    border-color: #f7f7f7;
    color: #cccccc; }
    .-nav-bullets i._active_, .-nav-bullets-round i._active_ {
      background-color: #f7f7f7; }
  @media screen and (max-width: 768px) {
    .-nav-bullets i, .-nav-bullets-round i {
      border-color: black;
      color: black; }
      .-nav-bullets i._active_, .-nav-bullets-round i._active_ {
        background-color: black; } }
  .-nav-bullets.-default- i, .-default-.-nav-bullets-round i {
    border-color: #f7f7f7;
    color: #cccccc; }
    .-nav-bullets.-default- i._active_, .-default-.-nav-bullets-round i._active_ {
      background-color: #f7f7f7; }
  @media screen and (max-width: 768px) {
    .-nav-bullets.-default- i, .-default-.-nav-bullets-round i {
      border-color: black;
      color: black; }
      .-nav-bullets.-default- i._active_, .-default-.-nav-bullets-round i._active_ {
        background-color: black; } }
  .-nav-bullets.-primary- i, .-primary-.-nav-bullets-round i {
    border-color: #60aee3;
    color: white; }
    .-nav-bullets.-primary- i._active_, .-primary-.-nav-bullets-round i._active_ {
      background-color: #60aee3; }
  @media screen and (max-width: 768px) {
    .-nav-bullets.-primary- i, .-primary-.-nav-bullets-round i {
      border-color: #3598db;
      color: #3598db; }
      .-nav-bullets.-primary- i._active_, .-primary-.-nav-bullets-round i._active_ {
        background-color: #3598db; } }
  .-nav-bullets.-error- i, .-error-.-nav-bullets-round i {
    border-color: #de4d46;
    color: white; }
    .-nav-bullets.-error- i._active_, .-error-.-nav-bullets-round i._active_ {
      background-color: #de4d46; }
  @media screen and (max-width: 768px) {
    .-nav-bullets.-error- i, .-error-.-nav-bullets-round i {
      border-color: #cd2c24;
      color: #cd2c24; }
      .-nav-bullets.-error- i._active_, .-error-.-nav-bullets-round i._active_ {
        background-color: #cd2c24; } }
  .-nav-bullets.-warning- i, .-warning-.-nav-bullets-round i {
    border-color: #ffd471;
    color: white; }
    .-nav-bullets.-warning- i._active_, .-warning-.-nav-bullets-round i._active_ {
      background-color: #ffd471; }
  @media screen and (max-width: 768px) {
    .-nav-bullets.-warning- i, .-warning-.-nav-bullets-round i {
      border-color: #ffc43e;
      color: #ffc43e; }
      .-nav-bullets.-warning- i._active_, .-warning-.-nav-bullets-round i._active_ {
        background-color: #ffc43e; } }

.-nav-bullets-round._tiny i {
  border-radius: 2.5px; }
.-nav-bullets-round._small i {
  border-radius: 5px; }
.-nav-bullets-round._minor i {
  border-radius: 7.5px; }
.-nav-bullets-round i {
  border-radius: 10px; }
.-nav-bullets-round._normal i {
  border-radius: 10px; }
.-nav-bullets-round._major i {
  border-radius: 12.5px; }
.-nav-bullets-round._big i {
  border-radius: 15px; }
.-nav-bullets-round._huge i {
  border-radius: 17.5px; }
.-nav-bullets-round._giant i {
  border-radius: 19px; }
.-nav-bullets-round._divine i {
  border-radius: 20px; }

@media screen and (max-width: 768px) {
  .-nav-bullets i span, .-nav-bullets-round i span {
    display: none; } }
.-wall {
  position: relative;
  width: 100%;
  min-height: 100%;
  background-size: cover;
  overflow: hidden;
  color: #cccccc;
  background-color: black; }
  .-wall hr {
    background-color: white; }
  .-wall .-scroller {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: -38px;
    margin-left: -14px; }
    .-wall .-scroller._tiny {
      margin-top: -17px;
      margin-left: -3.5px; }
    .-wall .-scroller._small {
      margin-top: -24px;
      margin-left: -7px; }
    .-wall .-scroller._minor {
      margin-top: -31px;
      margin-left: -10.5px; }
    .-wall .-scroller._normal {
      margin-top: -38px;
      margin-left: -14px; }
    .-wall .-scroller._major {
      margin-top: -45px;
      margin-left: -17.5px; }
    .-wall .-scroller._big {
      margin-top: -52px;
      margin-left: -21px; }
    .-wall .-scroller._huge {
      margin-top: -59px;
      margin-left: -24.5px; }
    .-wall .-scroller._giant {
      margin-top: -63.2px;
      margin-left: -26.6px; }
    .-wall .-scroller._divine {
      margin-top: -66px;
      margin-left: -28px; }
  .-wall .-header, .-wall header {
    position: relative;
    width: 100%;
    opacity: 0;
    z-index: 3;
    -webkit-transition: opacity 1s ease-out 1s;
    -moz-transition: opacity 1s ease-out 1s;
    transition: opacity 1s ease-out 1s;
    display: table; }
    .-wall .-header .-content, .-wall header .-content {
      height: 100%;
      width: 100%;
      display: table-cell;
      vertical-align: middle; }
      .-wall .-header .-content h1, .-wall .-header .-content h2, .-wall .-header .-content h3, .-wall .-header .-content h4, .-wall .-header .-content h5, .-wall .-header .-content h6, .-wall header .-content h1, .-wall header .-content h2, .-wall header .-content h3, .-wall header .-content h4, .-wall header .-content h5, .-wall header .-content h6 {
        text-align: center;
        font-weight: 200; }
        .-wall .-header .-content h1.subtitle, .-wall .-header .-content h2.subtitle, .-wall .-header .-content h3.subtitle, .-wall .-header .-content h4.subtitle, .-wall .-header .-content h5.subtitle, .-wall .-header .-content h6.subtitle, .-wall header .-content h1.subtitle, .-wall header .-content h2.subtitle, .-wall header .-content h3.subtitle, .-wall header .-content h4.subtitle, .-wall header .-content h5.subtitle, .-wall header .-content h6.subtitle {
          opacity: 0.7; }
      .-wall .-header .-content h1, .-wall header .-content h1 {
        font-size: 54px; }
      .-wall .-header .-content h2, .-wall header .-content h2 {
        font-size: 45px; }
      .-wall .-header .-content h3, .-wall header .-content h3 {
        font-size: 34.5px; }
      .-wall .-header .-content h4, .-wall header .-content h4 {
        font-size: 25.5px; }
      .-wall .-header .-content h5, .-wall header .-content h5 {
        font-size: 21px; }
      .-wall .-header .-content h6, .-wall header .-content h6 {
        font-size: 16.5px; }
  .-wall .-caption {
    position: relative;
    margin: 30px 0;
    font-size: 120%;
    font-weight: 100;
    top: 100%;
    opacity: 0;
    z-index: 3;
    -webkit-transition: opacity 1s ease-out 1s;
    -moz-transition: opacity 1s ease-out 1s;
    transition: opacity 1s ease-out 1s;
    line-height: 1.5em !important; }
  .-wall .-wall-video, .-wall .-wall-image {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-size: cover;
    -webkit-transition: filter 1s ease-out 0s;
    -moz-transition: filter 1s ease-out 0s;
    transition: filter 1s ease-out 0s; }
  .-wall .-wall-video video {
    z-index: 2;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto; }
  .-wall .-wall-image figure, .-wall .-wall-image .-thumbnail, .-wall .-wall-image figure img {
    z-index: 1;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto; }
  .-wall .-wall-image figure figcaption {
    position: absolute;
    z-index: 2;
    display: block;
    bottom: 20px;
    width: 100%;
    padding: 10px 20px; }
  .-wall._active_ .-header, .-wall._active_ header, .-wall._active_ .-caption {
    opacity: 1; }
  .-wall._blur_ figure img {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px); }
  .-wall .-wall-image figure figcaption {
    color: #cccccc; }
  @media screen and (max-width: 768px) {
    .-wall {
      color: black;
      background-color: white; } }
  .-wall.-default- {
    color: #cccccc;
    background-color: black; }
    .-wall.-default- .-wall-image figure figcaption {
      color: #cccccc; }
    @media screen and (max-width: 768px) {
      .-wall.-default- {
        color: black;
        background-color: white; } }
  .-wall.-primary- {
    color: white;
    background-color: #3598db; }
    .-wall.-primary- .-wall-image figure figcaption {
      color: white; }
    @media screen and (max-width: 768px) {
      .-wall.-primary- {
        color: #3598db;
        background-color: white; } }
  .-wall.-error- {
    color: white;
    background-color: #cd2c24; }
    .-wall.-error- .-wall-image figure figcaption {
      color: white; }
    @media screen and (max-width: 768px) {
      .-wall.-error- {
        color: #cd2c24;
        background-color: white; } }
  .-wall.-warning- {
    color: white;
    background-color: #ffc43e; }
    .-wall.-warning- .-wall-image figure figcaption {
      color: white; }
    @media screen and (max-width: 768px) {
      .-wall.-warning- {
        color: #ffc43e;
        background-color: white; } }

@media screen and (max-width: 768px) {
  .-wall {
    min-height: 0;
    margin-bottom: 18px; }
    .-wall .-scroller {
      display: none; }
    .-wall .-header, .-wall header {
      height: auto !important; }
    .-wall .-wall-video, .-wall .-wall-image, .-wall .-wall-video video, .-wall .-wall-image figure, .-wall .-wall-image figure img {
      position: relative; }
    .-wall .-wall-video, .-wall .-wall-image {
      margin: 12px 0; }
      .-wall .-wall-video:last-child, .-wall .-wall-image:last-child {
        margin-bottom: 0; }
    .-wall .-caption {
      margin: 0px 0;
      font-size: 100%; } }
.-tilt {
  display: none;
  position: absolute;
  z-index: 5;
  height: 2px;
  width: 90%;
  bottom: 10px;
  left: 5%;
  background-color: rgba(255, 255, 255, 0.4);
  height: 2px;
  background-color: rgba(217, 217, 217, 0.4); }
  .-tilt .-tilt-handle {
    background-color: white;
    height: 2px;
    width: 20%;
    position: absolute;
    margin-left: -10%; }
  .-tilt._top_ {
    bottom: auto;
    top: 10px; }
  .-tilt._tiny {
    height: 0.5px; }
  .-tilt._small {
    height: 1px; }
  .-tilt._minor {
    height: 1.5px; }
  .-tilt._normal {
    height: 2px; }
  .-tilt._major {
    height: 2.5px; }
  .-tilt._big {
    height: 3px; }
  .-tilt._huge {
    height: 3.5px; }
  .-tilt._giant {
    height: 3.8px; }
  .-tilt._divine {
    height: 4px; }
  .-tilt .-tilt-handle {
    background-color: #d9d9d9; }
  .-tilt.-default- {
    background-color: rgba(217, 217, 217, 0.4); }
    .-tilt.-default- .-tilt-handle {
      background-color: #d9d9d9; }
  .-tilt.-primary- {
    background-color: rgba(53, 152, 219, 0.4); }
    .-tilt.-primary- .-tilt-handle {
      background-color: #3598db; }
  .-tilt.-error- {
    background-color: rgba(205, 44, 36, 0.4); }
    .-tilt.-error- .-tilt-handle {
      background-color: #cd2c24; }
  .-tilt.-warning- {
    background-color: rgba(255, 196, 62, 0.4); }
    .-tilt.-warning- .-tilt-handle {
      background-color: #ffc43e; }

/*# sourceMappingURL=commercial.sass.map */
