@mixin filter($type)
	@include prefixer(filter, $type, webkit moz spec)

@mixin hero-theme-setter($i)
	&.#{$mod-invert}
		color: lighten(nth($themes-white-colors, $i), 15%)
		// background-color: nth($themes-colors, $i)

		hr
			background-color: lighten(nth($themes-white-colors, $i), 15%)
			
		a
			color: nth($themes-white-colors, $i)
		
			&:hover
				color: lighten(nth($themes-white-colors, $i), 15%)

		.#{$hero-image-class}
			figure figcaption
				color: lighten(nth($themes-white-colors, $i), 15%)



@include exports("hero/common")
	.#{$hero-class}
		position: relative
		width: 100%
		min-height: 70%
		background-size: cover
		overflow: hidden

		.-product
			z-index: 2
		.-sparks
			z-index: 3


		.#{$scroller-class}
			position: absolute
			top: 100%
			left: 50%
			z-index: 5

			// Set margins for each size
			@each $size in $base-sizes-names
				$i: index($base-sizes-names, $size)
				$pixels: nth($base-sizes-values, $i) * $base-font-size * 2
				@if $size == "_normal"
					// @include size( $pixels )
					margin-top: -$pixels - 10px
					margin-left: -$pixels / 2
				
				&.#{$size}
					margin-top: -$pixels - 10px
					margin-left: -$pixels / 2

		header, .#{$header-class-name}
			position: absolute
			bottom: 100px
			width: 100%
			z-index: 4
			
			-webkit-transform: translate3d(0px, 0px, 0px) // Hack for fonts

			h1, h2, h3, h4, h5, h6
				&.subtitle
					font-weight: 100
					opacity: 0.7

			h1
				font-size: $headings-h1-font-size * 1.5
			
			h2
				font-size: $headings-h2-font-size * 1.5
			
			h3
				font-size: $headings-h3-font-size * 1.5

			h4
				font-size: $headings-h4-font-size * 1.5

			h5
				font-size: $headings-h5-font-size * 1.5

			h6
				font-size: $headings-h6-font-size * 1.5

		.#{$hero-image-class}
			figure, .-thumbnail, figure img
				z-index: 1
				position: absolute
				top: 0
				min-width: 100%
				min-height: 100%
				width: auto
				height: auto
			
			figure figcaption
				position: absolute
				z-index: 5
				display: block
				bottom: 20px
				width: 20%
				padding: 10px 20px
				@include transition( background-color 0.5s ease-out, overflow 0.5s ease-out )

				&:after
					content: "\f103"
					font-family: FontAwesome
					position: absolute
					display: none
					bottom: 0
					right: 20px

				&.#{$mod-active}
					background-color: rgba( #000, .7 )
					border-radius: 3px
					height: auto
					overflow: visible

					&:after
						display: none

		&[data-zoom="yes"]
			.#{$hero-image-class}
				.-thumbnail
					@include transform( scale(1.4, 1.4) )
					
				figure figcaption
					display: none!important



		&._blur_
			figure img
				@include filter( blur(5px) )


		@each $theme in $themes
			$i: index($themes, $theme)
			
			@if $theme == "-default-"
				@include hero-theme-setter($i)
				
			&.#{$theme}
				@include hero-theme-setter($i)



	@include media(new-breakpoint(max-width 768px 6))
		.#{$hero-class}
			.#{$header-class-name}, header

				h1
					font-size: $headings-h1-font-size
				
				h2
					font-size: $headings-h2-font-size
				
				h3
					font-size: $headings-h3-font-size

				h4
					font-size: $headings-h4-font-size

				h5
					font-size: $headings-h5-font-size

				h6
					font-size: $headings-h6-font-size

			.#{$hero-image-class}
				figure figcaption
					display: none
			// min-height: 0
			// margin-bottom: $base-padding-vertical * 3