$nav-bar-float-class: "#{$pref-widget}navbar-float#{$post-widget}" !global
$nav-bar-float-border-width: 0px !global
$nav-bar-float-border-radius: 0px !global
$nav-bar-float-background-opacity: .7 !global
