$body-b-font-weight: 700 !global
$body-i-font-style: italic !global
$body-small-font-size: 85% !global


$abbr-initialism-class: "#{$pref-widget}initialism#{$post-widget}" !global

$blockquote-small-font-size: 80% !global

$hr-margin-vertical: 35px
$hr-margin-horizontal: auto
$hr-width: 70%
