// MODIFIERS

@mixin tables-theme-horizontal-setter($i)
	& > thead, & > tbody, & > tfoot
		& > tr
			& > td
				border-top: 1px solid lighten(nth($themes-border-colors, $i), 20%)
			& > th
				border-bottom: 2px solid lighten(nth($themes-border-colors, $i), 20%)
	& > tbody + tbody
		border-top: 2px solid lighten(nth($themes-border-colors, $i), 20%)

	& > thead + tbody
		border-top: 2px solid lighten(nth($themes-border-colors, $i), 20%)
		

@mixin tables-theme-vertical-setter($i)
	& > thead, & > tbody, & > tfoot
		& > tr
			& > td, & > th
				border-right: 1px solid lighten(nth($themes-border-colors, $i), 20%)

				&:last-child
					border-right: none
	& > tbody + tbody
		border-top: 2px solid lighten(nth($themes-border-colors, $i), 20%)

	& > thead + tbody
		border-top: 2px solid lighten(nth($themes-border-colors, $i), 20%)



@mixin tables-theme-wrap-setter($i)
	& > thead, & > tbody, & > tfoot
		border: 1px solid lighten(nth($themes-border-colors, $i), 20%)



@mixin tables-theme-striped-setter($i)
	& > thead, & > tbody, & > tfoot
		& > tr:nth-child(odd)
			& > td
				background-color: lighten(nth($themes-background-colors, $i), 25%)



@include exports("tables/basic")

	table, .#{$table-class}
		max-width: 100%

		th
			text-align: left
			font-weight: bold


	.#{$table-class}
		width: 100%
		margin-bottom: $base-line-height-comp

		& > thead, & > tbody, & > tfoot
			& > tr
				& > th, & > td
					padding: $table-cell-padding
					line-height: $base-line-height
					vertical-align: top


					
		&.#{$mod-horizontal}
			@each $theme in $themes
				$i: index($themes, $theme)
				
				@if $theme == "-default-"
					@include tables-theme-horizontal-setter($i)
				&.#{$theme}
					@include tables-theme-horizontal-setter($i)

		&.#{$mod-vertical}
			@each $theme in $themes
				$i: index($themes, $theme)
				
				@if $theme == "-default-"
					@include tables-theme-vertical-setter($i)
				&.#{$theme}
					@include tables-theme-vertical-setter($i)

		&.#{$mod-bordered}
			@extend .#{$table-class}.#{$mod-horizontal}
			@extend .#{$table-class}.#{$mod-vertical}
			@each $theme in $themes
				$i: index($themes, $theme)
				
				@if $theme == "-default-"
					@include tables-theme-wrap-setter($i)
				&.#{$theme}
					@include tables-theme-wrap-setter($i)

		&[disabled]
			opacity: 0.5