@mixin theme-cell-setter($i)
	background-color: lighten(nth($themes-background-light-colors, $i), 25%)


@include exports("tables/cells")

	.#{$table-class}

		& > thead, & > tbody, & > tfoot
			& > tr
				& > td
					@each $theme in $themes
						$i: index($themes, $theme)
						
						&.#{$theme}
							@include theme-cell-setter($i)

					&[disabled]
						opacity: 0.5