@mixin theme-row-setter($i)
	& > td
		@if nth($themes, $i) == "-default-"
			background-color: nth($themes-background-light-colors, $i)
		@else
			background-color: lighten(nth($themes-background-light-colors, $i), 25%)


@include exports("tables/rows")

	.#{$table-class}

		& > thead, & > tbody, & > tfoot
			& > tr

				@each $theme in $themes
					$i: index($themes, $theme)
					
					&.#{$theme}
						@include theme-row-setter($i)

				&[disabled]
					opacity: 0.5