$dropdown-class: "-drop" !global
$dropdown-z-index: 1000
$dropdown-border-width: 1px
$dropdown-border-style: solid
$dropdown-border-radius: 3px
$dropdown-arrow-size: 18px
$dropdown-content-padding-vertical: 15px
$dropdown-content-padding-horizontal: 15px
$dropdown-shadow: 0 3px 10px rgba(#000, .1)