@mixin alerts-theme-setter($i)
	@if nth($themes, $i) == "-default-"
		background-color: nth($themes-background-light-colors, $i)
		border-color: nth($themes-border-light-colors, $i)
		color: nth($themes-colors, $i)
	@else
		background-color: lighten(nth($themes-background-light-colors, $i), 25%)
		border-color: lighten(nth($themes-border-light-colors, $i), 3%)
		color: darken(nth($themes-colors, $i), 20%)


	&.#{$mod-disabled}, &[disabled], fieldset[disabled] &
		color: rgba(nth($themes-white-colors, $i), .65)

	&.#{$mod-unstyled}
		color: nth($themes-colors, $i)


@include exports("alerts/common")

	.#{$alert-class}	
		
		display: block
		vertical-align: middle
		border-width: $alert-border-width
		border-style: $alert-border-style
		border-radius: $alert-border-radius
		border-color: transparent
		outline: none
		position: relative

		// Set default size
		padding: $alert-padding-vertical * 2 $alert-padding-horizontal
		font-size: $base-font-size
		line-height: $base-line-height

		.#{$close-class}
			float: right
			text-decoration: none
			margin: 0
			padding: 0
			opacity: 0.1
			position: relative
			top: 0
			right: 0

			&:hover
				opacity: 0.4



		@each $theme in $themes
			$i: index($themes, $theme)
			
			@if $theme == "-default-"
				@include alerts-theme-setter($i)
				
			&.#{$theme}
				@include alerts-theme-setter($i)

		@each $size in $base-sizes-names
			$i: index($base-sizes-names, $size)
			@if #{$size} == "_normal"
				font-size: nth($base-sizes-values, $i) * $base-font-size / 2
			
			&.#{$size}
				font-size: nth($base-sizes-values, $i) * $base-font-size

		&:empty
			display: none


	// To nest sizes from parents elements
	// @each $size in $base-sizes-names
	// 	$i: index($base-sizes-names, $size)
		
	// 	.#{$size}
	// 		.#{$alert-class}
	// 			@extend .#{$alert-class}.#{$size}