$theme-class: "-default-"
$theme-color: #000
$theme-white-color: #ccc
$theme-border-color: lighten($theme-color, 70%)
$theme-border-light-color: lighten($theme-border-color, 20%)
$theme-border-dark-color: darken($theme-border-color, 10%)
$theme-background-color: lighten($theme-color, 85%)
$theme-background-light-color: lighten($theme-background-color, 12%)
$theme-background-dark-color: darken($theme-background-color, 10%)

@include base-theme-append( $theme-class, $theme-color, $theme-white-color, $theme-border-color, $theme-border-light-color, $theme-border-dark-color, $theme-background-color, $theme-background-light-color, $theme-background-dark-color )