$theme-class: "-default-"
$theme-color: #000
$theme-border-color: #ccc
$theme-border-light-color: #e4e4e4
$theme-background-color: #ccc
$theme-background-light-color: #f4f4f4

$themes: append($themes, $theme-class)
$themes-colors: append($themes-colors, $theme-color)
$themes-border-colors: append($themes-border-colors, $theme-border-color)
$themes-border-light-colors: append($themes-border-light-colors, $theme-border-light-color)
$themes-background-colors: append($themes-background-colors, $theme-background-color)
$themes-background-light-colors: append($themes-background-light-colors, $theme-background-light-color)
