$theme: (
    name: error,
    color: #CD2C24,
    white-color: #fff,
    border-color: #CD2C24,
    background-color: #CD2C24
);

$base-themes: map-merge($base-themes, (error: $theme))!global;



// $theme-class: "-error-"
// $theme-color: #CD2C24
// $theme-white-color: #fff
// $theme-border-color: $theme-color
// $theme-border-light-color: lighten($theme-border-color, 20%)
// $theme-border-dark-color: darken($theme-border-color, 10%)
// $theme-background-color: $theme-color
// $theme-background-light-color: lighten($theme-background-color, 10%)
// $theme-background-dark-color: darken($theme-background-color, 10%)
//
// @include base-theme-append( $theme-class, $theme-color, $theme-white-color, $theme-border-color, $theme-border-light-color, $theme-border-dark-color, $theme-background-color, $theme-background-light-color, $theme-background-dark-color )
