$theme-class: "-primary-"
$theme-color: #428bca
$theme-white-color: #fff
$theme-border-color: #a3c8e8
$theme-border-light-color: #cbe7ff
$theme-background-color: #428bca
$theme-background-light-color: #b9d5ec
$theme-background-dark-color: #3571a4

@include base-theme-append( $theme-class, $theme-color, $theme-white-color, $theme-border-color, $theme-border-light-color, $theme-background-color, $theme-background-light-color, $theme-background-dark-color )