$theme-class: "-primary-"
$theme-color: #428bca
$theme-border-color: #a3c8e8
$theme-border-light-color: #cbe7ff
$theme-background-color: #428bca
$theme-background-light-color: #b9d5ec

$themes: append($themes, $theme-class)
$themes-colors: append($themes-colors, $theme-color)
$themes-border-colors: append($themes-border-colors, $theme-border-color)
$themes-border-light-colors: append($themes-border-light-colors, $theme-border-light-color)
$themes-background-colors: append($themes-background-colors, $theme-background-color)
$themes-background-light-colors: append($themes-background-light-colors, $theme-background-light-color)