@mixin modal-theme-setter($i)
	background-color: rgba(nth($themes-colors, $i), $modal-background-opacity)

@mixin modal-header-theme-setter($i)
	background-color: nth($themes-background-colors, $i)
	@if nth($themes, $i) == "-default-"
		color: nth($themes-colors, $i)
		.#{$close-class}
			polygon, path
				fill: nth($themes-colors, $i)
			circle
				stroke: nth($themes-colors, $i)
	@else
		color: nth($themes-white-colors, $i)
		.#{$close-class}
			polygon, path
				fill: nth($themes-white-colors, $i)
			circle
				stroke: nth($themes-white-colors, $i)
	
	.#{$header-class-name}
		background-color: darken(nth($themes-background-colors, $i), 5%)
		border-bottom-color: darken(nth($themes-background-colors, $i), 7%)
	
// color: nth($themes-white-colors, $i)

// 	.#{$header-class-name}
// 		background-color: nth($themes-background-colors, $i)
// 		@if nth($themes, $i) == "-default-"
// 			border-color: lighten(nth($themes-background-colors, $i), 5%)
// 		@else
// 			border-color: darken(nth($themes-background-colors, $i), 7%)
// 			color: nth($themes-white-colors, $i)

// 	.#{$arrow-class-name}
// 		@include triangle($dropdown-arrow-size, nth($themes-background-colors, $i), up)

// 	&.#{$mod-bottom}, &.#{$mod-top}
// 		&:before
// 			@include background-image(linear-gradient(to left, transparent 0%, nth($themes-background-colors, $i) 50%, transparent 100%))

// 	&.#{$mod-left}, &.#{$mod-right}
// 		&:before
// 			@include background-image(linear-gradient(to bottom, transparent 0%, nth($themes-background-colors, $i) 50%, transparent 100%))

// 	&.#{$mod-top}
// 		.#{$arrow-class-name}
// 			@include triangle($dropdown-arrow-size, nth($themes-background-colors, $i), down)

// 	&.#{$mod-left}
// 		.#{$arrow-class-name}
// 			@include triangle($dropdown-arrow-size, nth($themes-background-colors, $i), right)

// 	&.#{$mod-right}
// 		.#{$arrow-class-name}
// 			@include triangle($dropdown-arrow-size, nth($themes-background-colors, $i), left)


@include exports("modal/common")

	.#{$modal-class}

		position: fixed
		top: 0
		bottom: 0
		left: 0
		right: 0
		z-index: $modal-z-index
		overflow-y: auto

		opacity: 0
		visibility: hidden
		@include transition-property (opacity)
		@include transition-duration($animations-fadein-duration)
		@include transition-timing-function($animations-fadein-timing-function)
		@include transition-delay($animations-fadein-delay)
		@include animation-play-state(paused)


		.#{$modal-dialog-class}, .-holder
			// margin: $modal-padding-vertical auto
			// position: absolute
			top: 50%
			left: 50%
			float: none
			height: auto
			border-radius: $modal-dialog-border-radius
			box-shadow: $modal-dialog-shadow
			visibility: hidden
			-webkit-font-smoothing: subpixel-antialiased


			@for $i from 1 through $column-quantity
				&.#{$column-class}#{$i}
					// $padding: get-padding-for-table-layout($columns, $container-columns)
					margin-left: -1 * flex-grid($i,$column-quantity) / 2

			.#{$header-class-name}
				padding: $modal-dialog-padding-vertical $modal-dialog-padding-horizontal
				border-radius: $modal-dialog-border-radius $modal-dialog-border-radius 0 0
				position: relative
				font-size: 115%
				font-weight: bold
				border-bottom-width: $modal-dialog-border-width
				border-bottom-style: $modal-dialog-border-style
				border-bottom-color: transparent

				.#{$close-class}
					width: $modal-dialog-close-size
					height: $modal-dialog-close-size
					position: absolute
					top: 50%
					right: $modal-dialog-padding-horizontal
					margin-top: - $modal-dialog-close-size / 2
					-webkit-backface-visibility: hidden
					-webkit-transform: translateZ(0) scale(1.0, 1.0)
					cursor: pointer

					@include transition-property(transform)
					@include transition-duration(0.5s)
					@include transition-timing-function(ease-out)
					@include transition-delay(0s)

					@include transform(rotate(-270deg))

					polygon, path
						opacity: 0.4
						@include transition(opacity 0.3s ease-out 0)

					circle
						stroke-width: 0
						fill: transparent
						@include transition(stroke-width 0.3s ease-out 0)




					&:hover
						circle
							stroke-width: 50
						polygon, path
							opacity: 1
						
						@include transform(rotate(0deg))

			.#{$content-class-name}
				padding: $modal-dialog-padding-vertical $modal-dialog-padding-horizontal
				// border-radius: $modal-dialog-border-radius $modal-dialog-border-radius 0 0
				// position: relative

			@each $theme in $themes
				$i: index($themes, $theme)
				
				@if $theme == "-default-"
					@include modal-header-theme-setter($i)
					&.#{$theme}
						@include modal-header-theme-setter($i)
				@else
					&.#{$theme}
						@include modal-header-theme-setter($i)
				


		.-holder
			position: inherit
			@include transform(translateY(-50%))



		@each $theme in $themes
			$i: index($themes, $theme)
			
			@if $theme == "-default-"
				@include modal-theme-setter($i)
				&.#{$theme}
					@include modal-theme-setter($i)
			@else
				&.#{$theme}
					@include modal-theme-setter($i)



		&.#{$mod-active}
			opacity: 1
			visibility: visible

			.#{$modal-dialog-class}
				@extend .#{$animation-start-class}

		// display: inline-block
		// position: absolute
		// top: 100%
		// left: 0
		// z-index: $dropdown-z-index
		// border-width: $dropdown-border-width
		// border-style: $dropdown-border-style
		// border-color: transparent

		// box-shadow: $dropdown-shadow

		// background-color: nth($themes-background-light-colors, index($themes, "-default-"))
		// border-color: lighten(nth($themes-background-colors, index($themes, "-default-")), 5%)

		// .#{$content-class-name}, .#{$header-class-name}
		// 	padding: $dropdown-content-padding-vertical $dropdown-content-padding-horizontal
		// 	position: relative

		// .#{$header-class-name}
		// 	border-radius: $dropdown-border-radius $dropdown-border-radius 0 0
		// 	top: -$dropdown-border-radius

		// .#{$arrow-class-name}
		// 	position: absolute
		// 	bottom: 100%
		// 	left: 50%
		// 	margin-left: -$dropdown-arrow-size / 2
		
		// &:before
		// 	content: " "
		// 	display: block
		// 	position: absolute
		// 	top: inherit
		// 	bottom: 100%
		// 	height: $dropdown-border-width
		// 	width: 100%

		// &.#{$mod-bottom}
		// 	&:before
		// 		bottom: 100%
		// 		top: inherit
		// 		height: $dropdown-border-width
		// 		width: 100%

		
		// &.#{$mod-top}
		// 	top: inherit
		// 	bottom: 100%
			
		// 	&:before
		// 		content: " "
		// 		display: block
		// 		position: absolute
		// 		top: 100%
		// 		height: $dropdown-border-width
		// 		width: 100%

		// 	.#{$arrow-class-name}
		// 		top: 100%
		// 		left: 50%
		// 		margin-left: -$dropdown-arrow-size / 2


		// &.#{$mod-left}
		// 	left: inherit
		// 	right: 100%
		// 	top: 0

		// 	&:before
		// 		content: " "
		// 		display: block
		// 		position: absolute
		// 		top: 0
		// 		left: 100%
		// 		right: inherit
		// 		height: 100%
		// 		width: $dropdown-border-width

		// 	.#{$arrow-class-name}
		// 		top: 50%
		// 		right: inherit
		// 		left: 100%
		// 		margin-top: -$dropdown-arrow-size / 2
		// 		margin-left: 0


		// &.#{$mod-right}
		// 	right: inherit
		// 	left: 100%
		// 	top: 0

		// 	&:before
		// 		content: " "
		// 		display: block
		// 		position: absolute
		// 		top: 0
		// 		left: inherit
		// 		right: 100%
		// 		height: 100%
		// 		width: $dropdown-border-width

		// 	.#{$arrow-class-name}
		// 		// bottom: inherit
		// 		top: 50%
		// 		left: inherit
		// 		right: 100%
		// 		margin-top: -$dropdown-arrow-size / 2
		// 		margin-left: 0

		