$animations-blur-class: "-blur--" !global

$animations-blur-duration: 0.2s !global
$animations-blur-timing-function: linear !global
$animations-blur-delay: 0s !global



@include exports("animations/blur")






	
	.#{$animations-blur-class}
		@include transition-property (all)
		@include transition-duration($animations-blur-duration)
		@include transition-timing-function($animations-blur-timing-function)
		@include transition-delay($animations-blur-delay)
		
		-ms-filter: blur(0px)
		-webkit-filter: blur(0px)
		-moz-filter: blur(0px)
		-o-filter: blur(0px)
		filter: url(#blur3px)

	
		&.#{$animation-start-class}
			-ms-filter: blur(3px)
			-webkit-filter: blur(3px)
			-moz-filter: blur(3px)
			-o-filter: blur(3px)
			filter: url(#blur3px)