$animations-flipHorizontal-class: "-fliphorizontal--" !global

$animations-flipHorizontal-duration: 1.5s !global
$animations-flipHorizontal-timing-function: linear !global
$animations-flipHorizontal-delay: 0s !global



@include exports("animations/flipHorizontal")
	@include keyframes(flipHorizontalIn)
		0%
			opacity: 0
			@include transform( rotateX(-70deg) )
		1%
			opacity: 0.09
			@include transform( rotateX(-63.89deg) )
		2%
			opacity: 0.2
			@include transform( rotateX(-55.67deg) )
		3%
			opacity: 0.34
			@include transform( rotateX(-46deg) )
		4%
			opacity: 0.49
			@include transform( rotateX(-35.5deg) )
		5%
			opacity: 0.65
			@include transform( rotateX(-24.75deg) )
		6%
			opacity: 0.8
			@include transform( rotateX(-14.27deg) )
		7%
			opacity: 0.94
			@include transform( rotateX(-4.5deg) )
		8%
			opacity: 1.06
			@include transform( rotateX(4.2deg) )
		9%
			opacity: 1.17
			@include transform( rotateX(11.59deg) )
		10%
			opacity: 1.25
			@include transform( rotateX(17.5deg) )
		11%
			opacity: 1.31
			@include transform( rotateX(21.85deg) )
		12%
			opacity: 1.35
			@include transform( rotateX(24.65deg) )
		13%
			opacity: 1.37
			@include transform( rotateX(25.97deg) )
		14%
			opacity: 1.37
			@include transform( rotateX(25.95deg) )
		15%
			opacity: 1.35
			@include transform( rotateX(24.75deg) )
		16%
			opacity: 1.32
			@include transform( rotateX(22.59deg) )
		17%
			opacity: 1.28
			@include transform( rotateX(19.68deg) )
		18%
			opacity: 1.23
			@include transform( rotateX(16.26deg) )
		19%
			opacity: 1.18
			@include transform( rotateX(12.55deg) )
		20%
			opacity: 1.13
			@include transform( rotateX(8.75deg) )
		21%
			opacity: 1.07
			@include transform( rotateX(5.05deg) )
		22%
			opacity: 1.02
			@include transform( rotateX(1.59deg) )
		23%
			opacity: 0.98
			@include transform( rotateX(-1.49deg) )
		24%
			opacity: 0.94
			@include transform( rotateX(-4.1deg) )
		25%
			opacity: 0.91
			@include transform( rotateX(-6.19deg) )
		26%
			opacity: 0.89
			@include transform( rotateX(-7.73deg) )
		27%
			opacity: 0.88
			@include transform( rotateX(-8.72deg) )
		28%
			opacity: 0.87
			@include transform( rotateX(-9.18deg) )
		29%
			opacity: 0.87
			@include transform( rotateX(-9.17deg) )
		30%
			opacity: 0.88
			@include transform( rotateX(-8.75deg) )
		31%
			opacity: 0.89
			@include transform( rotateX(-7.99deg) )
		32%
			opacity: 0.9
			@include transform( rotateX(-6.96deg) )
		33%
			opacity: 0.92
			@include transform( rotateX(-5.75deg) )
		34%
			opacity: 0.94
			@include transform( rotateX(-4.44deg) )
		35%
			opacity: 0.96
			@include transform( rotateX(-3.09deg) )
		36%
			opacity: 0.97
			@include transform( rotateX(-1.78deg) )
		37%
			opacity: 0.99
			@include transform( rotateX(-0.56deg) )
		38%
			opacity: 1.01
			@include transform( rotateX(0.53deg) )
		39%
			opacity: 1.02
			@include transform( rotateX(1.45deg) )
		40%
			opacity: 1.03
			@include transform( rotateX(2.19deg) )
		41%
			opacity: 1.04
			@include transform( rotateX(2.73deg) )
		42%
			opacity: 1.04
			@include transform( rotateX(3.08deg) )
		43%
			opacity: 1.05
			@include transform( rotateX(3.25deg) )
		44%
			opacity: 1.05
			@include transform( rotateX(3.24deg) )
		45%
			opacity: 1.04
			@include transform( rotateX(3.09deg) )
		46%
			opacity: 1.04
			@include transform( rotateX(2.82deg) )
		47%
			opacity: 1.04
			@include transform( rotateX(2.46deg) )
		48%
			opacity: 1.03
			@include transform( rotateX(2.03deg) )
		49%
			opacity: 1.02
			@include transform( rotateX(1.57deg) )
		50%
			opacity: 1.02
			@include transform( rotateX(1.09deg) )
		51%
			opacity: 1.01
			@include transform( rotateX(0.63deg) )
		52%
			opacity: 1
			@include transform( rotateX(0.2deg) )
		53%
			opacity: 1
			@include transform( rotateX(-0.19deg) )
		54%
			opacity: 0.99
			@include transform( rotateX(-0.51deg) )
		55%
			opacity: 0.99
			@include transform( rotateX(-0.77deg) )
		56%
			opacity: 0.99
			@include transform( rotateX(-0.97deg) )
		57%
			opacity: 0.98
			@include transform( rotateX(-1.09deg) )
		58%
			opacity: 0.98
			@include transform( rotateX(-1.15deg) )
		59%
			opacity: 0.98
			@include transform( rotateX(-1.15deg) )
		60%
			opacity: 0.98
			@include transform( rotateX(-1.09deg) )
		61%
			opacity: 0.99
			@include transform( rotateX(-1deg) )
		62%
			opacity: 0.99
			@include transform( rotateX(-0.87deg) )
		63%
			opacity: 0.99
			@include transform( rotateX(-0.72deg) )
		64%
			opacity: 0.99
			@include transform( rotateX(-0.55deg) )
		65%
			opacity: 0.99
			@include transform( rotateX(-0.39deg) )
		66%
			opacity: 1
			@include transform( rotateX(-0.22deg) )
		67%
			opacity: 1
			@include transform( rotateX(-0.07deg) )
		68%
			opacity: 1
			@include transform( rotateX(0.07deg) )
		69%
			opacity: 1
			@include transform( rotateX(0.18deg) )
		70%
			opacity: 1
			@include transform( rotateX(0.27deg) )
		71%
			opacity: 1
			@include transform( rotateX(0.34deg) )
		72%
			opacity: 1.01
			@include transform( rotateX(0.39deg) )
		73%
			opacity: 1.01
			@include transform( rotateX(0.41deg) )
		74%
			opacity: 1.01
			@include transform( rotateX(0.41deg) )
		75%
			opacity: 1.01
			@include transform( rotateX(0.39deg) )
		76%
			opacity: 1.01
			@include transform( rotateX(0.35deg) )
		77%
			opacity: 1
			@include transform( rotateX(0.31deg) )
		78%
			opacity: 1
			@include transform( rotateX(0.25deg) )
		79%
			opacity: 1
			@include transform( rotateX(0.2deg) )
		80%
			opacity: 1
			@include transform( rotateX(0.14deg) )
		81%
			opacity: 1
			@include transform( rotateX(0.08deg) )
		82%
			opacity: 1
			@include transform( rotateX(0.02deg) )
		83%
			opacity: 1
			@include transform( rotateX(-0.02deg) )
		84%
			opacity: 1
			@include transform( rotateX(-0.06deg) )
		85%
			opacity: 1
			@include transform( rotateX(-0.1deg) )
		86%
			opacity: 1
			@include transform( rotateX(-0.12deg) )
		87%
			opacity: 1
			@include transform( rotateX(-0.14deg) )
		88%
			opacity: 1
			@include transform( rotateX(-0.14deg) )
		89%
			opacity: 1
			@include transform( rotateX(-0.14deg) )
		90%
			opacity: 1
			@include transform( rotateX(-0.14deg) )
		91%
			opacity: 1
			@include transform( rotateX(-0.12deg) )
		92%
			opacity: 1
			@include transform( rotateX(-0.11deg) )
		93%
			opacity: 1
			@include transform( rotateX(-0.09deg) )
		94%
			opacity: 1
			@include transform( rotateX(-0.07deg) )
		95%
			opacity: 1
			@include transform( rotateX(-0.05deg) )
		96%
			opacity: 1
			@include transform( rotateX(-0.03deg) )
		97%
			opacity: 1
			@include transform( rotateX(-0.01deg) )
		98%
			opacity: 1
			@include transform( rotateX(0.01deg) )
		99%
			opacity: 1
			@include transform( rotateX(0.02deg) )
		100%
			opacity: 1
			@include transform( rotateX(0deg) )


	@include keyframes(flipHorizontalOut)
		0%
			opacity: 1
			@include transform( rotateX(0deg) )
		1%
			opacity: 1
			@include transform( rotateX(-0.01deg) )
		2%
			opacity: 1
			@include transform( rotateX(-0.03deg) )
		3%
			opacity: 1
			@include transform( rotateX(-0.06deg) )
		4%
			opacity: 1
			@include transform( rotateX(-0.11deg) )
		5%
			opacity: 1
			@include transform( rotateX(-0.17deg) )
		6%
			opacity: 1
			@include transform( rotateX(-0.25deg) )
		7%
			opacity: 1
			@include transform( rotateX(-0.34deg) )
		8%
			opacity: 0.99
			@include transform( rotateX(-0.45deg) )
		9%
			opacity: 0.99
			@include transform( rotateX(-0.57deg) )
		10%
			opacity: 0.99
			@include transform( rotateX(-0.7deg) )
		11%
			opacity: 0.99
			@include transform( rotateX(-0.85deg) )
		12%
			opacity: 0.99
			@include transform( rotateX(-1.01deg) )
		13%
			opacity: 0.98
			@include transform( rotateX(-1.18deg) )
		14%
			opacity: 0.98
			@include transform( rotateX(-1.37deg) )
		15%
			opacity: 0.98
			@include transform( rotateX(-1.57deg) )
		16%
			opacity: 0.97
			@include transform( rotateX(-1.79deg) )
		17%
			opacity: 0.97
			@include transform( rotateX(-2.02deg) )
		18%
			opacity: 0.97
			@include transform( rotateX(-2.27deg) )
		19%
			opacity: 0.96
			@include transform( rotateX(-2.53deg) )
		20%
			opacity: 0.96
			@include transform( rotateX(-2.8deg) )
		21%
			opacity: 0.96
			@include transform( rotateX(-3.09deg) )
		22%
			opacity: 0.95
			@include transform( rotateX(-3.39deg) )
		23%
			opacity: 0.95
			@include transform( rotateX(-3.7deg) )
		24%
			opacity: 0.94
			@include transform( rotateX(-4.03deg) )
		25%
			opacity: 0.94
			@include transform( rotateX(-4.37deg) )
		26%
			opacity: 0.93
			@include transform( rotateX(-4.73deg) )
		27%
			opacity: 0.93
			@include transform( rotateX(-5.1deg) )
		28%
			opacity: 0.92
			@include transform( rotateX(-5.49deg) )
		29%
			opacity: 0.92
			@include transform( rotateX(-5.89deg) )
		30%
			opacity: 0.91
			@include transform( rotateX(-6.3deg) )
		31%
			opacity: 0.9
			@include transform( rotateX(-6.73deg) )
		32%
			opacity: 0.9
			@include transform( rotateX(-7.17deg) )
		33%
			opacity: 0.89
			@include transform( rotateX(-7.62deg) )
		34%
			opacity: 0.88
			@include transform( rotateX(-8.09deg) )
		35%
			opacity: 0.88
			@include transform( rotateX(-8.57deg) )
		36%
			opacity: 0.87
			@include transform( rotateX(-9.07deg) )
		37%
			opacity: 0.86
			@include transform( rotateX(-9.58deg) )
		38%
			opacity: 0.86
			@include transform( rotateX(-10.11deg) )
		39%
			opacity: 0.85
			@include transform( rotateX(-10.65deg) )
		40%
			opacity: 0.84
			@include transform( rotateX(-11.2deg) )
		41%
			opacity: 0.83
			@include transform( rotateX(-11.77deg) )
		42%
			opacity: 0.82
			@include transform( rotateX(-12.35deg) )
		43%
			opacity: 0.82
			@include transform( rotateX(-12.94deg) )
		44%
			opacity: 0.81
			@include transform( rotateX(-13.55deg) )
		45%
			opacity: 0.8
			@include transform( rotateX(-14.17deg) )
		46%
			opacity: 0.79
			@include transform( rotateX(-14.81deg) )
		47%
			opacity: 0.78
			@include transform( rotateX(-15.46deg) )
		48%
			opacity: 0.77
			@include transform( rotateX(-16.13deg) )
		49%
			opacity: 0.76
			@include transform( rotateX(-16.81deg) )
		50%
			opacity: 0.75
			@include transform( rotateX(-17.5deg) )
		51%
			opacity: 0.74
			@include transform( rotateX(-18.21deg) )
		52%
			opacity: 0.73
			@include transform( rotateX(-18.93deg) )
		53%
			opacity: 0.72
			@include transform( rotateX(-19.66deg) )
		54%
			opacity: 0.71
			@include transform( rotateX(-20.41deg) )
		55%
			opacity: 0.7
			@include transform( rotateX(-21.17deg) )
		56%
			opacity: 0.69
			@include transform( rotateX(-21.95deg) )
		57%
			opacity: 0.68
			@include transform( rotateX(-22.74deg) )
		58%
			opacity: 0.66
			@include transform( rotateX(-23.55deg) )
		59%
			opacity: 0.65
			@include transform( rotateX(-24.37deg) )
		60%
			opacity: 0.64
			@include transform( rotateX(-25.2deg) )
		61%
			opacity: 0.63
			@include transform( rotateX(-26.05deg) )
		62%
			opacity: 0.62
			@include transform( rotateX(-26.91deg) )
		63%
			opacity: 0.6
			@include transform( rotateX(-27.78deg) )
		64%
			opacity: 0.59
			@include transform( rotateX(-28.67deg) )
		65%
			opacity: 0.58
			@include transform( rotateX(-29.57deg) )
		66%
			opacity: 0.56
			@include transform( rotateX(-30.49deg) )
		67%
			opacity: 0.55
			@include transform( rotateX(-31.42deg) )
		68%
			opacity: 0.54
			@include transform( rotateX(-32.37deg) )
		69%
			opacity: 0.52
			@include transform( rotateX(-33.33deg) )
		70%
			opacity: 0.51
			@include transform( rotateX(-34.3deg) )
		71%
			opacity: 0.5
			@include transform( rotateX(-35.29deg) )
		72%
			opacity: 0.48
			@include transform( rotateX(-36.29deg) )
		73%
			opacity: 0.47
			@include transform( rotateX(-37.3deg) )
		74%
			opacity: 0.45
			@include transform( rotateX(-38.33deg) )
		75%
			opacity: 0.44
			@include transform( rotateX(-39.37deg) )
		76%
			opacity: 0.42
			@include transform( rotateX(-40.43deg) )
		77%
			opacity: 0.41
			@include transform( rotateX(-41.5deg) )
		78%
			opacity: 0.39
			@include transform( rotateX(-42.59deg) )
		79%
			opacity: 0.38
			@include transform( rotateX(-43.69deg) )
		80%
			opacity: 0.36
			@include transform( rotateX(-44.8deg) )
		81%
			opacity: 0.34
			@include transform( rotateX(-45.93deg) )
		82%
			opacity: 0.33
			@include transform( rotateX(-47.07deg) )
		83%
			opacity: 0.31
			@include transform( rotateX(-48.22deg) )
		84%
			opacity: 0.29
			@include transform( rotateX(-49.39deg) )
		85%
			opacity: 0.28
			@include transform( rotateX(-50.57deg) )
		86%
			opacity: 0.26
			@include transform( rotateX(-51.77deg) )
		87%
			opacity: 0.24
			@include transform( rotateX(-52.98deg) )
		88%
			opacity: 0.23
			@include transform( rotateX(-54.21deg) )
		89%
			opacity: 0.21
			@include transform( rotateX(-55.45deg) )
		90%
			opacity: 0.19
			@include transform( rotateX(-56.7deg) )
		91%
			opacity: 0.17
			@include transform( rotateX(-57.97deg) )
		92%
			opacity: 0.15
			@include transform( rotateX(-59.25deg) )
		93%
			opacity: 0.14
			@include transform( rotateX(-60.54deg) )
		94%
			opacity: 0.12
			@include transform( rotateX(-61.85deg) )
		95%
			opacity: 0.1
			@include transform( rotateX(-63.17deg) )
		96%
			opacity: 0.08
			@include transform( rotateX(-64.51deg) )
		97%
			opacity: 0.06
			@include transform( rotateX(-65.86deg) )
		98%
			opacity: 0.04
			@include transform( rotateX(-67.23deg) )
		99%
			opacity: 0.02
			@include transform( rotateX(-68.61deg) )
		100%
			opacity: 0
			@include transform( rotateX(-70deg) )




	.#{$animations-flipHorizontal-class}
		
		&.#{$animation-start-class}
			@include animation( flipHorizontalIn $animations-flipHorizontal-duration forwards $animations-flipHorizontal-timing-function )


		&.#{$animation-stop-class}
			@include animation( flipHorizontalOut 0.2s forwards $animations-flipHorizontal-timing-function )
