$animations-flipVertical-class: "#{$pref-anim}flipvertical#{$post-anim}" !global

$animations-flipVertical-duration: 1.5s !global
$animations-flipVertical-timing-function: linear !global
$animations-flipVertical-delay: 0s !global



@include exports("animations/flipVertical")
	@include keyframes(flipIn)
		0%
			opacity: 0
			@include transform( rotateY(-90deg) rotateX(-20deg) )
		1%
			opacity: 0.09
			@include transform( rotateY(-82.14deg) rotateX(-18.25deg) )
		2%
			opacity: 0.2
			@include transform( rotateY(-71.58deg) rotateX(-15.91deg) )
		3%
			opacity: 0.34
			@include transform( rotateY(-59.14deg) rotateX(-13.14deg) )
		4%
			opacity: 0.49
			@include transform( rotateY(-45.64deg) rotateX(-10.14deg) )
		5%
			opacity: 0.65
			@include transform( rotateY(-31.82deg) rotateX(-7.07deg) )
		6%
			opacity: 0.8
			@include transform( rotateY(-18.35deg) rotateX(-4.08deg) )
		7%
			opacity: 0.94
			@include transform( rotateY(-5.79deg) rotateX(-1.29deg) )
		8%
			opacity: 1.06
			@include transform( rotateY(5.4deg) rotateX(1.2deg) )
		9%
			opacity: 1.17
			@include transform( rotateY(14.9deg) rotateX(3.31deg) )
		10%
			opacity: 1.25
			@include transform( rotateY(22.5deg) rotateX(5deg) )
		11%
			opacity: 1.31
			@include transform( rotateY(28.09deg) rotateX(6.24deg) )
		12%
			opacity: 1.35
			@include transform( rotateY(31.69deg) rotateX(7.04deg) )
		13%
			opacity: 1.37
			@include transform( rotateY(33.39deg) rotateX(7.42deg) )
		14%
			opacity: 1.37
			@include transform( rotateY(33.36deg) rotateX(7.41deg) )
		15%
			opacity: 1.35
			@include transform( rotateY(31.82deg) rotateX(7.07deg) )
		16%
			opacity: 1.32
			@include transform( rotateY(29.04deg) rotateX(6.45deg) )
		17%
			opacity: 1.28
			@include transform( rotateY(25.31deg) rotateX(5.62deg) )
		18%
			opacity: 1.23
			@include transform( rotateY(20.91deg) rotateX(4.65deg) )
		19%
			opacity: 1.18
			@include transform( rotateY(16.14deg) rotateX(3.59deg) )
		20%
			opacity: 1.13
			@include transform( rotateY(11.25deg) rotateX(2.5deg) )
		21%
			opacity: 1.07
			@include transform( rotateY(6.49deg) rotateX(1.44deg) )
		22%
			opacity: 1.02
			@include transform( rotateY(2.05deg) rotateX(0.45deg) )
		23%
			opacity: 0.98
			@include transform( rotateY(-1.91deg) rotateX(-0.42deg) )
		24%
			opacity: 0.94
			@include transform( rotateY(-5.27deg) rotateX(-1.17deg) )
		25%
			opacity: 0.91
			@include transform( rotateY(-7.95deg) rotateX(-1.77deg) )
		26%
			opacity: 0.89
			@include transform( rotateY(-9.93deg) rotateX(-2.21deg) )
		27%
			opacity: 0.88
			@include transform( rotateY(-11.21deg) rotateX(-2.49deg) )
		28%
			opacity: 0.87
			@include transform( rotateY(-11.81deg) rotateX(-2.62deg) )
		29%
			opacity: 0.87
			@include transform( rotateY(-11.79deg) rotateX(-2.62deg) )
		30%
			opacity: 0.88
			@include transform( rotateY(-11.25deg) rotateX(-2.5deg) )
		31%
			opacity: 0.89
			@include transform( rotateY(-10.27deg) rotateX(-2.28deg) )
		32%
			opacity: 0.9
			@include transform( rotateY(-8.95deg) rotateX(-1.99deg) )
		33%
			opacity: 0.92
			@include transform( rotateY(-7.39deg) rotateX(-1.64deg) )
		34%
			opacity: 0.94
			@include transform( rotateY(-5.7deg) rotateX(-1.27deg) )
		35%
			opacity: 0.96
			@include transform( rotateY(-3.98deg) rotateX(-0.88deg) )
		36%
			opacity: 0.97
			@include transform( rotateY(-2.29deg) rotateX(-0.51deg) )
		37%
			opacity: 0.99
			@include transform( rotateY(-0.72deg) rotateX(-0.16deg) )
		38%
			opacity: 1.01
			@include transform( rotateY(0.68deg) rotateX(0.15deg) )
		39%
			opacity: 1.02
			@include transform( rotateY(1.86deg) rotateX(0.41deg) )
		40%
			opacity: 1.03
			@include transform( rotateY(2.81deg) rotateX(0.63deg) )
		41%
			opacity: 1.04
			@include transform( rotateY(3.51deg) rotateX(0.78deg) )
		42%
			opacity: 1.04
			@include transform( rotateY(3.96deg) rotateX(0.88deg) )
		43%
			opacity: 1.05
			@include transform( rotateY(4.17deg) rotateX(0.93deg) )
		44%
			opacity: 1.05
			@include transform( rotateY(4.17deg) rotateX(0.93deg) )
		45%
			opacity: 1.04
			@include transform( rotateY(3.98deg) rotateX(0.88deg) )
		46%
			opacity: 1.04
			@include transform( rotateY(3.63deg) rotateX(0.81deg) )
		47%
			opacity: 1.04
			@include transform( rotateY(3.16deg) rotateX(0.7deg) )
		48%
			opacity: 1.03
			@include transform( rotateY(2.61deg) rotateX(0.58deg) )
		49%
			opacity: 1.02
			@include transform( rotateY(2.02deg) rotateX(0.45deg) )
		50%
			opacity: 1.02
			@include transform( rotateY(1.41deg) rotateX(0.31deg) )
		51%
			opacity: 1.01
			@include transform( rotateY(0.81deg) rotateX(0.18deg) )
		52%
			opacity: 1
			@include transform( rotateY(0.26deg) rotateX(0.06deg) )
		53%
			opacity: 1
			@include transform( rotateY(-0.24deg) rotateX(-0.05deg) )
		54%
			opacity: 0.99
			@include transform( rotateY(-0.66deg) rotateX(-0.15deg) )
		55%
			opacity: 0.99
			@include transform( rotateY(-0.99deg) rotateX(-0.22deg) )
		56%
			opacity: 0.99
			@include transform( rotateY(-1.24deg) rotateX(-0.28deg) )
		57%
			opacity: 0.98
			@include transform( rotateY(-1.4deg) rotateX(-0.31deg) )
		58%
			opacity: 0.98
			@include transform( rotateY(-1.48deg) rotateX(-0.33deg) )
		59%
			opacity: 0.98
			@include transform( rotateY(-1.47deg) rotateX(-0.33deg) )
		60%
			opacity: 0.98
			@include transform( rotateY(-1.41deg) rotateX(-0.31deg) )
		61%
			opacity: 0.99
			@include transform( rotateY(-1.28deg) rotateX(-0.29deg) )
		62%
			opacity: 0.99
			@include transform( rotateY(-1.12deg) rotateX(-0.25deg) )
		63%
			opacity: 0.99
			@include transform( rotateY(-0.92deg) rotateX(-0.21deg) )
		64%
			opacity: 0.99
			@include transform( rotateY(-0.71deg) rotateX(-0.16deg) )
		65%
			opacity: 0.99
			@include transform( rotateY(-0.5deg) rotateX(-0.11deg) )
		66%
			opacity: 1
			@include transform( rotateY(-0.29deg) rotateX(-0.06deg) )
		67%
			opacity: 1
			@include transform( rotateY(-0.09deg) rotateX(-0.02deg) )
		68%
			opacity: 1
			@include transform( rotateY(0.08deg) rotateX(0.02deg) )
		69%
			opacity: 1
			@include transform( rotateY(0.23deg) rotateX(0.05deg) )
		70%
			opacity: 1
			@include transform( rotateY(0.35deg) rotateX(0.08deg) )
		71%
			opacity: 1
			@include transform( rotateY(0.44deg) rotateX(0.1deg) )
		72%
			opacity: 1.01
			@include transform( rotateY(0.5deg) rotateX(0.11deg) )
		73%
			opacity: 1.01
			@include transform( rotateY(0.52deg) rotateX(0.12deg) )
		74%
			opacity: 1.01
			@include transform( rotateY(0.52deg) rotateX(0.12deg) )
		75%
			opacity: 1.01
			@include transform( rotateY(0.5deg) rotateX(0.11deg) )
		76%
			opacity: 1.01
			@include transform( rotateY(0.45deg) rotateX(0.1deg) )
		77%
			opacity: 1
			@include transform( rotateY(0.4deg) rotateX(0.09deg) )
		78%
			opacity: 1
			@include transform( rotateY(0.33deg) rotateX(0.07deg) )
		79%
			opacity: 1
			@include transform( rotateY(0.25deg) rotateX(0.06deg) )
		80%
			opacity: 1
			@include transform( rotateY(0.18deg) rotateX(0.04deg) )
		81%
			opacity: 1
			@include transform( rotateY(0.1deg) rotateX(0.02deg) )
		82%
			opacity: 1
			@include transform( rotateY(0.03deg) rotateX(0.01deg) )
		83%
			opacity: 1
			@include transform( rotateY(-0.03deg) rotateX(-0.01deg) )
		84%
			opacity: 1
			@include transform( rotateY(-0.08deg) rotateX(-0.02deg) )
		85%
			opacity: 1
			@include transform( rotateY(-0.12deg) rotateX(-0.03deg) )
		86%
			opacity: 1
			@include transform( rotateY(-0.16deg) rotateX(-0.03deg) )
		87%
			opacity: 1
			@include transform( rotateY(-0.18deg) rotateX(-0.04deg) )
		88%
			opacity: 1
			@include transform( rotateY(-0.18deg) rotateX(-0.04deg) )
		89%
			opacity: 1
			@include transform( rotateY(-0.18deg) rotateX(-0.04deg) )
		90%
			opacity: 1
			@include transform( rotateY(-0.18deg) rotateX(-0.04deg) )
		91%
			opacity: 1
			@include transform( rotateY(-0.16deg) rotateX(-0.04deg) )
		92%
			opacity: 1
			@include transform( rotateY(-0.14deg) rotateX(-0.03deg) )
		93%
			opacity: 1
			@include transform( rotateY(-0.12deg) rotateX(-0.03deg) )
		94%
			opacity: 1
			@include transform( rotateY(-0.09deg) rotateX(-0.02deg) )
		95%
			opacity: 1
			@include transform( rotateY(-0.06deg) rotateX(-0.01deg) )
		96%
			opacity: 1
			@include transform( rotateY(-0.04deg) rotateX(-0.01deg) )
		97%
			opacity: 1
			@include transform( rotateY(-0.01deg) rotateX(0deg) )
		98%
			opacity: 1
			@include transform( rotateY(0.01deg) rotateX(0deg) )
		99%
			opacity: 1
			@include transform( rotateY(0.03deg) rotateX(0.01deg) )
		100%
			opacity: 1
			@include transform( rotateY(0deg) rotateX(0deg) )



	@include keyframes(flipOut)
		0%
			opacity: 1
			@include transform( rotateY(0deg) rotateX(0deg) )
		1%
			opacity: 1
			@include transform( rotateY(-0.01deg) rotateX(0deg) )
		2%
			opacity: 1
			@include transform( rotateY(-0.04deg) rotateX(-0.01deg) )
		3%
			opacity: 1
			@include transform( rotateY(-0.08deg) rotateX(-0.02deg) )
		4%
			opacity: 1
			@include transform( rotateY(-0.14deg) rotateX(-0.03deg) )
		5%
			opacity: 1
			@include transform( rotateY(-0.22deg) rotateX(-0.05deg) )
		6%
			opacity: 1
			@include transform( rotateY(-0.32deg) rotateX(-0.07deg) )
		7%
			opacity: 1
			@include transform( rotateY(-0.44deg) rotateX(-0.1deg) )
		8%
			opacity: 0.99
			@include transform( rotateY(-0.58deg) rotateX(-0.13deg) )
		9%
			opacity: 0.99
			@include transform( rotateY(-0.73deg) rotateX(-0.16deg) )
		10%
			opacity: 0.99
			@include transform( rotateY(-0.9deg) rotateX(-0.2deg) )
		11%
			opacity: 0.99
			@include transform( rotateY(-1.09deg) rotateX(-0.24deg) )
		12%
			opacity: 0.99
			@include transform( rotateY(-1.3deg) rotateX(-0.29deg) )
		13%
			opacity: 0.98
			@include transform( rotateY(-1.52deg) rotateX(-0.34deg) )
		14%
			opacity: 0.98
			@include transform( rotateY(-1.76deg) rotateX(-0.39deg) )
		15%
			opacity: 0.98
			@include transform( rotateY(-2.02deg) rotateX(-0.45deg) )
		16%
			opacity: 0.97
			@include transform( rotateY(-2.3deg) rotateX(-0.51deg) )
		17%
			opacity: 0.97
			@include transform( rotateY(-2.6deg) rotateX(-0.58deg) )
		18%
			opacity: 0.97
			@include transform( rotateY(-2.92deg) rotateX(-0.65deg) )
		19%
			opacity: 0.96
			@include transform( rotateY(-3.25deg) rotateX(-0.72deg) )
		20%
			opacity: 0.96
			@include transform( rotateY(-3.6deg) rotateX(-0.8deg) )
		21%
			opacity: 0.96
			@include transform( rotateY(-3.97deg) rotateX(-0.88deg) )
		22%
			opacity: 0.95
			@include transform( rotateY(-4.36deg) rotateX(-0.97deg) )
		23%
			opacity: 0.95
			@include transform( rotateY(-4.76deg) rotateX(-1.06deg) )
		24%
			opacity: 0.94
			@include transform( rotateY(-5.18deg) rotateX(-1.15deg) )
		25%
			opacity: 0.94
			@include transform( rotateY(-5.62deg) rotateX(-1.25deg) )
		26%
			opacity: 0.93
			@include transform( rotateY(-6.08deg) rotateX(-1.35deg) )
		27%
			opacity: 0.93
			@include transform( rotateY(-6.56deg) rotateX(-1.46deg) )
		28%
			opacity: 0.92
			@include transform( rotateY(-7.06deg) rotateX(-1.57deg) )
		29%
			opacity: 0.92
			@include transform( rotateY(-7.57deg) rotateX(-1.68deg) )
		30%
			opacity: 0.91
			@include transform( rotateY(-8.1deg) rotateX(-1.8deg) )
		31%
			opacity: 0.9
			@include transform( rotateY(-8.65deg) rotateX(-1.92deg) )
		32%
			opacity: 0.9
			@include transform( rotateY(-9.22deg) rotateX(-2.05deg) )
		33%
			opacity: 0.89
			@include transform( rotateY(-9.8deg) rotateX(-2.18deg) )
		34%
			opacity: 0.88
			@include transform( rotateY(-10.4deg) rotateX(-2.31deg) )
		35%
			opacity: 0.88
			@include transform( rotateY(-11.02deg) rotateX(-2.45deg) )
		36%
			opacity: 0.87
			@include transform( rotateY(-11.66deg) rotateX(-2.59deg) )
		37%
			opacity: 0.86
			@include transform( rotateY(-12.32deg) rotateX(-2.74deg) )
		38%
			opacity: 0.86
			@include transform( rotateY(-13deg) rotateX(-2.89deg) )
		39%
			opacity: 0.85
			@include transform( rotateY(-13.69deg) rotateX(-3.04deg) )
		40%
			opacity: 0.84
			@include transform( rotateY(-14.4deg) rotateX(-3.2deg) )
		41%
			opacity: 0.83
			@include transform( rotateY(-15.13deg) rotateX(-3.36deg) )
		42%
			opacity: 0.82
			@include transform( rotateY(-15.88deg) rotateX(-3.53deg) )
		43%
			opacity: 0.82
			@include transform( rotateY(-16.64deg) rotateX(-3.7deg) )
		44%
			opacity: 0.81
			@include transform( rotateY(-17.42deg) rotateX(-3.87deg) )
		45%
			opacity: 0.8
			@include transform( rotateY(-18.23deg) rotateX(-4.05deg) )
		46%
			opacity: 0.79
			@include transform( rotateY(-19.04deg) rotateX(-4.23deg) )
		47%
			opacity: 0.78
			@include transform( rotateY(-19.88deg) rotateX(-4.42deg) )
		48%
			opacity: 0.77
			@include transform( rotateY(-20.74deg) rotateX(-4.61deg) )
		49%
			opacity: 0.76
			@include transform( rotateY(-21.61deg) rotateX(-4.8deg) )
		50%
			opacity: 0.75
			@include transform( rotateY(-22.5deg) rotateX(-5deg) )
		51%
			opacity: 0.74
			@include transform( rotateY(-23.41deg) rotateX(-5.2deg) )
		52%
			opacity: 0.73
			@include transform( rotateY(-24.34deg) rotateX(-5.41deg) )
		53%
			opacity: 0.72
			@include transform( rotateY(-25.28deg) rotateX(-5.62deg) )
		54%
			opacity: 0.71
			@include transform( rotateY(-26.24deg) rotateX(-5.83deg) )
		55%
			opacity: 0.7
			@include transform( rotateY(-27.23deg) rotateX(-6.05deg) )
		56%
			opacity: 0.69
			@include transform( rotateY(-28.22deg) rotateX(-6.27deg) )
		57%
			opacity: 0.68
			@include transform( rotateY(-29.24deg) rotateX(-6.5deg) )
		58%
			opacity: 0.66
			@include transform( rotateY(-30.28deg) rotateX(-6.73deg) )
		59%
			opacity: 0.65
			@include transform( rotateY(-31.33deg) rotateX(-6.96deg) )
		60%
			opacity: 0.64
			@include transform( rotateY(-32.4deg) rotateX(-7.2deg) )
		61%
			opacity: 0.63
			@include transform( rotateY(-33.49deg) rotateX(-7.44deg) )
		62%
			opacity: 0.62
			@include transform( rotateY(-34.6deg) rotateX(-7.69deg) )
		63%
			opacity: 0.6
			@include transform( rotateY(-35.72deg) rotateX(-7.94deg) )
		64%
			opacity: 0.59
			@include transform( rotateY(-36.86deg) rotateX(-8.19deg) )
		65%
			opacity: 0.58
			@include transform( rotateY(-38.02deg) rotateX(-8.45deg) )
		66%
			opacity: 0.56
			@include transform( rotateY(-39.2deg) rotateX(-8.71deg) )
		67%
			opacity: 0.55
			@include transform( rotateY(-40.4deg) rotateX(-8.98deg) )
		68%
			opacity: 0.54
			@include transform( rotateY(-41.62deg) rotateX(-9.25deg) )
		69%
			opacity: 0.52
			@include transform( rotateY(-42.85deg) rotateX(-9.52deg) )
		70%
			opacity: 0.51
			@include transform( rotateY(-44.1deg) rotateX(-9.8deg) )
		71%
			opacity: 0.5
			@include transform( rotateY(-45.37deg) rotateX(-10.08deg) )
		72%
			opacity: 0.48
			@include transform( rotateY(-46.66deg) rotateX(-10.37deg) )
		73%
			opacity: 0.47
			@include transform( rotateY(-47.96deg) rotateX(-10.66deg) )
		74%
			opacity: 0.45
			@include transform( rotateY(-49.28deg) rotateX(-10.95deg) )
		75%
			opacity: 0.44
			@include transform( rotateY(-50.62deg) rotateX(-11.25deg) )
		76%
			opacity: 0.42
			@include transform( rotateY(-51.98deg) rotateX(-11.55deg) )
		77%
			opacity: 0.41
			@include transform( rotateY(-53.36deg) rotateX(-11.86deg) )
		78%
			opacity: 0.39
			@include transform( rotateY(-54.76deg) rotateX(-12.17deg) )
		79%
			opacity: 0.38
			@include transform( rotateY(-56.17deg) rotateX(-12.48deg) )
		80%
			opacity: 0.36
			@include transform( rotateY(-57.6deg) rotateX(-12.8deg) )
		81%
			opacity: 0.34
			@include transform( rotateY(-59.05deg) rotateX(-13.12deg) )
		82%
			opacity: 0.33
			@include transform( rotateY(-60.52deg) rotateX(-13.45deg) )
		83%
			opacity: 0.31
			@include transform( rotateY(-62deg) rotateX(-13.78deg) )
		84%
			opacity: 0.29
			@include transform( rotateY(-63.5deg) rotateX(-14.11deg) )
		85%
			opacity: 0.28
			@include transform( rotateY(-65.02deg) rotateX(-14.45deg) )
		86%
			opacity: 0.26
			@include transform( rotateY(-66.56deg) rotateX(-14.79deg) )
		87%
			opacity: 0.24
			@include transform( rotateY(-68.12deg) rotateX(-15.14deg) )
		88%
			opacity: 0.23
			@include transform( rotateY(-69.7deg) rotateX(-15.49deg) )
		89%
			opacity: 0.21
			@include transform( rotateY(-71.29deg) rotateX(-15.84deg) )
		90%
			opacity: 0.19
			@include transform( rotateY(-72.9deg) rotateX(-16.2deg) )
		91%
			opacity: 0.17
			@include transform( rotateY(-74.53deg) rotateX(-16.56deg) )
		92%
			opacity: 0.15
			@include transform( rotateY(-76.18deg) rotateX(-16.93deg) )
		93%
			opacity: 0.14
			@include transform( rotateY(-77.84deg) rotateX(-17.3deg) )
		94%
			opacity: 0.12
			@include transform( rotateY(-79.52deg) rotateX(-17.67deg) )
		95%
			opacity: 0.1
			@include transform( rotateY(-81.22deg) rotateX(-18.05deg) )
		96%
			opacity: 0.08
			@include transform( rotateY(-82.94deg) rotateX(-18.43deg) )
		97%
			opacity: 0.06
			@include transform( rotateY(-84.68deg) rotateX(-18.82deg) )
		98%
			opacity: 0.04
			@include transform( rotateY(-86.44deg) rotateX(-19.21deg) )
		99%
			opacity: 0.02
			@include transform( rotateY(-88.21deg) rotateX(-19.6deg) )
		100%
			opacity: 0
			@include transform( rotateY(-90deg) rotateX(-20deg) )


	.#{$animations-flipVertical-class}

		&.#{$animation-start-class}
			@include animation( flipIn $animations-flipVertical-duration forwards $animations-flipVertical-timing-function )


		&.#{$animation-stop-class}
			@include animation( flipOut 0.2s forwards $animations-flipVertical-timing-function )
