$animations-hugeinc-class: "-hugeinc--" !global

$animations-hugeinc-duration: 0.5s !global
$animations-hugeinc-timing-function: ease-in-out !global
$animations-hugeinc-delay: 0s !global


@include exports("animations/hugeinc")


	@include keyframes( hugeincIn )
		from
			@include transform( translateY(-25%) rotateX(35deg) )
			opacity: 0
		to
			@include transform( translateY(0) rotateX(0deg) )
			opacity: 1


	@include keyframes( hugeincOut )
		from
			@include transform( translateY(0) rotateX(0deg) )
			opacity: 1
		to
			@include transform( translateY(25%) rotateX(-35deg) )
			opacity: 0


	.#{$animations-hugeinc-class}

		// opacity: 0
		// visibility: hidden
		// @include transition( opacity $animations-hugeinc-duration forwards $animations-hugeinc-timing-function, visibility $animations-hugeinc-duration forwards $animations-hugeinc-timing-function )
		
		&.#{$animation-start-class}
			// opacity: 1
			// visibility: visible

			// & > div
			@include animation( hugeincIn $animations-hugeinc-duration forwards $animations-hugeinc-timing-function )


		&.#{$animation-stop-class}
			// opacity: 0
			// visibility: hidden

			// & > div
			@include animation( hugeincOut $animations-hugeinc-duration forwards $animations-hugeinc-timing-function )
