$animations-newspaper-class: "-newspaper--" !global

$animations-newspaper-duration: 0.4s !global
$animations-newspaper-elastic-duration: 4s !global
$animations-newspaper-timing-function: ease-out !global
$animations-newspaper-delay: 0.2s !global



@include exports("animations/newspaper")

	@-webkit-keyframes newspaper
		0%
			-webkit-transform: rotate(720deg) scale(0)
		1%
			-webkit-transform: rotate(657.1deg) scale(0.09)
		2%
			-webkit-transform: rotate(572.61deg) scale(0.2)
		3%
			-webkit-transform: rotate(473.13deg) scale(0.34)
		4%
			-webkit-transform: rotate(365.12deg) scale(0.49)
		5%
			-webkit-transform: rotate(254.56deg) scale(0.65)
		6%
			-webkit-transform: rotate(146.79deg) scale(0.8)
		7%
			-webkit-transform: rotate(46.33deg) scale(0.94)
		8%
			-webkit-transform: rotate(-43.23deg) scale(1.06)
		9%
			-webkit-transform: rotate(-119.23deg) scale(1.17)
		10%
			-webkit-transform: rotate(-180deg) scale(1.25)
		11%
			-webkit-transform: rotate(-224.76deg) scale(1.31)
		12%
			-webkit-transform: rotate(-253.54deg) scale(1.35)
		13%
			-webkit-transform: rotate(-267.13deg) scale(1.37)
		14%
			-webkit-transform: rotate(-266.87deg) scale(1.37)
		15%
			-webkit-transform: rotate(-254.56deg) scale(1.35)
		16%
			-webkit-transform: rotate(-232.32deg) scale(1.32)
		17%
			-webkit-transform: rotate(-202.45deg) scale(1.28)
		18%
			-webkit-transform: rotate(-167.28deg) scale(1.23)
		19%
			-webkit-transform: rotate(-129.09deg) scale(1.18)
		20%
			-webkit-transform: rotate(-90deg) scale(1.13)
		21%
			-webkit-transform: rotate(-51.9deg) scale(1.07)
		22%
			-webkit-transform: rotate(-16.38deg) scale(1.02)
		23%
			-webkit-transform: rotate(15.28deg) scale(0.98)
		24%
			-webkit-transform: rotate(42.15deg) scale(0.94)
		25%
			-webkit-transform: rotate(63.64deg) scale(0.91)
		26%
			-webkit-transform: rotate(79.46deg) scale(0.89)
		27%
			-webkit-transform: rotate(89.64deg) scale(0.88)
		28%
			-webkit-transform: rotate(94.44deg) scale(0.87)
		29%
			-webkit-transform: rotate(94.35deg) scale(0.87)
		30%
			-webkit-transform: rotate(90deg) scale(0.88)
		31%
			-webkit-transform: rotate(82.14deg) scale(0.89)
		32%
			-webkit-transform: rotate(71.58deg) scale(0.9)
		33%
			-webkit-transform: rotate(59.14deg) scale(0.92)
		34%
			-webkit-transform: rotate(45.64deg) scale(0.94)
		35%
			-webkit-transform: rotate(31.82deg) scale(0.96)
		36%
			-webkit-transform: rotate(18.35deg) scale(0.97)
		37%
			-webkit-transform: rotate(5.79deg) scale(0.99)
		38%
			-webkit-transform: rotate(-5.4deg) scale(1.01)
		39%
			-webkit-transform: rotate(-14.9deg) scale(1.02)
		40%
			-webkit-transform: rotate(-22.5deg) scale(1.03)
		41%
			-webkit-transform: rotate(-28.09deg) scale(1.04)
		42%
			-webkit-transform: rotate(-31.69deg) scale(1.04)
		43%
			-webkit-transform: rotate(-33.39deg) scale(1.05)
		44%
			-webkit-transform: rotate(-33.36deg) scale(1.05)
		45%
			-webkit-transform: rotate(-31.82deg) scale(1.04)
		46%
			-webkit-transform: rotate(-29.04deg) scale(1.04)
		47%
			-webkit-transform: rotate(-25.31deg) scale(1.04)
		48%
			-webkit-transform: rotate(-20.91deg) scale(1.03)
		49%
			-webkit-transform: rotate(-16.14deg) scale(1.02)
		50%
			-webkit-transform: rotate(-11.25deg) scale(1.02)
		51%
			-webkit-transform: rotate(-6.49deg) scale(1.01)
		52%
			-webkit-transform: rotate(-2.05deg) scale(1)
		53%
			-webkit-transform: rotate(1.91deg) scale(1)
		54%
			-webkit-transform: rotate(5.27deg) scale(0.99)
		55%
			-webkit-transform: rotate(7.95deg) scale(0.99)
		56%
			-webkit-transform: rotate(9.93deg) scale(0.99)
		57%
			-webkit-transform: rotate(11.21deg) scale(0.98)
		58%
			-webkit-transform: rotate(11.81deg) scale(0.98)
		59%
			-webkit-transform: rotate(11.79deg) scale(0.98)
		60%
			-webkit-transform: rotate(11.25deg) scale(0.98)
		61%
			-webkit-transform: rotate(10.27deg) scale(0.99)
		62%
			-webkit-transform: rotate(8.95deg) scale(0.99)
		63%
			-webkit-transform: rotate(7.39deg) scale(0.99)
		64%
			-webkit-transform: rotate(5.7deg) scale(0.99)
		65%
			-webkit-transform: rotate(3.98deg) scale(0.99)
		66%
			-webkit-transform: rotate(2.29deg) scale(1)
		67%
			-webkit-transform: rotate(0.72deg) scale(1)
		68%
			-webkit-transform: rotate(-0.68deg) scale(1)
		69%
			-webkit-transform: rotate(-1.86deg) scale(1)
		70%
			-webkit-transform: rotate(-2.81deg) scale(1)
		71%
			-webkit-transform: rotate(-3.51deg) scale(1)
		72%
			-webkit-transform: rotate(-3.96deg) scale(1.01)
		73%
			-webkit-transform: rotate(-4.17deg) scale(1.01)
		74%
			-webkit-transform: rotate(-4.17deg) scale(1.01)
		75%
			-webkit-transform: rotate(-3.98deg) scale(1.01)
		76%
			-webkit-transform: rotate(-3.63deg) scale(1.01)
		77%
			-webkit-transform: rotate(-3.16deg) scale(1)
		78%
			-webkit-transform: rotate(-2.61deg) scale(1)
		79%
			-webkit-transform: rotate(-2.02deg) scale(1)
		80%
			-webkit-transform: rotate(-1.41deg) scale(1)
		81%
			-webkit-transform: rotate(-0.81deg) scale(1)
		82%
			-webkit-transform: rotate(-0.26deg) scale(1)
		83%
			-webkit-transform: rotate(0.24deg) scale(1)
		84%
			-webkit-transform: rotate(0.66deg) scale(1)
		85%
			-webkit-transform: rotate(0.99deg) scale(1)
		86%
			-webkit-transform: rotate(1.24deg) scale(1)
		87%
			-webkit-transform: rotate(1.4deg) scale(1)
		88%
			-webkit-transform: rotate(1.48deg) scale(1)
		89%
			-webkit-transform: rotate(1.47deg) scale(1)
		90%
			-webkit-transform: rotate(1.41deg) scale(1)
		91%
			-webkit-transform: rotate(1.28deg) scale(1)
		92%
			-webkit-transform: rotate(1.12deg) scale(1)
		93%
			-webkit-transform: rotate(0.92deg) scale(1)
		94%
			-webkit-transform: rotate(0.71deg) scale(1)
		95%
			-webkit-transform: rotate(0.5deg) scale(1)
		96%
			-webkit-transform: rotate(0.29deg) scale(1)
		97%
			-webkit-transform: rotate(0.09deg) scale(1)
		98%
			-webkit-transform: rotate(-0.08deg) scale(1)
		99%
			-webkit-transform: rotate(-0.23deg) scale(1)
		100%
			-webkit-transform: rotate(0deg) scale(1)


	@-moz-keyframes newspaper
		0%
			-moz-transform: rotate(720deg) scale(0)
		1%
			-moz-transform: rotate(657.1deg) scale(0.09)
		2%
			-moz-transform: rotate(572.61deg) scale(0.2)
		3%
			-moz-transform: rotate(473.13deg) scale(0.34)
		4%
			-moz-transform: rotate(365.12deg) scale(0.49)
		5%
			-moz-transform: rotate(254.56deg) scale(0.65)
		6%
			-moz-transform: rotate(146.79deg) scale(0.8)
		7%
			-moz-transform: rotate(46.33deg) scale(0.94)
		8%
			-moz-transform: rotate(-43.23deg) scale(1.06)
		9%
			-moz-transform: rotate(-119.23deg) scale(1.17)
		10%
			-moz-transform: rotate(-180deg) scale(1.25)
		11%
			-moz-transform: rotate(-224.76deg) scale(1.31)
		12%
			-moz-transform: rotate(-253.54deg) scale(1.35)
		13%
			-moz-transform: rotate(-267.13deg) scale(1.37)
		14%
			-moz-transform: rotate(-266.87deg) scale(1.37)
		15%
			-moz-transform: rotate(-254.56deg) scale(1.35)
		16%
			-moz-transform: rotate(-232.32deg) scale(1.32)
		17%
			-moz-transform: rotate(-202.45deg) scale(1.28)
		18%
			-moz-transform: rotate(-167.28deg) scale(1.23)
		19%
			-moz-transform: rotate(-129.09deg) scale(1.18)
		20%
			-moz-transform: rotate(-90deg) scale(1.13)
		21%
			-moz-transform: rotate(-51.9deg) scale(1.07)
		22%
			-moz-transform: rotate(-16.38deg) scale(1.02)
		23%
			-moz-transform: rotate(15.28deg) scale(0.98)
		24%
			-moz-transform: rotate(42.15deg) scale(0.94)
		25%
			-moz-transform: rotate(63.64deg) scale(0.91)
		26%
			-moz-transform: rotate(79.46deg) scale(0.89)
		27%
			-moz-transform: rotate(89.64deg) scale(0.88)
		28%
			-moz-transform: rotate(94.44deg) scale(0.87)
		29%
			-moz-transform: rotate(94.35deg) scale(0.87)
		30%
			-moz-transform: rotate(90deg) scale(0.88)
		31%
			-moz-transform: rotate(82.14deg) scale(0.89)
		32%
			-moz-transform: rotate(71.58deg) scale(0.9)
		33%
			-moz-transform: rotate(59.14deg) scale(0.92)
		34%
			-moz-transform: rotate(45.64deg) scale(0.94)
		35%
			-moz-transform: rotate(31.82deg) scale(0.96)
		36%
			-moz-transform: rotate(18.35deg) scale(0.97)
		37%
			-moz-transform: rotate(5.79deg) scale(0.99)
		38%
			-moz-transform: rotate(-5.4deg) scale(1.01)
		39%
			-moz-transform: rotate(-14.9deg) scale(1.02)
		40%
			-moz-transform: rotate(-22.5deg) scale(1.03)
		41%
			-moz-transform: rotate(-28.09deg) scale(1.04)
		42%
			-moz-transform: rotate(-31.69deg) scale(1.04)
		43%
			-moz-transform: rotate(-33.39deg) scale(1.05)
		44%
			-moz-transform: rotate(-33.36deg) scale(1.05)
		45%
			-moz-transform: rotate(-31.82deg) scale(1.04)
		46%
			-moz-transform: rotate(-29.04deg) scale(1.04)
		47%
			-moz-transform: rotate(-25.31deg) scale(1.04)
		48%
			-moz-transform: rotate(-20.91deg) scale(1.03)
		49%
			-moz-transform: rotate(-16.14deg) scale(1.02)
		50%
			-moz-transform: rotate(-11.25deg) scale(1.02)
		51%
			-moz-transform: rotate(-6.49deg) scale(1.01)
		52%
			-moz-transform: rotate(-2.05deg) scale(1)
		53%
			-moz-transform: rotate(1.91deg) scale(1)
		54%
			-moz-transform: rotate(5.27deg) scale(0.99)
		55%
			-moz-transform: rotate(7.95deg) scale(0.99)
		56%
			-moz-transform: rotate(9.93deg) scale(0.99)
		57%
			-moz-transform: rotate(11.21deg) scale(0.98)
		58%
			-moz-transform: rotate(11.81deg) scale(0.98)
		59%
			-moz-transform: rotate(11.79deg) scale(0.98)
		60%
			-moz-transform: rotate(11.25deg) scale(0.98)
		61%
			-moz-transform: rotate(10.27deg) scale(0.99)
		62%
			-moz-transform: rotate(8.95deg) scale(0.99)
		63%
			-moz-transform: rotate(7.39deg) scale(0.99)
		64%
			-moz-transform: rotate(5.7deg) scale(0.99)
		65%
			-moz-transform: rotate(3.98deg) scale(0.99)
		66%
			-moz-transform: rotate(2.29deg) scale(1)
		67%
			-moz-transform: rotate(0.72deg) scale(1)
		68%
			-moz-transform: rotate(-0.68deg) scale(1)
		69%
			-moz-transform: rotate(-1.86deg) scale(1)
		70%
			-moz-transform: rotate(-2.81deg) scale(1)
		71%
			-moz-transform: rotate(-3.51deg) scale(1)
		72%
			-moz-transform: rotate(-3.96deg) scale(1.01)
		73%
			-moz-transform: rotate(-4.17deg) scale(1.01)
		74%
			-moz-transform: rotate(-4.17deg) scale(1.01)
		75%
			-moz-transform: rotate(-3.98deg) scale(1.01)
		76%
			-moz-transform: rotate(-3.63deg) scale(1.01)
		77%
			-moz-transform: rotate(-3.16deg) scale(1)
		78%
			-moz-transform: rotate(-2.61deg) scale(1)
		79%
			-moz-transform: rotate(-2.02deg) scale(1)
		80%
			-moz-transform: rotate(-1.41deg) scale(1)
		81%
			-moz-transform: rotate(-0.81deg) scale(1)
		82%
			-moz-transform: rotate(-0.26deg) scale(1)
		83%
			-moz-transform: rotate(0.24deg) scale(1)
		84%
			-moz-transform: rotate(0.66deg) scale(1)
		85%
			-moz-transform: rotate(0.99deg) scale(1)
		86%
			-moz-transform: rotate(1.24deg) scale(1)
		87%
			-moz-transform: rotate(1.4deg) scale(1)
		88%
			-moz-transform: rotate(1.48deg) scale(1)
		89%
			-moz-transform: rotate(1.47deg) scale(1)
		90%
			-moz-transform: rotate(1.41deg) scale(1)
		91%
			-moz-transform: rotate(1.28deg) scale(1)
		92%
			-moz-transform: rotate(1.12deg) scale(1)
		93%
			-moz-transform: rotate(0.92deg) scale(1)
		94%
			-moz-transform: rotate(0.71deg) scale(1)
		95%
			-moz-transform: rotate(0.5deg) scale(1)
		96%
			-moz-transform: rotate(0.29deg) scale(1)
		97%
			-moz-transform: rotate(0.09deg) scale(1)
		98%
			-moz-transform: rotate(-0.08deg) scale(1)
		99%
			-moz-transform: rotate(-0.23deg) scale(1)
		100%
			-moz-transform: rotate(0deg) scale(1)


	@keyframes newspaper
		0%
			transform: rotate(720deg) scale(0)
		1%
			transform: rotate(657.1deg) scale(0.09)
		2%
			transform: rotate(572.61deg) scale(0.2)
		3%
			transform: rotate(473.13deg) scale(0.34)
		4%
			transform: rotate(365.12deg) scale(0.49)
		5%
			transform: rotate(254.56deg) scale(0.65)
		6%
			transform: rotate(146.79deg) scale(0.8)
		7%
			transform: rotate(46.33deg) scale(0.94)
		8%
			transform: rotate(-43.23deg) scale(1.06)
		9%
			transform: rotate(-119.23deg) scale(1.17)
		10%
			transform: rotate(-180deg) scale(1.25)
		11%
			transform: rotate(-224.76deg) scale(1.31)
		12%
			transform: rotate(-253.54deg) scale(1.35)
		13%
			transform: rotate(-267.13deg) scale(1.37)
		14%
			transform: rotate(-266.87deg) scale(1.37)
		15%
			transform: rotate(-254.56deg) scale(1.35)
		16%
			transform: rotate(-232.32deg) scale(1.32)
		17%
			transform: rotate(-202.45deg) scale(1.28)
		18%
			transform: rotate(-167.28deg) scale(1.23)
		19%
			transform: rotate(-129.09deg) scale(1.18)
		20%
			transform: rotate(-90deg) scale(1.13)
		21%
			transform: rotate(-51.9deg) scale(1.07)
		22%
			transform: rotate(-16.38deg) scale(1.02)
		23%
			transform: rotate(15.28deg) scale(0.98)
		24%
			transform: rotate(42.15deg) scale(0.94)
		25%
			transform: rotate(63.64deg) scale(0.91)
		26%
			transform: rotate(79.46deg) scale(0.89)
		27%
			transform: rotate(89.64deg) scale(0.88)
		28%
			transform: rotate(94.44deg) scale(0.87)
		29%
			transform: rotate(94.35deg) scale(0.87)
		30%
			transform: rotate(90deg) scale(0.88)
		31%
			transform: rotate(82.14deg) scale(0.89)
		32%
			transform: rotate(71.58deg) scale(0.9)
		33%
			transform: rotate(59.14deg) scale(0.92)
		34%
			transform: rotate(45.64deg) scale(0.94)
		35%
			transform: rotate(31.82deg) scale(0.96)
		36%
			transform: rotate(18.35deg) scale(0.97)
		37%
			transform: rotate(5.79deg) scale(0.99)
		38%
			transform: rotate(-5.4deg) scale(1.01)
		39%
			transform: rotate(-14.9deg) scale(1.02)
		40%
			transform: rotate(-22.5deg) scale(1.03)
		41%
			transform: rotate(-28.09deg) scale(1.04)
		42%
			transform: rotate(-31.69deg) scale(1.04)
		43%
			transform: rotate(-33.39deg) scale(1.05)
		44%
			transform: rotate(-33.36deg) scale(1.05)
		45%
			transform: rotate(-31.82deg) scale(1.04)
		46%
			transform: rotate(-29.04deg) scale(1.04)
		47%
			transform: rotate(-25.31deg) scale(1.04)
		48%
			transform: rotate(-20.91deg) scale(1.03)
		49%
			transform: rotate(-16.14deg) scale(1.02)
		50%
			transform: rotate(-11.25deg) scale(1.02)
		51%
			transform: rotate(-6.49deg) scale(1.01)
		52%
			transform: rotate(-2.05deg) scale(1)
		53%
			transform: rotate(1.91deg) scale(1)
		54%
			transform: rotate(5.27deg) scale(0.99)
		55%
			transform: rotate(7.95deg) scale(0.99)
		56%
			transform: rotate(9.93deg) scale(0.99)
		57%
			transform: rotate(11.21deg) scale(0.98)
		58%
			transform: rotate(11.81deg) scale(0.98)
		59%
			transform: rotate(11.79deg) scale(0.98)
		60%
			transform: rotate(11.25deg) scale(0.98)
		61%
			transform: rotate(10.27deg) scale(0.99)
		62%
			transform: rotate(8.95deg) scale(0.99)
		63%
			transform: rotate(7.39deg) scale(0.99)
		64%
			transform: rotate(5.7deg) scale(0.99)
		65%
			transform: rotate(3.98deg) scale(0.99)
		66%
			transform: rotate(2.29deg) scale(1)
		67%
			transform: rotate(0.72deg) scale(1)
		68%
			transform: rotate(-0.68deg) scale(1)
		69%
			transform: rotate(-1.86deg) scale(1)
		70%
			transform: rotate(-2.81deg) scale(1)
		71%
			transform: rotate(-3.51deg) scale(1)
		72%
			transform: rotate(-3.96deg) scale(1.01)
		73%
			transform: rotate(-4.17deg) scale(1.01)
		74%
			transform: rotate(-4.17deg) scale(1.01)
		75%
			transform: rotate(-3.98deg) scale(1.01)
		76%
			transform: rotate(-3.63deg) scale(1.01)
		77%
			transform: rotate(-3.16deg) scale(1)
		78%
			transform: rotate(-2.61deg) scale(1)
		79%
			transform: rotate(-2.02deg) scale(1)
		80%
			transform: rotate(-1.41deg) scale(1)
		81%
			transform: rotate(-0.81deg) scale(1)
		82%
			transform: rotate(-0.26deg) scale(1)
		83%
			transform: rotate(0.24deg) scale(1)
		84%
			transform: rotate(0.66deg) scale(1)
		85%
			transform: rotate(0.99deg) scale(1)
		86%
			transform: rotate(1.24deg) scale(1)
		87%
			transform: rotate(1.4deg) scale(1)
		88%
			transform: rotate(1.48deg) scale(1)
		89%
			transform: rotate(1.47deg) scale(1)
		90%
			transform: rotate(1.41deg) scale(1)
		91%
			transform: rotate(1.28deg) scale(1)
		92%
			transform: rotate(1.12deg) scale(1)
		93%
			transform: rotate(0.92deg) scale(1)
		94%
			transform: rotate(0.71deg) scale(1)
		95%
			transform: rotate(0.5deg) scale(1)
		96%
			transform: rotate(0.29deg) scale(1)
		97%
			transform: rotate(0.09deg) scale(1)
		98%
			transform: rotate(-0.08deg) scale(1)
		99%
			transform: rotate(-0.23deg) scale(1)
		100%
			transform: rotate(0deg) scale(1)





	
	.#{$animations-newspaper-class}
		opacity: 0
		visibility: hidden
		@include transition-property (transform, opacity, visibility)
		@include transition-duration($animations-newspaper-duration)
		@include transition-timing-function($animations-newspaper-timing-function)
		@include transition-delay($animations-newspaper-delay)
		@include transform-origin(center middle)
		@include transform-style(preserve-3d)
		

		@include transform(rotate(720deg) scale(0))
		

	
		&.#{$animation-start-class}
			visibility: visible
			opacity: 1
			@include transform(rotate(0deg) scale(1))

			&.#{$animation-elastic-class}
				@include animation(newspaper $animations-scalein-elastic-duration forwards $animations-scalein-timing-function $animations-newspaper-delay)