$animations-newspaper-class: "#{$pref-anim}newspaper#{$post-anim}" !global

$animations-newspaper-duration: 1.5s !global
$animations-newspaper-timing-function: linear !global
$animations-newspaper-delay: 0s !global



@include exports("animations/newspaper")


	@include keyframes(newspaperIn)
		0%
			opacity: 0
			@include transform( rotate(720deg) scale(0) )
		1%
			opacity: 0.09
			@include transform( rotate(657.1deg) scale(0.09) )
		2%
			opacity: 0.2
			@include transform( rotate(572.61deg) scale(0.2) )
		3%
			opacity: 0.34
			@include transform( rotate(473.13deg) scale(0.34) )
		4%
			opacity: 0.49
			@include transform( rotate(365.12deg) scale(0.49) )
		5%
			opacity: 0.65
			@include transform( rotate(254.56deg) scale(0.65) )
		6%
			opacity: 0.8
			@include transform( rotate(146.79deg) scale(0.8) )
		7%
			opacity: 0.94
			@include transform( rotate(46.33deg) scale(0.94) )
		8%
			opacity: 1.06
			@include transform( rotate(-43.23deg) scale(1.06) )
		9%
			opacity: 1.17
			@include transform( rotate(-119.23deg) scale(1.17) )
		10%
			opacity: 1.25
			@include transform( rotate(-180deg) scale(1.25) )
		11%
			opacity: 1.31
			@include transform( rotate(-224.76deg) scale(1.31) )
		12%
			opacity: 1.35
			@include transform( rotate(-253.54deg) scale(1.35) )
		13%
			opacity: 1.37
			@include transform( rotate(-267.13deg) scale(1.37) )
		14%
			opacity: 1.37
			@include transform( rotate(-266.87deg) scale(1.37) )
		15%
			opacity: 1.35
			@include transform( rotate(-254.56deg) scale(1.35) )
		16%
			opacity: 1.32
			@include transform( rotate(-232.32deg) scale(1.32) )
		17%
			opacity: 1.28
			@include transform( rotate(-202.45deg) scale(1.28) )
		18%
			opacity: 1.23
			@include transform( rotate(-167.28deg) scale(1.23) )
		19%
			opacity: 1.18
			@include transform( rotate(-129.09deg) scale(1.18) )
		20%
			opacity: 1.13
			@include transform( rotate(-90deg) scale(1.13) )
		21%
			opacity: 1.07
			@include transform( rotate(-51.9deg) scale(1.07) )
		22%
			opacity: 1.02
			@include transform( rotate(-16.38deg) scale(1.02) )
		23%
			opacity: 0.98
			@include transform( rotate(15.28deg) scale(0.98) )
		24%
			opacity: 0.94
			@include transform( rotate(42.15deg) scale(0.94) )
		25%
			opacity: 0.91
			@include transform( rotate(63.64deg) scale(0.91) )
		26%
			opacity: 0.89
			@include transform( rotate(79.46deg) scale(0.89) )
		27%
			opacity: 0.88
			@include transform( rotate(89.64deg) scale(0.88) )
		28%
			opacity: 0.87
			@include transform( rotate(94.44deg) scale(0.87) )
		29%
			opacity: 0.87
			@include transform( rotate(94.35deg) scale(0.87) )
		30%
			opacity: 0.88
			@include transform( rotate(90deg) scale(0.88) )
		31%
			opacity: 0.89
			@include transform( rotate(82.14deg) scale(0.89) )
		32%
			opacity: 0.9
			@include transform( rotate(71.58deg) scale(0.9) )
		33%
			opacity: 0.92
			@include transform( rotate(59.14deg) scale(0.92) )
		34%
			opacity: 0.94
			@include transform( rotate(45.64deg) scale(0.94) )
		35%
			opacity: 0.96
			@include transform( rotate(31.82deg) scale(0.96) )
		36%
			opacity: 0.97
			@include transform( rotate(18.35deg) scale(0.97) )
		37%
			opacity: 0.99
			@include transform( rotate(5.79deg) scale(0.99) )
		38%
			opacity: 1.01
			@include transform( rotate(-5.4deg) scale(1.01) )
		39%
			opacity: 1.02
			@include transform( rotate(-14.9deg) scale(1.02) )
		40%
			opacity: 1.03
			@include transform( rotate(-22.5deg) scale(1.03) )
		41%
			opacity: 1.04
			@include transform( rotate(-28.09deg) scale(1.04) )
		42%
			opacity: 1.04
			@include transform( rotate(-31.69deg) scale(1.04) )
		43%
			opacity: 1.05
			@include transform( rotate(-33.39deg) scale(1.05) )
		44%
			opacity: 1.05
			@include transform( rotate(-33.36deg) scale(1.05) )
		45%
			opacity: 1.04
			@include transform( rotate(-31.82deg) scale(1.04) )
		46%
			opacity: 1.04
			@include transform( rotate(-29.04deg) scale(1.04) )
		47%
			opacity: 1.04
			@include transform( rotate(-25.31deg) scale(1.04) )
		48%
			opacity: 1.03
			@include transform( rotate(-20.91deg) scale(1.03) )
		49%
			opacity: 1.02
			@include transform( rotate(-16.14deg) scale(1.02) )
		50%
			opacity: 1.02
			@include transform( rotate(-11.25deg) scale(1.02) )
		51%
			opacity: 1.01
			@include transform( rotate(-6.49deg) scale(1.01) )
		52%
			opacity: 1
			@include transform( rotate(-2.05deg) scale(1) )
		53%
			opacity: 1
			@include transform( rotate(1.91deg) scale(1) )
		54%
			opacity: 0.99
			@include transform( rotate(5.27deg) scale(0.99) )
		55%
			opacity: 0.99
			@include transform( rotate(7.95deg) scale(0.99) )
		56%
			opacity: 0.99
			@include transform( rotate(9.93deg) scale(0.99) )
		57%
			opacity: 0.98
			@include transform( rotate(11.21deg) scale(0.98) )
		58%
			opacity: 0.98
			@include transform( rotate(11.81deg) scale(0.98) )
		59%
			opacity: 0.98
			@include transform( rotate(11.79deg) scale(0.98) )
		60%
			opacity: 0.98
			@include transform( rotate(11.25deg) scale(0.98) )
		61%
			opacity: 0.99
			@include transform( rotate(10.27deg) scale(0.99) )
		62%
			opacity: 0.99
			@include transform( rotate(8.95deg) scale(0.99) )
		63%
			opacity: 0.99
			@include transform( rotate(7.39deg) scale(0.99) )
		64%
			opacity: 0.99
			@include transform( rotate(5.7deg) scale(0.99) )
		65%
			opacity: 0.99
			@include transform( rotate(3.98deg) scale(0.99) )
		66%
			opacity: 1
			@include transform( rotate(2.29deg) scale(1) )
		67%
			opacity: 1
			@include transform( rotate(0.72deg) scale(1) )
		68%
			opacity: 1
			@include transform( rotate(-0.68deg) scale(1) )
		69%
			opacity: 1
			@include transform( rotate(-1.86deg) scale(1) )
		70%
			opacity: 1
			@include transform( rotate(-2.81deg) scale(1) )
		71%
			opacity: 1
			@include transform( rotate(-3.51deg) scale(1) )
		72%
			opacity: 1.01
			@include transform( rotate(-3.96deg) scale(1.01) )
		73%
			opacity: 1.01
			@include transform( rotate(-4.17deg) scale(1.01) )
		74%
			opacity: 1.01
			@include transform( rotate(-4.17deg) scale(1.01) )
		75%
			opacity: 1.01
			@include transform( rotate(-3.98deg) scale(1.01) )
		76%
			opacity: 1.01
			@include transform( rotate(-3.63deg) scale(1.01) )
		77%
			opacity: 1
			@include transform( rotate(-3.16deg) scale(1) )
		78%
			opacity: 1
			@include transform( rotate(-2.61deg) scale(1) )
		79%
			opacity: 1
			@include transform( rotate(-2.02deg) scale(1) )
		80%
			opacity: 1
			@include transform( rotate(-1.41deg) scale(1) )
		81%
			opacity: 1
			@include transform( rotate(-0.81deg) scale(1) )
		82%
			opacity: 1
			@include transform( rotate(-0.26deg) scale(1) )
		83%
			opacity: 1
			@include transform( rotate(0.24deg) scale(1) )
		84%
			opacity: 1
			@include transform( rotate(0.66deg) scale(1) )
		85%
			opacity: 1
			@include transform( rotate(0.99deg) scale(1) )
		86%
			opacity: 1
			@include transform( rotate(1.24deg) scale(1) )
		87%
			opacity: 1
			@include transform( rotate(1.4deg) scale(1) )
		88%
			opacity: 1
			@include transform( rotate(1.48deg) scale(1) )
		89%
			opacity: 1
			@include transform( rotate(1.47deg) scale(1) )
		90%
			opacity: 1
			@include transform( rotate(1.41deg) scale(1) )
		91%
			opacity: 1
			@include transform( rotate(1.28deg) scale(1) )
		92%
			opacity: 1
			@include transform( rotate(1.12deg) scale(1) )
		93%
			opacity: 1
			@include transform( rotate(0.92deg) scale(1) )
		94%
			opacity: 1
			@include transform( rotate(0.71deg) scale(1) )
		95%
			opacity: 1
			@include transform( rotate(0.5deg) scale(1) )
		96%
			opacity: 1
			@include transform( rotate(0.29deg) scale(1) )
		97%
			opacity: 1
			@include transform( rotate(0.09deg) scale(1) )
		98%
			opacity: 1
			@include transform( rotate(-0.08deg) scale(1) )
		99%
			opacity: 1
			@include transform( rotate(-0.23deg) scale(1) )
		100%
			opacity: 1
			@include transform( rotate(0deg) scale(1) )



	@include keyframes(newspaperOut)
		0%
			opacity: 1
			@include transform( rotate(0deg) scale(1) )
		1%
			opacity: 0.98
			@include transform( rotate(14.33deg) scale(0.98) )
		2%
			opacity: 0.96
			@include transform( rotate(28.51deg) scale(0.96) )
		3%
			opacity: 0.94
			@include transform( rotate(42.55deg) scale(0.94) )
		4%
			opacity: 0.92
			@include transform( rotate(56.45deg) scale(0.92) )
		5%
			opacity: 0.9
			@include transform( rotate(70.2deg) scale(0.9) )
		6%
			opacity: 0.88
			@include transform( rotate(83.81deg) scale(0.88) )
		7%
			opacity: 0.86
			@include transform( rotate(97.27deg) scale(0.86) )
		8%
			opacity: 0.85
			@include transform( rotate(110.59deg) scale(0.85) )
		9%
			opacity: 0.83
			@include transform( rotate(123.77deg) scale(0.83) )
		10%
			opacity: 0.81
			@include transform( rotate(136.8deg) scale(0.81) )
		11%
			opacity: 0.79
			@include transform( rotate(149.69deg) scale(0.79) )
		12%
			opacity: 0.77
			@include transform( rotate(162.43deg) scale(0.77) )
		13%
			opacity: 0.76
			@include transform( rotate(175.03deg) scale(0.76) )
		14%
			opacity: 0.74
			@include transform( rotate(187.49deg) scale(0.74) )
		15%
			opacity: 0.72
			@include transform( rotate(199.8deg) scale(0.72) )
		16%
			opacity: 0.71
			@include transform( rotate(211.97deg) scale(0.71) )
		17%
			opacity: 0.69
			@include transform( rotate(223.99deg) scale(0.69) )
		18%
			opacity: 0.67
			@include transform( rotate(235.87deg) scale(0.67) )
		19%
			opacity: 0.66
			@include transform( rotate(247.61deg) scale(0.66) )
		20%
			opacity: 0.64
			@include transform( rotate(259.2deg) scale(0.64) )
		21%
			opacity: 0.62
			@include transform( rotate(270.65deg) scale(0.62) )
		22%
			opacity: 0.61
			@include transform( rotate(281.95deg) scale(0.61) )
		23%
			opacity: 0.59
			@include transform( rotate(293.11deg) scale(0.59) )
		24%
			opacity: 0.58
			@include transform( rotate(304.13deg) scale(0.58) )
		25%
			opacity: 0.56
			@include transform( rotate(315deg) scale(0.56) )
		26%
			opacity: 0.55
			@include transform( rotate(325.73deg) scale(0.55) )
		27%
			opacity: 0.53
			@include transform( rotate(336.31deg) scale(0.53) )
		28%
			opacity: 0.52
			@include transform( rotate(346.75deg) scale(0.52) )
		29%
			opacity: 0.5
			@include transform( rotate(357.05deg) scale(0.5) )
		30%
			opacity: 0.49
			@include transform( rotate(367.2deg) scale(0.49) )
		31%
			opacity: 0.48
			@include transform( rotate(377.21deg) scale(0.48) )
		32%
			opacity: 0.46
			@include transform( rotate(387.07deg) scale(0.46) )
		33%
			opacity: 0.45
			@include transform( rotate(396.79deg) scale(0.45) )
		34%
			opacity: 0.44
			@include transform( rotate(406.37deg) scale(0.44) )
		35%
			opacity: 0.42
			@include transform( rotate(415.8deg) scale(0.42) )
		36%
			opacity: 0.41
			@include transform( rotate(425.09deg) scale(0.41) )
		37%
			opacity: 0.4
			@include transform( rotate(434.23deg) scale(0.4) )
		38%
			opacity: 0.38
			@include transform( rotate(443.23deg) scale(0.38) )
		39%
			opacity: 0.37
			@include transform( rotate(452.09deg) scale(0.37) )
		40%
			opacity: 0.36
			@include transform( rotate(460.8deg) scale(0.36) )
		41%
			opacity: 0.35
			@include transform( rotate(469.37deg) scale(0.35) )
		42%
			opacity: 0.34
			@include transform( rotate(477.79deg) scale(0.34) )
		43%
			opacity: 0.32
			@include transform( rotate(486.07deg) scale(0.32) )
		44%
			opacity: 0.31
			@include transform( rotate(494.21deg) scale(0.31) )
		45%
			opacity: 0.3
			@include transform( rotate(502.2deg) scale(0.3) )
		46%
			opacity: 0.29
			@include transform( rotate(510.05deg) scale(0.29) )
		47%
			opacity: 0.28
			@include transform( rotate(517.75deg) scale(0.28) )
		48%
			opacity: 0.27
			@include transform( rotate(525.31deg) scale(0.27) )
		49%
			opacity: 0.26
			@include transform( rotate(532.73deg) scale(0.26) )
		50%
			opacity: 0.25
			@include transform( rotate(540deg) scale(0.25) )
		51%
			opacity: 0.24
			@include transform( rotate(547.13deg) scale(0.24) )
		52%
			opacity: 0.23
			@include transform( rotate(554.11deg) scale(0.23) )
		53%
			opacity: 0.22
			@include transform( rotate(560.95deg) scale(0.22) )
		54%
			opacity: 0.21
			@include transform( rotate(567.65deg) scale(0.21) )
		55%
			opacity: 0.2
			@include transform( rotate(574.2deg) scale(0.2) )
		56%
			opacity: 0.19
			@include transform( rotate(580.61deg) scale(0.19) )
		57%
			opacity: 0.18
			@include transform( rotate(586.87deg) scale(0.18) )
		58%
			opacity: 0.18
			@include transform( rotate(592.99deg) scale(0.18) )
		59%
			opacity: 0.17
			@include transform( rotate(598.97deg) scale(0.17) )
		60%
			opacity: 0.16
			@include transform( rotate(604.8deg) scale(0.16) )
		61%
			opacity: 0.15
			@include transform( rotate(610.49deg) scale(0.15) )
		62%
			opacity: 0.14
			@include transform( rotate(616.03deg) scale(0.14) )
		63%
			opacity: 0.14
			@include transform( rotate(621.43deg) scale(0.14) )
		64%
			opacity: 0.13
			@include transform( rotate(626.69deg) scale(0.13) )
		65%
			opacity: 0.12
			@include transform( rotate(631.8deg) scale(0.12) )
		66%
			opacity: 0.12
			@include transform( rotate(636.77deg) scale(0.12) )
		67%
			opacity: 0.11
			@include transform( rotate(641.59deg) scale(0.11) )
		68%
			opacity: 0.1
			@include transform( rotate(646.27deg) scale(0.1) )
		69%
			opacity: 0.1
			@include transform( rotate(650.81deg) scale(0.1) )
		70%
			opacity: 0.09
			@include transform( rotate(655.2deg) scale(0.09) )
		71%
			opacity: 0.08
			@include transform( rotate(659.45deg) scale(0.08) )
		72%
			opacity: 0.08
			@include transform( rotate(663.55deg) scale(0.08) )
		73%
			opacity: 0.07
			@include transform( rotate(667.51deg) scale(0.07) )
		74%
			opacity: 0.07
			@include transform( rotate(671.33deg) scale(0.07) )
		75%
			opacity: 0.06
			@include transform( rotate(675deg) scale(0.06) )
		76%
			opacity: 0.06
			@include transform( rotate(678.53deg) scale(0.06) )
		77%
			opacity: 0.05
			@include transform( rotate(681.91deg) scale(0.05) )
		78%
			opacity: 0.05
			@include transform( rotate(685.15deg) scale(0.05) )
		79%
			opacity: 0.04
			@include transform( rotate(688.25deg) scale(0.04) )
		80%
			opacity: 0.04
			@include transform( rotate(691.2deg) scale(0.04) )
		81%
			opacity: 0.04
			@include transform( rotate(694.01deg) scale(0.04) )
		82%
			opacity: 0.03
			@include transform( rotate(696.67deg) scale(0.03) )
		83%
			opacity: 0.03
			@include transform( rotate(699.19deg) scale(0.03) )
		84%
			opacity: 0.03
			@include transform( rotate(701.57deg) scale(0.03) )
		85%
			opacity: 0.02
			@include transform( rotate(703.8deg) scale(0.02) )
		86%
			opacity: 0.02
			@include transform( rotate(705.89deg) scale(0.02) )
		87%
			opacity: 0.02
			@include transform( rotate(707.83deg) scale(0.02) )
		88%
			opacity: 0.01
			@include transform( rotate(709.63deg) scale(0.01) )
		89%
			opacity: 0.01
			@include transform( rotate(711.29deg) scale(0.01) )
		90%
			opacity: 0.01
			@include transform( rotate(712.8deg) scale(0.01) )
		91%
			opacity: 0.01
			@include transform( rotate(714.17deg) scale(0.01) )
		92%
			opacity: 0.01
			@include transform( rotate(715.39deg) scale(0.01) )
		93%
			opacity: 0
			@include transform( rotate(716.47deg) scale(0) )
		94%
			opacity: 0
			@include transform( rotate(717.41deg) scale(0) )
		95%
			opacity: 0
			@include transform( rotate(718.2deg) scale(0) )
		96%
			opacity: 0
			@include transform( rotate(718.85deg) scale(0) )
		97%
			opacity: 0
			@include transform( rotate(719.35deg) scale(0) )
		98%
			opacity: 0
			@include transform( rotate(719.71deg) scale(0) )
		99%
			opacity: 0
			@include transform( rotate(719.93deg) scale(0) )
		100%
			opacity: 0
			@include transform( rotate(720deg) scale(0) )


	.#{$animations-newspaper-class}

		&.#{$animation-start-class}
			@include animation( newspaperIn $animations-newspaper-duration forwards $animations-newspaper-timing-function )


		&.#{$animation-stop-class}
			@include animation( newspaperOut 0.2s forwards $animations-newspaper-timing-function )
