$animations-scale-class: "-scale--" !global

$animations-scale-duration: 0.4s !global
$animations-scale-timing-function: ease-in-out !global
$animations-scale-delay: 0s !global


@include exports("animations/scale")


	@include keyframes( scaleIn )
		from
			@include transform( scale(0.8) )
			opacity: 0
		to
			@include transform( scale(1) )
			opacity: 1


	@include keyframes( scaleOut )
		from
			@include transform( scale(1) )
			opacity: 1
		to
			@include transform( scale(1.2) )
			opacity: 0


	.#{$animations-scale-class}

		// opacity: 0
		// visibility: hidden
		// @include transition( opacity $animations-scale-duration forwards $animations-scale-timing-function, visibility $animations-scale-duration forwards $animations-scale-timing-function )
		
		&.#{$animation-start-class}
			// opacity: 1
			// visibility: visible

			// & > div
			@include animation( scaleIn $animations-scale-duration forwards $animations-scale-timing-function )


		&.#{$animation-stop-class}
			// opacity: 0
			// visibility: hidden

			// & > div
			@include animation( scaleOut $animations-scale-duration forwards $animations-scale-timing-function )