$animations-scalein-class: "-scalein--" !global

$animations-scalein-duration: 0.2s !global
$animations-scalein-elastic-duration: 0.8s !global
$animations-scalein-timing-function: ease-out !global
$animations-scalein-delay: 0s !global



@include exports("animations/scalein")

	
	@-webkit-keyframes slide-keyframes
		0%
			-webkit-transform: scale(0.7)
		1%
			-webkit-transform: scale(0.73)
		2%
			-webkit-transform: scale(0.76)
		3%
			-webkit-transform: scale(0.8)
		4%
			-webkit-transform: scale(0.85)
		5%
			-webkit-transform: scale(0.89)
		6%
			-webkit-transform: scale(0.94)
		7%
			-webkit-transform: scale(0.98)
		8%
			-webkit-transform: scale(1.02)
		9%
			-webkit-transform: scale(1.05)
		10%
			-webkit-transform: scale(1.08)
		11%
			-webkit-transform: scale(1.09)
		12%
			-webkit-transform: scale(1.11)
		13%
			-webkit-transform: scale(1.11)
		14%
			-webkit-transform: scale(1.11)
		15%
			-webkit-transform: scale(1.11)
		16%
			-webkit-transform: scale(1.1)
		17%
			-webkit-transform: scale(1.08)
		18%
			-webkit-transform: scale(1.07)
		19%
			-webkit-transform: scale(1.05)
		20%
			-webkit-transform: scale(1.04)
		21%
			-webkit-transform: scale(1.02)
		22%
			-webkit-transform: scale(1.01)
		23%
			-webkit-transform: scale(0.99)
		24%
			-webkit-transform: scale(0.98)
		25%
			-webkit-transform: scale(0.97)
		26%
			-webkit-transform: scale(0.97)
		27%
			-webkit-transform: scale(0.96)
		28%
			-webkit-transform: scale(0.96)
		29%
			-webkit-transform: scale(0.96)
		30%
			-webkit-transform: scale(0.96)
		31%
			-webkit-transform: scale(0.97)
		32%
			-webkit-transform: scale(0.97)
		33%
			-webkit-transform: scale(0.98)
		34%
			-webkit-transform: scale(0.98)
		35%
			-webkit-transform: scale(0.99)
		36%
			-webkit-transform: scale(0.99)
		37%
			-webkit-transform: scale(1)
		38%
			-webkit-transform: scale(1)
		39%
			-webkit-transform: scale(1.01)
		40%
			-webkit-transform: scale(1.01)
		41%
			-webkit-transform: scale(1.01)
		42%
			-webkit-transform: scale(1.01)
		43%
			-webkit-transform: scale(1.01)
		44%
			-webkit-transform: scale(1.01)
		45%
			-webkit-transform: scale(1.01)
		46%
			-webkit-transform: scale(1.01)
		47%
			-webkit-transform: scale(1.01)
		48%
			-webkit-transform: scale(1.01)
		49%
			-webkit-transform: scale(1.01)
		50%
			-webkit-transform: scale(1)
		51%
			-webkit-transform: scale(1)
		52%
			-webkit-transform: scale(1)
		53%
			-webkit-transform: scale(1)
		54%
			-webkit-transform: scale(1)
		55%
			-webkit-transform: scale(1)
		56%
			-webkit-transform: scale(1)
		57%
			-webkit-transform: scale(1)
		58%
			-webkit-transform: scale(1)
		59%
			-webkit-transform: scale(1)
		60%
			-webkit-transform: scale(1)
		61%
			-webkit-transform: scale(1)
		62%
			-webkit-transform: scale(1)
		63%
			-webkit-transform: scale(1)
		64%
			-webkit-transform: scale(1)
		65%
			-webkit-transform: scale(1)
		66%
			-webkit-transform: scale(1)
		67%
			-webkit-transform: scale(1)
		68%
			-webkit-transform: scale(1)
		69%
			-webkit-transform: scale(1)
		70%
			-webkit-transform: scale(1)
		71%
			-webkit-transform: scale(1)
		72%
			-webkit-transform: scale(1)
		73%
			-webkit-transform: scale(1)
		74%
			-webkit-transform: scale(1)
		75%
			-webkit-transform: scale(1)
		76%
			-webkit-transform: scale(1)
		77%
			-webkit-transform: scale(1)
		78%
			-webkit-transform: scale(1)
		79%
			-webkit-transform: scale(1)
		80%
			-webkit-transform: scale(1)
		81%
			-webkit-transform: scale(1)
		82%
			-webkit-transform: scale(1)
		83%
			-webkit-transform: scale(1)
		84%
			-webkit-transform: scale(1)
		85%
			-webkit-transform: scale(1)
		86%
			-webkit-transform: scale(1)
		87%
			-webkit-transform: scale(1)
		88%
			-webkit-transform: scale(1)
		89%
			-webkit-transform: scale(1)
		90%
			-webkit-transform: scale(1)
		91%
			-webkit-transform: scale(1)
		92%
			-webkit-transform: scale(1)
		93%
			-webkit-transform: scale(1)
		94%
			-webkit-transform: scale(1)
		95%
			-webkit-transform: scale(1)
		96%
			-webkit-transform: scale(1)
		97%
			-webkit-transform: scale(1)
		98%
			-webkit-transform: scale(1)
		99%
			-webkit-transform: scale(1)
		100%
			-webkit-transform: scale(1)


	@-moz-keyframes slide-keyframes
		0%
			-moz-transform: scale(0.7)
		1%
			-moz-transform: scale(0.73)
		2%
			-moz-transform: scale(0.76)
		3%
			-moz-transform: scale(0.8)
		4%
			-moz-transform: scale(0.85)
		5%
			-moz-transform: scale(0.89)
		6%
			-moz-transform: scale(0.94)
		7%
			-moz-transform: scale(0.98)
		8%
			-moz-transform: scale(1.02)
		9%
			-moz-transform: scale(1.05)
		10%
			-moz-transform: scale(1.08)
		11%
			-moz-transform: scale(1.09)
		12%
			-moz-transform: scale(1.11)
		13%
			-moz-transform: scale(1.11)
		14%
			-moz-transform: scale(1.11)
		15%
			-moz-transform: scale(1.11)
		16%
			-moz-transform: scale(1.1)
		17%
			-moz-transform: scale(1.08)
		18%
			-moz-transform: scale(1.07)
		19%
			-moz-transform: scale(1.05)
		20%
			-moz-transform: scale(1.04)
		21%
			-moz-transform: scale(1.02)
		22%
			-moz-transform: scale(1.01)
		23%
			-moz-transform: scale(0.99)
		24%
			-moz-transform: scale(0.98)
		25%
			-moz-transform: scale(0.97)
		26%
			-moz-transform: scale(0.97)
		27%
			-moz-transform: scale(0.96)
		28%
			-moz-transform: scale(0.96)
		29%
			-moz-transform: scale(0.96)
		30%
			-moz-transform: scale(0.96)
		31%
			-moz-transform: scale(0.97)
		32%
			-moz-transform: scale(0.97)
		33%
			-moz-transform: scale(0.98)
		34%
			-moz-transform: scale(0.98)
		35%
			-moz-transform: scale(0.99)
		36%
			-moz-transform: scale(0.99)
		37%
			-moz-transform: scale(1)
		38%
			-moz-transform: scale(1)
		39%
			-moz-transform: scale(1.01)
		40%
			-moz-transform: scale(1.01)
		41%
			-moz-transform: scale(1.01)
		42%
			-moz-transform: scale(1.01)
		43%
			-moz-transform: scale(1.01)
		44%
			-moz-transform: scale(1.01)
		45%
			-moz-transform: scale(1.01)
		46%
			-moz-transform: scale(1.01)
		47%
			-moz-transform: scale(1.01)
		48%
			-moz-transform: scale(1.01)
		49%
			-moz-transform: scale(1.01)
		50%
			-moz-transform: scale(1)
		51%
			-moz-transform: scale(1)
		52%
			-moz-transform: scale(1)
		53%
			-moz-transform: scale(1)
		54%
			-moz-transform: scale(1)
		55%
			-moz-transform: scale(1)
		56%
			-moz-transform: scale(1)
		57%
			-moz-transform: scale(1)
		58%
			-moz-transform: scale(1)
		59%
			-moz-transform: scale(1)
		60%
			-moz-transform: scale(1)
		61%
			-moz-transform: scale(1)
		62%
			-moz-transform: scale(1)
		63%
			-moz-transform: scale(1)
		64%
			-moz-transform: scale(1)
		65%
			-moz-transform: scale(1)
		66%
			-moz-transform: scale(1)
		67%
			-moz-transform: scale(1)
		68%
			-moz-transform: scale(1)
		69%
			-moz-transform: scale(1)
		70%
			-moz-transform: scale(1)
		71%
			-moz-transform: scale(1)
		72%
			-moz-transform: scale(1)
		73%
			-moz-transform: scale(1)
		74%
			-moz-transform: scale(1)
		75%
			-moz-transform: scale(1)
		76%
			-moz-transform: scale(1)
		77%
			-moz-transform: scale(1)
		78%
			-moz-transform: scale(1)
		79%
			-moz-transform: scale(1)
		80%
			-moz-transform: scale(1)
		81%
			-moz-transform: scale(1)
		82%
			-moz-transform: scale(1)
		83%
			-moz-transform: scale(1)
		84%
			-moz-transform: scale(1)
		85%
			-moz-transform: scale(1)
		86%
			-moz-transform: scale(1)
		87%
			-moz-transform: scale(1)
		88%
			-moz-transform: scale(1)
		89%
			-moz-transform: scale(1)
		90%
			-moz-transform: scale(1)
		91%
			-moz-transform: scale(1)
		92%
			-moz-transform: scale(1)
		93%
			-moz-transform: scale(1)
		94%
			-moz-transform: scale(1)
		95%
			-moz-transform: scale(1)
		96%
			-moz-transform: scale(1)
		97%
			-moz-transform: scale(1)
		98%
			-moz-transform: scale(1)
		99%
			-moz-transform: scale(1)
		100%
			-moz-transform: scale(1)


	@keyframes slide-keyframes
		0%
			transform: scale(0.7)
		1%
			transform: scale(0.73)
		2%
			transform: scale(0.76)
		3%
			transform: scale(0.8)
		4%
			transform: scale(0.85)
		5%
			transform: scale(0.89)
		6%
			transform: scale(0.94)
		7%
			transform: scale(0.98)
		8%
			transform: scale(1.02)
		9%
			transform: scale(1.05)
		10%
			transform: scale(1.08)
		11%
			transform: scale(1.09)
		12%
			transform: scale(1.11)
		13%
			transform: scale(1.11)
		14%
			transform: scale(1.11)
		15%
			transform: scale(1.11)
		16%
			transform: scale(1.1)
		17%
			transform: scale(1.08)
		18%
			transform: scale(1.07)
		19%
			transform: scale(1.05)
		20%
			transform: scale(1.04)
		21%
			transform: scale(1.02)
		22%
			transform: scale(1.01)
		23%
			transform: scale(0.99)
		24%
			transform: scale(0.98)
		25%
			transform: scale(0.97)
		26%
			transform: scale(0.97)
		27%
			transform: scale(0.96)
		28%
			transform: scale(0.96)
		29%
			transform: scale(0.96)
		30%
			transform: scale(0.96)
		31%
			transform: scale(0.97)
		32%
			transform: scale(0.97)
		33%
			transform: scale(0.98)
		34%
			transform: scale(0.98)
		35%
			transform: scale(0.99)
		36%
			transform: scale(0.99)
		37%
			transform: scale(1)
		38%
			transform: scale(1)
		39%
			transform: scale(1.01)
		40%
			transform: scale(1.01)
		41%
			transform: scale(1.01)
		42%
			transform: scale(1.01)
		43%
			transform: scale(1.01)
		44%
			transform: scale(1.01)
		45%
			transform: scale(1.01)
		46%
			transform: scale(1.01)
		47%
			transform: scale(1.01)
		48%
			transform: scale(1.01)
		49%
			transform: scale(1.01)
		50%
			transform: scale(1)
		51%
			transform: scale(1)
		52%
			transform: scale(1)
		53%
			transform: scale(1)
		54%
			transform: scale(1)
		55%
			transform: scale(1)
		56%
			transform: scale(1)
		57%
			transform: scale(1)
		58%
			transform: scale(1)
		59%
			transform: scale(1)
		60%
			transform: scale(1)
		61%
			transform: scale(1)
		62%
			transform: scale(1)
		63%
			transform: scale(1)
		64%
			transform: scale(1)
		65%
			transform: scale(1)
		66%
			transform: scale(1)
		67%
			transform: scale(1)
		68%
			transform: scale(1)
		69%
			transform: scale(1)
		70%
			transform: scale(1)
		71%
			transform: scale(1)
		72%
			transform: scale(1)
		73%
			transform: scale(1)
		74%
			transform: scale(1)
		75%
			transform: scale(1)
		76%
			transform: scale(1)
		77%
			transform: scale(1)
		78%
			transform: scale(1)
		79%
			transform: scale(1)
		80%
			transform: scale(1)
		81%
			transform: scale(1)
		82%
			transform: scale(1)
		83%
			transform: scale(1)
		84%
			transform: scale(1)
		85%
			transform: scale(1)
		86%
			transform: scale(1)
		87%
			transform: scale(1)
		88%
			transform: scale(1)
		89%
			transform: scale(1)
		90%
			transform: scale(1)
		91%
			transform: scale(1)
		92%
			transform: scale(1)
		93%
			transform: scale(1)
		94%
			transform: scale(1)
		95%
			transform: scale(1)
		96%
			transform: scale(1)
		97%
			transform: scale(1)
		98%
			transform: scale(1)
		99%
			transform: scale(1)
		100%
			transform: scale(1)


	
	.#{$animations-scalein-class}
		opacity: 0
		visibility: hidden
		@include transition-property (transform, opacity, visibility)
		@include transition-duration($animations-scalein-duration)
		@include transition-timing-function($animations-scalein-timing-function)
		@include transition-delay($animations-scalein-delay)
		// @include animation-play-state(paused)

		@include transform(scale(0.7))
		


		&.#{$animation-start-class}
			// @include animation-play-state(running)
			visibility: visible
			opacity: 1
			@include transform(scale(1))

			&.#{$animation-elastic-class}
				@include animation(slide-keyframes $animations-scalein-elastic-duration forwards $animations-scalein-timing-function $animations-scalein-delay)