$progress-slim-class: "#{$pref-widget}progress-slim#{$post-widget}" !global
$progress-slim-bar-class: "#{$pref-widget}bar#{$post-widget}" !global
$progress-slim-bar-height: 7px
$progress-slim-border-radius: 0px !global
$progress-slim-border-width: 0px !global
$progress-slim-border-style: solid !global
