$progress-slim-class: "-progress-slim" !global
$progress-slim-bar-class: "-bar" !global
$progress-slim-bar-height: 7px
// $progress-slim-bar-padding-horizontal: $base-padding-horizontal / 1.5
$progress-slim-border-radius: 0px !global
$progress-slim-border-width: 0px !global
$progress-slim-border-style: solid !global
// $progress-slim-padding: 3px !global
// $progress-slim-background: #fff !global