@mixin play-theme-setter( $i )
	circle
		stroke: nth($themes-background-colors, $i)
	path
		fill: nth($themes-background-colors, $i)

	
	&:hover
		circle
			fill: nth($themes-background-colors, $i)
		path
			@if nth($themes, $i) == "-default-"
				fill: nth($themes-colors, $i)
			@else
				fill: nth($themes-white-colors, $i)




@include exports("play/common")
	
	.#{$play-class}
		cursor: pointer
		display: inline-block
		
		circle
			fill: transparent
			stroke-width: 3
			@include transition (stroke-width 0.2s ease-out 0s, fill 0.2s ease-out 0s)

		path
			@include transition (fill 0.2s ease-out 0s)

		&:hover
			circle
				stroke-width: 10


		// Set sizes
		@each $size in $base-sizes-names
			$i: index($base-sizes-names, $size)
			$pixels: nth($base-sizes-values, $i) * $base-font-size * 5
			@if $size == "_normal"
				@include size( $pixels )
				margin-bottom: -$pixels / 3
			
			&.#{$size}
				@include size( $pixels )
				margin-bottom: -$pixels / 3



		// Set themes
		@each $theme in $themes
			$i: index($themes, $theme)
			
			@if $theme == "-default-"
				@include play-theme-setter($i)
				
			&.#{$theme}
				@include play-theme-setter($i)