@import "variables"
@import "sizes"
@import "themes"

@mixin nav-theme-bullets-item-setter($theme)
	$name: map-get( $theme, name)
	$color: map-get( $theme, color)
	$white-color: map-get( $theme, white-color)
	$border-color: map-get( $theme, border-color)
	$background-color: map-get( $theme, background-color)

	#{$nav-bullets-item}


		color: $white-color

		a
			border-color: $border-color
			color: $white-color

		&.#{$mod-active}
			a
				background-color: $border-color

	&.#{$mod-invert} #{$nav-bullets-item}, #{$nav-bullets-item}.#{$mod-invert}


		color: $color

		a
			border-color: $color
			color: $color

		&.#{$mod-active}
			a
				background-color: $color

@mixin nav-size-bullets-item-setter( $size )
	$multiplier: map-get( $size, multiplier)

	#{$nav-bullets-item}
		margin-right: $nav-bullets-item-margin * $multiplier
		a
			@include size( $nav-bullets-item-size * $multiplier )
			font-size: 0.8em * $multiplier

	&.#{$mod-vertical}
		#{$nav-bullets-item}
			margin-right: inherit
			margin-bottom: $nav-bullets-item-margin * $multiplier


@include exports("nav/bullets/common")

	.#{$nav-bullets-class}
		z-index: $nav-bullets-zindex
		@include user-select(none)

		#{$nav-bullets-item}
			display: inline-block
			position: relative


			a
				display: inline-block
				@include transition (all 0.2s ease-out 0s)
				@include transform-origin( 50% 50% )
				@include transform(rotate(45deg))
				border-width: 1px
				border-style: solid
				cursor: pointer
				opacity: .5

				small
					display: none



			&.#{$mod-active}
				a
					// @include animation(bullets-rotate-from 1.0s ease-in)
					@include transform(rotate(0deg))
					opacity: 1


		&.#{$mod-vertical}
			#{$nav-bullets-item}
				display: block

				a
					small
						display: inline-block
						-webkit-transform: translate3d(0px, 0px, 0px) // Hack for fonts
						opacity: 0
						left: 100%
						font-weight: 100
						margin-left: 0.5em
						margin-top: -0.25em
						position: absolute
						top: 0
						white-space: nowrap
						font-style: normal
						pointer-events: none

					&:hover
						small
							opacity: 1

				&.#{$mod-active}
					a
						small
							opacity: 1

		&.#{$mod-fixed}
			position: absolute

			bottom: $nav-bullets-margin
			left: 50%
			@include transform( translateX(-50%) )

			&.#{$mod-top}
				bottom: inherit
				top: $nav-bullets-margin

			&.#{$mod-middle}
				bottom: inherit
				top: 50%
				@include transform( translateY(-50%) )


			&.#{$mod-left}
				right: inherit
				left: $nav-bullets-margin

			&.#{$mod-right}
				left: inherit
				right: $nav-bullets-margin

				#{$nav-bullets-item}
					a
						small
							left: inherit
							right: 100%
							margin-right: 0.5em

			&.#{$mod-center}
				left: 50%
				right: inherit
				@include transform( translateX(-50%) )
		// 	position: relative
		// 	top: auto

		// 	#{$nav-item}
		// 		display: inline-block
		// 		a
		// 			small
		// 				display: none


		@each $themeName in $themes
			$thm: map-get( $base-themes, $themeName )

			@if $themeName == default
				@include nav-theme-bullets-item-setter($thm)
			&.#{$pref-theme}#{$themeName}#{$post-theme}
				@include nav-theme-bullets-item-setter($thm)

		@each $sizeName in $sizes
			$sz: map-get( $base-sizes, $sizeName )
			@if $sizeName == normal
				@include nav-size-bullets-item-setter($sz)
			&.#{$pref-size}#{$sizeName}#{$post-size}
				@include nav-size-bullets-item-setter($sz)
