$nav-bullets-class: "-bullets" !global
$nav-bullets-margin: 25px !global
$nav-bullets-zindex: 5
$nav-bullets-item: "li" !global
$nav-bullets-item-size: 10px !global
$nav-bullets-item-margin: 4px !global