$badge-class: "#{$pref-widget}badge#{$post-widget}" !global
$badge-font-weight: 600 !global
$badge-border-radius: 50px !global
$badge-border-width: 0px !global
$badge-border-style: solid !global
$badge-padding-vertical: floor($base-padding-vertical / 4)
$badge-padding-horizontal: floor($base-padding-horizontal / 2)
