$alert-class: "#{$pref-widget}alert#{$post-widget}" !global
$alert-border-radius: 3px !global
$alert-border-width: 1px !global
$alert-border-style: solid !global
$alert-padding-vertical: $base-padding-vertical
$alert-padding-horizontal: $base-padding-horizontal
