$label-class: "-label" !global
$label-font-weight: 300 !global
$label-border-radius: 2px !global
$label-border-width: 1px !global
$label-border-style: solid !global
$label-padding-vertical: $base-padding-vertical / 3
$label-padding-horizontal: $base-padding-horizontal / 1.5
