@import "variables"
@import "sizes"
@import "themes"

@mixin thumbnails-theme-caption-setter($theme)
	$background-color: map-get( $theme, background-color)

	&:before
		background-color: $background-color


@include exports("thumbnails/caption")

	.#{$thumbnail-caption-class}

		font-size: $thumbnail-caption-font-size
		position: relative
		margin-top: $thumbnail-caption-padding
		margin-bottom: $thumbnail-caption-padding
		padding-top: $thumbnail-caption-padding
		padding-bottom: $thumbnail-caption-padding

		p
			opacity: .7

		h1, h2, h3, h4, h5, h6
			text-align: center
			margin-top: 0
			margin-bottom: 1em

		&:before
			content: " "
			position: absolute
			height: 1px
			width: 50%

			top: 0
			left: 50%
			margin-left: -25%

		@each $themeName in $themes
			$thm: map-get( $base-themes, $themeName )

			@if $themeName == default
				@include thumbnails-theme-caption-setter($thm)
			&.#{$pref-theme}#{$themeName}#{$post-theme}
				@include thumbnails-theme-caption-setter($thm)


	@include media(new-breakpoint(min-width $base-screen-middle 6))

		.#{$thumbnail-caption-class}
			&.#{$mod-left}, &.#{$mod-right}
				position: absolute
				top: 0
				margin-top: 0
				min-width: 200px

			&.#{$mod-left}
				right: 100%
				margin-right: $thumbnail-caption-padding
				text-align: right
				&:before
					left: inherit
					margin-left: inherit
					right: 0
				h1, h2, h3, h4, h5, h6
					text-align: right

			&.#{$mod-right}
				left: 100%
				margin-left: $thumbnail-caption-padding
				text-align: left
				&:before
					left: 0
					margin-left: 0
					right: inherit
				h1, h2, h3, h4, h5, h6
					text-align: left
