$thumbnail-class: "#{$pref-widget}thumbnail#{$post-widget}" !global
$thumbnail-image-background: #fff // When image is still loading this background will be shown

$thumbnail-caption-class: #{$thumbnail-class}#{$caption-class}
$thumbnail-caption-padding: $base-padding-vertical * 2
$thumbnail-caption-font-size: 80%
