@include exports("common/utilities")

	._no-scroll_
		overflow: hidden!important
	
	._perspective_
		@include perspective( 1200px ) // For modals and other stuff

	._float-right_
		float: right

	._float-left_
		float: left


	@-ms-viewport
		width: device-width

	._visible-phones_
		@include responsive-invisibility()
		@include media(new-breakpoint(max-width 768px 6))
			@include responsive-visibility()
	
	._visible-tablets_
		@include responsive-invisibility()
		@include media(new-breakpoint(min-width 768px max-width 992px 6))
			@include responsive-visibility()

	._visible-desktops_
		@include responsive-invisibility()
		@include media(new-breakpoint(min-width 992px max-width 1200px 6))
			@include responsive-visibility()

	._visible-large-desktops_
		@include responsive-invisibility()
		@include media(new-breakpoint(min-width 1200px 6))
			@include responsive-visibility()



	._hidden-phones_
		@include media(new-breakpoint(max-width 768px 6))
			@include responsive-invisibility()
	
	._hidden-tablets_
		@include media(new-breakpoint(min-width 768px max-width 992px 6))
			@include responsive-invisibility()

	._hidden-desktops_
		@include media(new-breakpoint(min-width 992px max-width 1200px 6))
			@include responsive-invisibility()

	._hidden-large-desktops_
		@include media(new-breakpoint(min-width 1200px 6))
			@include responsive-invisibility()