<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">

		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		
		<link href='http://fonts.googleapis.com/css?family=Raleway|Lobster+Two' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="//use.typekit.net/wws1opp.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/commercial.css">
		<link rel="stylesheet" type="text/css" href="/css/developer.css">
	</head>
	<body>

		<nav class="-navbar-float -dark- _top_" data-kind="navbar">
			<div class="-container">
				<div class="-col1 -offset2">
					<a class="logo" href="/">
						<img src="/img/logo.png">
					</a>
				</div>
				<div class="-col5">
					<div class="_visible-desktops_ _visible-large-desktops_">
						<ul class="-menu -dark- _invert_">
							<li>
								<a>free kit</a>
							</li>
							<li>
								<a>warp1</a>
							</li>
						</ul>
					</div>

					<a class="-navbar-toggle _hidden-desktops_ _hidden-large-desktops_ -btn"><i class="fa fa-th-list"></i></a>
				</div>
			</div>
		</nav>

		<div class="-nav-bullets _right_" data-kind="wall-nav" data-group="wall1"></div>





		<section id="head" data-kind="wall" data-group="wall1" data-name="Head" data-zoom="yes" class="-hero _invert_">

			<header class="-header">
				
				<div class="-container">
					
					<div class="-col6 -offset3">
						
						<h1>
							<span class="tk-jaf-bernina-sans">Wall</span> <span class=" -primary- tk-raleway">widget</span>
						</h1>

						<small>
							<a href="https://github.com/maxmert" class="-avatar _round_">
								<div class="-thumbnail">
									<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc3/t1/c0.28.150.150/35079_103585023028528_4592910_a.jpg?lvh=1" alt="Santi Urso">
								</div>maxmert
							</a> &mdash; <i class="fa fa-github"></i> issues and messages.
						</small>
					
					</div>

				</div>

			</header>

			<div class="-hero-image" data-kind="tilt">
				
				<div class="-thumbnail">
					
					<figure>
						<img src="/img/space2.jpg">
						<figcaption>
							<h4>K1-256 Nebula <small>1M Lightyears</small></h4>
						</figcaption>
					</figure>

				</div>
				
				<div class="-tilt">
					<span class="-tilt-handle"></span>
				</div>

			</div>

			<svg class="-scroller _major" viewBox="-14 -24 55 60">
				<circle cx="14" cy="6" r="27"></circle>
				<path d="M0,0l14,14L29,0"/>
			</svg>

		</section>




		<section id="description" style="margin-top: 20px">
			<div class="-container">
				<div class="-row">
					<div class="-col6 -offset3">
						An element with <code>height: 100%</code>. It can use image or video as a background. Or add <a href="/widgets/carousel">carousel</a> inside. Useful in sites with big blocks of information. Inludes navigation.
					</div>
						<!-- -col6 -->
				</div>
				<!-- -row -->
			</div>
			<!-- -container -->
		</section>



		<section id="usage" data-kind="wall" data-group="wall1" data-name="usage">

			<div class="-container">
				<h1 class="_center_">Common usage</h1>

				<div class="-row">
					<div class="-col8 -offset2">
						<h3>Description</h3>
						To use wall just add <code>-wall</code> to the container.
					
						<h3>CSS</h3>
						<pre><code>&lt;div class="-wall"&gt;
	&lt;!-- Wall content here --&gt;
&lt;/div&gt;</code></pre>
					
						<h3>JS</h3>
						To activate the wall you can just add data attributes to the wall container.

						<pre><code>&lt;div class="-wall" data-kind="wall" data-group="wall-group-name" data-name="current-wall-name"&gt;
	&lt;!-- Wall content here --&gt;
&lt;/div&gt;</code></pre>

						<table class="-table _striped_">
							<thead>
								<tr>
									<th>data attribute</th>
									<th>default</th>
									<th>description</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>kind</td>
									<td><i>wall</i></td>
									<td>
										JS will look for <code>data-kind="wall"</code> to initialize it as a <b>wall</b>.
									</td>
								</tr>
								<tr>
									<td>group</td>
									<td><b>none</b></td>
									<td>
										JS will look for navigation bar with <code>data-kind="wall-nav"</code> and <code>data-group="this-group-name"</code> to add a bullet there. You can see the navigation bar on the right now.
										<p>
											To add a navigation bar simply put this html code in your DOM (not to the <code>-wall</code>)
											<pre><code>&lt;div class="-nav-bullets _right_" data-kind="wall-nav" data-group="wall1"&gt;&lt;/div&gt;</code></pre>
										</p>
									</td>
								</tr>
							</tbody>
						</table>

					</div>
					<!-- -col8 -offset2 -->
				</div>
				<!-- -row -->
			</div>
			<!-- -container -->

		</section>


		<section data-kind="wall" data-group="wall1" data-name="Japan" class="-wall -shader">
			
			<header class="-header">
				
				<div class="-content -container">
					<div class="-col4 -offset4">
						
						<h3>
							<span class="tk-jaf-bernina-sans">All at the tip of your fingers</span>
						</h3>
						<h4 class="tk-jaf-bernina-sans subtitle">Who doesn’t like a neat hyperlink in their documents?</h4>

						<div style="text-align: center">
							<svg class="-play _hidden-tablets_ _hidden-phones_" viewBox="-15 -15 55 60">
								<circle cx="13" cy="15" r="23"></circle>
								<path d="M6.684,25.682L24.316,15.5L6.684,5.318V25.682z"></path>
							</svg>
						</div>

					</div>
				</div>

				<svg class="-scroller _major" viewBox="-14 -24 55 60">
					<circle cx="14" cy="6" r="27"></circle>
					<path d="M0,0l14,14L29,0"/>
				</svg>

			</header>
			
			<div class="-wall-video">
				<video preload="" autoplay="" loop="" muted="" volume="0">
					<source src="/media/japan.mp4" type="video/mp4">
					<source src=" /media/japan.webm" type="video/webm">
					<source src=" /media/japan.ogg" type="video/ogg">
				</video>
			</div>

			<div class="-caption">
				<div class="-container">
					<div class="-row">
						<div class="-col8 -offset2">
							<p>
								How many times have you left where you were typing in the document, went to a new tab in your browser, searched to get a link to paste as a hyperlink? Well no more running around the tabs, you say hyperlink, we bring you Google search at your finger tips, but not just that, how about we search in your documents as well and show results based on your search history.
							</p>

							<p>
								Some reactions are just too predicatable, I mean well, if someone sends you an invitation to a dropbox folder, “Duah” you probably want to open it! And of course, I want to be friends on foursquare too! So why go to that other app and do that action, when Google knows what you want to do next and can bring it to you at the tip of your fingers even without opening the email.
							</p>
						</div>
					</div>
				</div>

			</div>

		</section>


		
		<script src="/js/vendor.js"></script>
		<script type="text/javascript">
		  hljs.initHighlightingOnLoad();
		</script>
		<script src="/js/maxmertkitCommertial.js"></script>
	</body>
</html>