$nav-tabs-class: "#{$pref-widget}tabs#{$post-widget}" !global
$nav-tabs-border-width: 1px !global
$nav-tabs-items-padding-vertical: $base-padding-vertical !global
$nav-tabs-items-padding-horizontal: $base-padding-horizontal !global
$nav-tabs-items-border-radius: 3px !global
$nav-tabs-items-margin: 1px !global
