// Widget prefix and postfix: -btn, -group
$pref-widget: "-"
$post-widget: ""

// Theme: -primary-
$pref-theme: "-"
$post-theme: "-"

// Size: _big
$pref-size: "_"
$post-size: ""

// Modifier: _hover_
$pref-modifier: "_"
$post-modifier: "_"

// Animation: -fadein--
$pref-anim: "-"
$post-anim: "--"
