$mod-left: "_left_"
$mod-center: "_center_"
$mod-right: "_right_"
$mod-justify: "_justify_"

$mod-disabled: "_disabled_"

$mod-unstyled: "_unstyled_"

$mod-horizontal: "_horizontal_"
$mod-vertical: "_vertical_"
$mod-bordered: "_bordered_"
$mod-striped: "_striped_"

$mod-hovered: "_hovered_"
$mod-active: "_active_"