$mod-responsive: "_responsive_" !global

$mod-left: "#{$pref-modifier}left#{$post-modifier}" !global
$mod-center: "#{$pref-modifier}center#{$post-modifier}" !global
$mod-middle: "#{$pref-modifier}middle#{$post-modifier}" !global
$mod-right: "#{$pref-modifier}right#{$post-modifier}" !global
$mod-justify: "#{$pref-modifier}justify#{$post-modifier}" !global
$mod-top: "#{$pref-modifier}top#{$post-modifier}" !global
$mod-bottom: "#{$pref-modifier}bottom#{$post-modifier}" !global

$mod-disabled: "#{$pref-modifier}disabled#{$post-modifier}" !global

$mod-unstyled: "#{$pref-modifier}unstyled#{$post-modifier}" !global

$mod-horizontal: "#{$pref-modifier}horizontal#{$post-modifier}" !global
$mod-vertical: "#{$pref-modifier}vertical#{$post-modifier}" !global
$mod-bordered: "#{$pref-modifier}bordered#{$post-modifier}" !global
$mod-striped: "#{$pref-modifier}striped#{$post-modifier}" !global
$mod-shaded: "#{$pref-modifier}shaded#{$post-modifier}" !global
$mod-round: "#{$pref-modifier}round#{$post-modifier}" !global

$mod-hovered: "#{$pref-modifier}hovered#{$post-modifier}" !global
$mod-active: "#{$pref-modifier}active#{$post-modifier}" !global
$mod-hidden: "#{$pref-modifier}hidden#{$post-modifier}" !global
$mod-invert: "#{$pref-modifier}invert#{$post-modifier}" !global

// For now uses only in js Wall
$mod-visible: "#{$pref-modifier}visible#{$post-modifier}" !global
// $mod-zoomable: "_zoomable_" !global

// For now uses only with Grig and Nav Bullets
$mod-fixed: "#{$pref-modifier}fixed#{$post-modifier}" !global
