$mod-responsive: "_responsive_" !global

$mod-left: "_left_" !global
$mod-center: "_center_" !global
$mod-right: "_right_" !global
$mod-justify: "_justify_" !global
$mod-top: "_top_" !global
$mod-bottom: "_bottom_" !global

$mod-disabled: "_disabled_" !global

$mod-unstyled: "_unstyled_" !global

$mod-horizontal: "_horizontal_" !global
$mod-vertical: "_vertical_" !global
$mod-bordered: "_bordered_" !global
$mod-striped: "_striped_" !global
$mod-shaded: "_shaded_" !global
$mod-round: "_round_" !global

$mod-hovered: "_hovered_" !global
$mod-active: "_active_" !global
$mod-hidden: "_hidden_" !global
$mod-invert: "_invert_" !global

// For now uses only in js Wall
$mod-visible: "_visible_" !global
// $mod-zoomable: "_zoomable_" !global

// For now uses only with Grig
$mod-fixed: "_fixed_" !global
