@include exports("common/utilities")

	._no-scroll_
		overflow: hidden!important

		.-push
			overflow: hidden!important


	._perspective_
		@include perspective( $base-screen-huge ) // For modals and other stuff

	._float-right_
		float: right

	._float-left_
		float: left


	@-ms-viewport
		width: device-width

	._visible-phones_
		@include responsive-invisibility()
		@include media(new-breakpoint(max-width $base-screen-small 6))
			@include responsive-visibility()

	._visible-tablets_
		@include responsive-invisibility()
		@include media(new-breakpoint(min-width $base-screen-small max-width $base-screen-middle 6))
			@include responsive-visibility()

	._visible-desktops_
		@include responsive-invisibility()
		@include media(new-breakpoint(min-width $base-screen-middle max-width $base-screen-huge 6))
			@include responsive-visibility()

	._visible-large-desktops_
		@include responsive-invisibility()
		@include media(new-breakpoint(min-width $base-screen-huge 6))
			@include responsive-visibility()



	._hidden-phones_
		@include media(new-breakpoint(max-width $base-screen-small 6))
			@include responsive-invisibility()

	._hidden-tablets_
		@include media(new-breakpoint(min-width $base-screen-small max-width $base-screen-middle 6))
			@include responsive-invisibility()

	._hidden-desktops_
		@include media(new-breakpoint(min-width $base-screen-middle max-width $base-screen-huge 6))
			@include responsive-invisibility()

	._hidden-large-desktops_
		@include media(new-breakpoint(min-width $base-screen-huge 6))
			@include responsive-invisibility()











	._left-phones_
		@include media(new-breakpoint(max-width $base-screen-small 6))
			float: left !important

	._left-tablets_
		@include media(new-breakpoint(min-width $base-screen-small max-width $base-screen-middle 6))
			float: left !important

	._left-desktops_
		@include media(new-breakpoint(min-width $base-screen-middle max-width $base-screen-huge 6))
			float: left !important

	._left-large-desktops_
		@include media(new-breakpoint(min-width $base-screen-huge 6))
			float: left !important



	._right-phones_
		@include media(new-breakpoint(max-width $base-screen-small 6))
			float: right !important
			margin-right: 0
			margin-left: flex-gutter()

	._right-tablets_
		@include media(new-breakpoint(min-width $base-screen-small max-width $base-screen-middle 6))
			float: right !important
			margin-right: 0
			margin-left: flex-gutter()

	._right-desktops_
		@include media(new-breakpoint(min-width $base-screen-middle max-width $base-screen-huge 6))
			float: right !important
			margin-right: 0
			margin-left: flex-gutter()

	._right-large-desktops_
		@include media(new-breakpoint(min-width $base-screen-huge 6))
			float: right !important
			margin-right: 0
			margin-left: flex-gutter()
