$path-images: "/images" !default
$path-fonts: "/fonts" !default

$base-font-family:			"Helvetica" !default

$base-font-size: 			14px !default
$base-line-height: 			1.428571429 !default
$base-line-height-comp:		$base-font-size * $base-line-height

$base-padding-vertical: 	6px !default
$base-padding-horizontal: 	12px !default