$path-images: "/images" !global
$path-fonts: "/fonts" !global

$base-font-family:			"Helvetica" !global

$base-font-size: 			14px !global
$base-line-height: 			1.428571429 !global
$base-line-height-comp:		$base-font-size * $base-line-height

$base-padding-vertical: 	6px !global
$base-padding-horizontal: 	12px !global

$base-sizes-names: 	_tiny	_small	_minor	_normal	_major	_big	_huge	_giant	_divine !global
$base-sizes-values:	0.25	0.50	0.75	1.0		1.25	1.50	1.75	1.90	2.0 !global

$base-font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !global

$base-screen-huge: 1200 !global
$base-screen-middle: 992 !global
$base-screen-small: 768 !global
$base-screen-tiny: 500 !global


$themes-name: "$theme"
$themes: () !global
$themes-colors: () !global
$themes-border-colors: () !global
$themes-border-light-colors: () !global
$themes-background-colors: () !global
$themes-background-light-colors: () !global