$path-images: "/images" !global
$path-fonts: "/fonts" !global

$base-font-family:			"Helvetica" !global

$base-font-size: 			14px !global
$base-line-height: 			1.428571429 !global
$base-line-height-comp:		$base-font-size * $base-line-height

$base-padding-vertical: 	6px !global
$base-padding-horizontal: 	12px !global