$animations-pushDoorRight-class: "-push-doorright--" !global

$animations-pushDoorRight-duration: 0.4s !global
$animations-pushDoorRight-timing-function: ease-in-out !global
$animations-pushDoorRight-delay: 0s !global


@include exports("animations/pushes/doorRight")


	@include keyframes( pushDoorRightIn )
		from
			@include transform( translateX(0) translateZ(0) rotateY(0deg) )
		to
			@include transform( translateX(100%) translateZ(-1500px) rotateY(-45deg) )


	@include keyframes( pushDoorRightOut )
		from
			@include transform( translateX(100%) translateZ(-1500px) rotateY(-45deg) )
		to
			@include transform( translateX(0) translateZ(0) rotateY(0deg) )


	.#{$animations-pushDoorRight-class}

		// opacity: 0
		// visibility: hidden
		// @include transition( opacity $animations-pushDoorRight-duration forwards $animations-pushDoorRight-timing-function, visibility $animations-pushDoorRight-duration forwards $animations-pushDoorRight-timing-function )
		
		@include transform-origin( 50% 50% )

		&.#{$animation-start-class}
			// opacity: 1
			// visibility: visible

			// & > div
			z-index: -1
			@include animation( pushDoorRightIn $animations-pushDoorRight-duration forwards $animations-pushDoorRight-timing-function )


		&.#{$animation-stop-class}
			// opacity: 0
			// visibility: hidden

			// & > div
			@include animation( pushDoorRightOut $animations-pushDoorRight-duration forwards $animations-pushDoorRight-timing-function )