$animations-pushDoorLeft-class: "#{$pref-anim}push-doorleft#{$post-anim}" !global

$animations-pushDoorLeft-duration: 0.4s !global
$animations-pushDoorLeft-timing-function: ease-in-out !global
$animations-pushDoorLeft-delay: 0s !global


@include exports("animations/pushes/doorLeft")


	@include keyframes( pushDoorLeftIn )
		from
			@include transform( translateX(0) translateZ(0) rotateY(0deg) )
		to
			@include transform( translateX(-100%) translateZ(-1500px) rotateY(45deg) )


	@include keyframes( pushDoorLeftOut )
		from
			@include transform( translateX(-100%) translateZ(-1500px) rotateY(45deg) )
		to
			@include transform( translateX(0) translateZ(0) rotateY(0deg) )


	.#{$animations-pushDoorLeft-class}

		// opacity: 0
		// visibility: hidden
		// @include transition( opacity $animations-pushDoorLeft-duration forwards $animations-pushDoorLeft-timing-function, visibility $animations-pushDoorLeft-duration forwards $animations-pushDoorLeft-timing-function )

		@include transform-origin( 50% 50% )

		&.#{$animation-start-class}
			// opacity: 1
			// visibility: visible

			// & > div
			z-index: -1
			@include animation( pushDoorLeftIn $animations-pushDoorLeft-duration forwards $animations-pushDoorLeft-timing-function )


		&.#{$animation-stop-class}
			// opacity: 0
			// visibility: hidden

			// & > div
			@include animation( pushDoorLeftOut $animations-pushDoorLeft-duration forwards $animations-pushDoorLeft-timing-function )
