$animations-pushRight-class: "#{$pref-anim}push-right#{$post-anim}" !global

$animations-pushRight-duration: 0.4s !global
$animations-pushRight-timing-function: ease-in-out !global
$animations-pushRight-delay: 0s !global


@include exports("animations/pushes/right")


	@include keyframes( pushRightIn )
		from
			@include transform( translateX(0) )
		to
			@include transform( translateX(100%) )


	@include keyframes( pushRightOut )
		from
			@include transform( translateX(100%) )
		to
			@include transform( translateX(0) )


	.#{$animations-pushRight-class}

		// opacity: 0
		// visibility: hidden
		// @include transition( opacity $animations-pushRight-duration forwards $animations-pushRight-timing-function, visibility $animations-pushRight-duration forwards $animations-pushRight-timing-function )

		&.#{$animation-start-class}
			// opacity: 1
			// visibility: visible

			// & > div
			@include animation( pushRightIn $animations-pushRight-duration forwards $animations-pushRight-timing-function )


		&.#{$animation-stop-class}
			// opacity: 0
			// visibility: hidden

			// & > div
			@include animation( pushRightOut $animations-pushRight-duration forwards $animations-pushRight-timing-function )
