$animations-pushScaleout-class: "#{$pref-anim}push-scaleout#{$post-anim}" !global

$animations-pushScaleout-duration: 0.4s !global
$animations-pushScaleout-timing-function: ease-in-out !global
$animations-pushScaleout-delay: 0s !global


@include exports("animations/pushes/scaleOut")


	@include keyframes( pushScaleoutIn )
		from
			@include transform( scale(1) )
		to
			@include transform( scale(0.8) )


	@include keyframes( pushScaleoutOut )
		from
			@include transform( scale(0.8) )
		to
			@include transform( scale(1) )


	.#{$animations-pushScaleout-class}

		// opacity: 0
		// visibility: hidden
		// @include transition( opacity $animations-pushScaleout-duration forwards $animations-pushScaleout-timing-function, visibility $animations-pushScaleout-duration forwards $animations-pushScaleout-timing-function )

		&.#{$animation-start-class}
			// opacity: 1
			// visibility: visible

			// & > div
			@include animation( pushScaleoutIn $animations-pushScaleout-duration forwards $animations-pushScaleout-timing-function )


		&.#{$animation-stop-class}
			// opacity: 0
			// visibility: hidden

			// & > div
			@include animation( pushScaleoutOut $animations-pushScaleout-duration forwards $animations-pushScaleout-timing-function )
