@mixin labels-theme-setter($i)
	@if nth($themes, $i) == "-default-"
		background-color: nth($themes-background-light-colors, $i)
		border-color: nth($themes-background-light-colors, $i)
		color: nth($themes-colors, $i)
	@else
		background-color: nth($themes-background-colors, $i)
		border-color: nth($themes-background-colors, $i)
		color: nth($themes-white-colors, $i)


	&.#{$mod-disabled}, &[disabled], fieldset[disabled] &
		color: rgba(nth($themes-white-colors, $i), .65)

	&.#{$mod-unstyled}
		color: nth($themes-colors, $i)


@include exports("labels/common")

	.#{$label-class}	
		
		display: inline-block
		font-weight: $label-font-weight
		text-align: center
		vertical-align: middle
		border-width: $label-border-width
		border-style: $label-border-style
		border-radius: $label-border-radius
		border-color: transparent
		outline: none
		position: relative

		@include text-overflow

		// Set default size
		padding: $label-padding-vertical $label-padding-horizontal
		font-size: $base-font-size
		line-height: $base-line-height



		@each $theme in $themes
			$i: index($themes, $theme)
			
			@if $theme == "-default-"
				@include labels-theme-setter($i)
				
			&.#{$theme}
				@include labels-theme-setter($i)

		@each $size in $base-sizes-names
			$i: index($base-sizes-names, $size)
			@if #{$size} == "_normal"
				font-size: floor(nth($base-sizes-values, $i) * $base-font-size / 2 * 0.75)
			
			&.#{$size}
				font-size: floor(nth($base-sizes-values, $i) * $base-font-size * 0.75)

		&:empty
			display: none


	// To nest sizes from parents elements
	@each $size in $base-sizes-names
		$i: index($base-sizes-names, $size)
		
		.#{$size}
			.#{$label-class}
				@extend .#{$label-class}.#{$size}