@mixin filter($type)
	@include prefixer(filter, $type, webkit moz spec)

@mixin wall-theme-setter($i)
	color: nth($themes-white-colors, $i)
	background-color: nth($themes-colors, $i)

	.#{$wall-image-class}
		figure figcaption
			color: nth($themes-white-colors, $i)


	@include media(new-breakpoint(max-width 768px 6))
		color: nth($themes-colors, $i)
		background-color: lighten(nth($themes-white-colors, $i), 25%)



@include exports("wall/common")
	.#{$wall-class}
		position: relative
		width: 100%
		min-height: 100%
		background-size: cover
		overflow: hidden
		
		hr
			background-color: #fff


		.#{$scroller-class}
			position: absolute
			top: 100%
			left: 50%

			// Set margins for each size
			@each $size in $base-sizes-names
				$i: index($base-sizes-names, $size)
				$pixels: nth($base-sizes-values, $i) * $base-font-size * 2
				@if $size == "_normal"
					// @include size( $pixels )
					margin-top: -$pixels - 10px
					margin-left: -$pixels / 2
				
				&.#{$size}
					margin-top: -$pixels - 10px
					margin-left: -$pixels / 2


		.#{$header-class-name}, header
			position: relative
			width: 100%
			opacity: 0
			z-index: 3
			@include transition (opacity 1s ease-out 1s)
			display: table

			.#{$content-class-name}
				height: 100%
				width: 100%
				display: table-cell
				vertical-align: middle
				
				h1, h2, h3, h4, h5, h6
					text-align: center
					font-weight: 200

					&.subtitle
						opacity: 0.7

				h1
					font-size: $headings-h1-font-size * 1.5
				
				h2
					font-size: $headings-h2-font-size * 1.5
				
				h3
					font-size: $headings-h3-font-size * 1.5

				h4
					font-size: $headings-h4-font-size * 1.5

				h5
					font-size: $headings-h5-font-size * 1.5

				h6
					font-size: $headings-h6-font-size * 1.5


		.#{$caption-class}
			position: relative
			margin: 30px 0
			font-size: 120%
			font-weight: 100
			top: 100%
			opacity: 0
			z-index: 3
			@include transition (opacity 1s ease-out 1s)
			line-height: 1.5em!important


			
		.#{$wall-video-class}, .#{$wall-image-class}
			position: absolute
			top: 0
			left: 0
			min-width: 100%
			min-height: 100%
			width: auto
			height: auto
			background-size: cover
			@include transition (filter 1s ease-out 0s)

		.#{$wall-video-class}
			video
				z-index: 2
				position: absolute
				min-width: 100%
				min-height: 100%
				width: auto
				height: auto


		.#{$wall-image-class}
			figure, .-thumbnail, figure img
				z-index: 1
				position: absolute
				min-width: 100%
				min-height: 100%
				width: auto
				height: auto
			
			figure figcaption
				position: absolute
				z-index: 2
				display: block
				bottom: 20px
				// width: 100%
				padding: 10px 20px
				@include transition( background-color 0.5s ease-out, overflow 0.5s ease-out )
				height: 6em
				overflow: hidden

				&:after
					content: "..."
					position: absolute
					display: block
					bottom: 5px
					right: 20px

				&.#{$mod-active}
					background-color: rgba( #000, .7 )
					border-radius: 3px
					height: auto
					overflow: visible

					&:after
						display: none




		&.#{$mod-active}
			.#{$header-class-name}, header, .#{$caption-class}
				opacity: 1

		&._blur_
			figure img
				@include filter( blur(5px) )


		@each $theme in $themes
			$i: index($themes, $theme)
			
			@if $theme == "-default-"
				@include wall-theme-setter($i)
				
			&.#{$theme}
				@include wall-theme-setter($i)



	@include media(new-breakpoint(max-width 768px 6))
		.#{$wall-class}
			min-height: 0
			margin-bottom: $base-padding-vertical * 3
			
			.#{$scroller-class}
				display: none
		
			.#{$header-class-name}, header
				height: auto!important

			.#{$wall-video-class}, .#{$wall-image-class}, .#{$wall-video-class} video, .#{$wall-image-class} figure, .#{$wall-image-class} figure img
				position: relative

			.#{$wall-video-class}, .#{$wall-image-class}
				margin: $base-padding-vertical * 2 0

				&:last-child
					margin-bottom: 0

			.#{$caption-class}
				margin: 0px 0
				font-size: 100%