$dropdown-class: "#{$pref-widget}drop#{$post-widget}" !global
$dropdown-z-index: 1000
$dropdown-background-default: #fff
$dropdown-border-default: #fff
$dropdown-border-width: 0px
$dropdown-border-style: solid
$dropdown-border-radius: 3px
$dropdown-arrow-size: 14px
$dropdown-arrow-border-width: 1px
$dropdown-content-padding-vertical: 15px
$dropdown-content-padding-horizontal: 15px
$dropdown-shadow: 0 3px 10px rgba(#000, .1)
