@import 'common'

$shadow-curve-class: "#{$shadow-class}-curve-" !global

@include exports("themes/shadows/curve")
	
	.#{$shadow-curve-class}

		@include shadow-single

		&:before
			bottom: 20px
			left: 2.5%
			width: 95%
			height: 20%
			border-radius: 100px / 10px
			
			box-shadow: 0 9px 10px rgba(0, 0, 0, 0.5), 0 15px 15px rgba(0, 0, 0, 0.2)