<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">

		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		
		<link href='http://fonts.googleapis.com/css?family=Raleway|Lobster+Two' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="//use.typekit.net/wws1opp.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/commercial.css">
		<link rel="stylesheet" type="text/css" href="/css/developer.css">
	</head>
	<body>

		<div class="-nav-bullets _right_" data-kind="wall-nav" data-group="wall1"></div>


		<!-- Do description here -->
		<section data-kind="wall" data-group="wall1" data-name="Maxmertkit.warp1" data-zoom="yes" class="-hero _invert_">

			<header class="-header">
				
				<div class="-container">
					
					<div class="-col6 -offset3">
						
						<h1>
							<span class="tk-jaf-bernina-sans">Maxmertkit</span> <span class=" -primary- tk-raleway">warp1</span>
						</h1>
						<h4 class="tk-jaf-bernina-sans subtitle">Welcome to documents.</h4>
						<p>
							If you will find any bugs, please add issues to the github public repository with tag <b>warp1</b>.
						</p>
						<br>

						<small>
							<a href="https://github.com/maxmert" class="-avatar _round_">
								<div class="-thumbnail">
									<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc3/t1/c0.28.150.150/35079_103585023028528_4592910_a.jpg?lvh=1" alt="Santi Urso">
								</div>maxmert
							</a> &mdash; my <i class="fa fa-github"></i> github account.
						</small>
					
					</div>

				</div>

			</header>

			<div class="-hero-image">
				
				<div class="-thumbnail">
					
					<figure>
						<img src="/img/space.jpg">
						<figcaption>
							<h4>K1-256 Nebula <small>1M Lightyears</small></h4>
						</figcaption>
					</figure>

				</div>
				
				<div class="-tilt">
					<span class="-tilt-handle"></span>
				</div>

			</div>

			<svg class="-scroller _major" viewBox="-14 -24 55 60">
				<circle cx="14" cy="6" r="27"></circle>
				<path d="M0,0l14,14L29,0"/>
			</svg>

		</section>
		<!-- Do description here -->





		<article class="-block-post -container">
			<div class="-row">
				<div class="-col6 -offset3">
					

					<p>
						In this docs I'll show you how to use each widget in maxmertkit.<i>warp1</i>. If you don't undertand something, please, feel free to write me on <a href="mailto:vetrenko.maxim@gmail.com">vetrenko.maxim@gmail.com</a>.
					</p>
					
				</div>
				<!-- -col6 -offset3 -->
			</div>
			<!-- row -->
			
			<section class="-row">
				<div class="-col8 -offset2">
					
					<a class="dev-block-href" href="/widgets/wall"><span>Wall</span></a>

				</div>
			</section>
			<!-- row -->


		
		</article>
		<!-- /-block-post -container -->



		<script src="/js/vendor.js"></script>
		<script src="/js/maxmertkitCommertial.js"></script>
	</body>
</html>